@charset "utf-8";
/* CSS Document */
html,body { /*background:#CCCCCC;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: url(/ScanSeeWeb/images/consumer/hdr_bg.jpg) repeat-x;
	/*background-color:#f8f8f8;*/
	color: #4c4f54;
}

* {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

#hdr {
	height: 160px;
	background: url(/ScanSeeWeb/images/consumer/hdr_bg.jpg) repeat-x;
	margin: 0 auto;
	width: 1000px;
}

#hdrWrpr {
	width: 972px;
	margin: 0 auto;
	padding: 0 14px;
}

.row { /*clear:both !important;*/
	
}

.col1 {
	width: 300px;
}

.col2 {
	text-align: right;
}

.logo {
	padding-top: 20px;
}

.usr_setting {
	border: 1px solid #d2d2d2;
	border-width: 0 1px 1px;
	padding: 6px 10px;
	display: inline-block;
}

.usr_setting span {
	background: url(/ScanSeeWeb/images/consumer/dottedRtBrdr.png) no-repeat
		right top;
	padding: 0 10px 0 0;
	color: #2892c9;
}

.usr_setting img {
	vertical-align: middle;
	padding-left: 6px;
}

.usr_setting li a {
	color: #4C4F54;
}

.usr_setting li a:hover {
	color: #2892C9;
}

.srchPnl {
	padding-top: 16px;
}

.srchPnl label {
	padding: 0 10px;
}

.srchPnl img {
	vertical-align: middle;
}

.srchOptns {
	padding-top: 10px;
	padding-right: 100px;
}

.srchOptns label {
	padding: 5px;
}

.srchOptns input {
	vertical-align: middle;
}

.tabs {
	padding-top: 18px;
}

.tabs li {
	float: left;
	background: url(/ScanSeeWeb/images/consumer/tabLeftBg.png) no-repeat
		left top;
	height: 30px;
	font-size: 13px;
}

.tabs li.active {
	background: url(/ScanSeeWeb/images/consumer/tabLeftBgHvr.png) no-repeat
		left top;
	height: 30px;
}

.tabs li.active a {
	background: url(/ScanSeeWeb/images/consumer/tabRtbgHvr.png) no-repeat
		right top;
	height: 30px;
	color: #fff;
}

.tabs li.active:hover {
	background: url(/ScanSeeWeb/images/consumer/tabLeftBgHvr.png) no-repeat
		left top;
}

.tabs li.active a:hover {
	background: url(/ScanSeeWeb/images/consumer/tabRtbgHvr.png) no-repeat
		right top;
}

.tabs li a {
	background: url(/ScanSeeWeb/images/consumer/tabRtbg.png) no-repeat right
		top;
	height: 30px;
	padding: 0px 20px 0 20px;
	display: block;
	line-height: 30px;
	color: #3f494f;
}

.tabs li:hover {
	background: url(/ScanSeeWeb/images/consumer/tabLeftBgUp.png) no-repeat
		left top;
}

.tabs li a:hover {
	background: url(/ScanSeeWeb/images/consumer/tabRtbgUp.png) no-repeat
		right top;
}

#contWrpr {
	padding: 14px;
}

.breadCrumb {
	background: url(/ScanSeeWeb/images/consumer/breadcrumBg.png) repeat-x;
	line-height: 32px;
	height: 32px;
}

li.brcIcon,li.brcIconSharp {
	background: url(/ScanSeeWeb/images/consumer/breadcrumIconBg.jpg)
		no-repeat;
	width: 43px;
	height: 32px;
	display: block;
}

li.brcIconSharp {
	background: url(/ScanSeeWeb/images/consumer/tab_bg.png) no-repeat;
}

li.brcIcon img {
	position: relative;
	margin: 4px 10px;
}

.breadCrumb {
	position: relative;
}

.breadCrumb span.rtCrnr,.breadCrumb span.ltCrnr {
	background: url(/ScanSeeWeb/images/consumer/breadcrumbrtTop.jpg)
		no-repeat;
	position: absolute;
	width: 11px;
	height: 11px;
	right: 0px;
	top: 0px;
	display: block;
}

.breadCrumb span.ltCrnr {
	background: url(/ScanSeeWeb/images/consumer/breadcrumbltTop.jpg)
		no-repeat;
	left: 0px;
	top: 0px;
}

.breadCrumb li {
	float: left;
	color: #FFFFFF;
}

.breadCrumb li.active {
	color: #FFFFFF;
	padding-left: 15px;
}

.breadCrumb li a {
	color: #CCCCCC;
	padding: 10px 23px 10px 10px;
	background: url(/ScanSeeWeb/images/consumer/breadCrumArrow.png)
		no-repeat right 12px;
}

.breadCrumb li a:hover {
	color: #86dcf1;
}

.contBlks {
	border: 1px solid #dedede;
	display: inline-block;
	width: 970px;
	background: #FFFFFF;
}

#imgslide li {
	width: 231.6px;
	background-color: #FFFFFF;
	font-size: 11px;
	padding: 5px;
	float: left;
	min-height: 220px;
	border: 1px solid #dedede;
	border-width: 0 1px 1px 0;
}

#imgslide li {
	text-align: center;
	position: relative;
}

#imgslide li span {
	display: block;
}

.zeroBrdr-lst li {
	border: 0px !important;
}

.loadSlide {
	position: relative;
}

#imgslide span img {
	cursor: pointer;
	padding: 3px;
}

.autoHt {
	display: none;
	position: relative;
}

.appsite-yes {
	display: none;
}

.autoHt li {
	height: auto !important;
	min-height: 0 !important;
	border: 0px !important;
}

.autoHt li img {
	margin-left: 0px;
}

.imageBlock {
	height: 150px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width: 200px;
}

#imgslide li div.imgWrp {
	width: 200px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	/*margin-left: 18px;*/
	text-align: left;
}

#imgslide li div.imgWrp img {
	width: 200px;
	height: 150px;
	margin: 0 auto;
}

#imgslide li ins a.lt {
	background: url(/ScanSeeWeb/images/consumer/leftArrow.png) no-repeat;
	position: absolute;
	width: 12px;
	height: 15px;
	left: 6px;
	top: 48%;
	z-index: 20;
}

#imgslide li ins a.rt {
	background: url(/ScanSeeWeb/images/consumer/rightArrow.png) no-repeat;
	position: absolute;
	width: 12px;
	height: 15px;
	right: 6px;
	top: 48%;
	z-index: 20;
}
/*.contBlks li:nth-child(4n) {
	border-right:1px solid red!important;
}*/
.pagination {
	padding: 4px 0 4px 0;
	line-height: 20px;
}

.pagination img {
	vertical-align: middle;
	padding: 0 4px 0 0;
}

.backward,.forward,.previous,.next {
	background: url(/ScanSeeWeb/images/consumer/pgntnBackward.png) no-repeat;
	width: 21px;
	height: 20px;
	display: inline-block;
}

.backward:hover {
	background: url(/ScanSeeWeb/images/consumer/pgntnBackwardHvr.png)
		no-repeat;
}

.forward {
	background: url(/ScanSeeWeb/images/consumer/pgntnForward.png) no-repeat;
}

.forward:hover {
	background: url(/ScanSeeWeb/images/consumer/pgntnForwardHvr.png)
		no-repeat;
}

.previous {
	background: url(/ScanSeeWeb/images/consumer/pgntnPrev.png) no-repeat;
}

.previous:hover {
	background: url(/ScanSeeWeb/images/consumer/pgntnPrevHvr.png) no-repeat;
}

.next {
	background: url(/ScanSeeWeb/images/consumer/pgntnNext.png) no-repeat;
}

.next:hover {
	background: url(/ScanSeeWeb/images/consumer/pgntnNextHvr.png) no-repeat;
}

#footer {
	background: #1a1a1a;
	font-size: 11px;
}

#footerWrpr {
	width: 1000px;
	background: url(/ScanSeeWeb/images/consumer/footer-nav-bg.png) no-repeat;
	margin: 0 auto;
	text-align: center;
}

#footerWrpr a {
	display: inline-block;
	padding: 3px 10px 3px 8px;
	line-height: 30px;
	color: #8E8E8E;
	background: url(/ScanSeeWeb/images/consumer/nav-separator.png) no-repeat
		right 13px;
}

#footerWrpr a:hover {
	color: #FFFFFF;
}

#footerWrpr span {
	display: block;
	padding: 10px 0;
	color: #8E8E8E;
}

.tabdPnl {
	background: url(/ScanSeeWeb/images/consumer/tabdNavBg.png) repeat-x;
	height: 54px;
}

.tabdPnl li {
	float: left;
	text-align: center;
	display: block;
}

.tabdPnl li a {
	display: block;
	padding: 4px 26px 0;
	height: 50px;
	border: 1px solid #dedede;
	border-width: 0 1px 0 0;
	color: #4f4f4f;
}

.tabdPnl li a:hover {
	color: #075492;
}

.tabdPnl li.active {
	background: #FFFFFF;
	color: #075492;
}

.tabdPnl li span {
	display: block;
}

.content {
	padding: 10px;
}

.content p {
	line-height: 20px;
}

#prodInfo .splitL {
	width: 686px;
	margin-right: 14px;
}

#prodInfo .splitR {
	width: 250px;
}

.titletxt {
	font-size: 16px;
}

.detail li {
	line-height: 24px;
	color: #4f4f4f;
}

.bold {
	font-weight: bold;
}

.subTabs {
	border: 1px solid #dedede;
}

.subTabs li {
	border-bottom: 1px dotted #dedede;
	line-height: 30px;
}

.subTabs li a {
	padding: 8px 0 8px 10px;
	color: #42515a;
	display: block;
}
/*
.subTabs li.disable a,.subTabs li.disable a:hover {
	color: #B7BCB1;
	background-color: #cccccc;
	cursor: default;
}*/
.subTabs li a:hover {
	color: #2682b9;
	background-color: #FFFFFF;
}

.subTabs h3 {
	padding: 0 0 0 50px;
	height: 36px;
}

.subTabs h3.find {
	background: url(/ScanSeeWeb/images/consumer/MM_GalleryIcon.png)
		no-repeat;
}

.subTabs h3.findDsbl {
	background: url(/ScanSeeWeb/images/consumer/MM_GalleryIconDsbl.png)
		no-repeat;
}

.subTabs h3.online {
	background: url(/ScanSeeWeb/images/consumer/online_Icon.png) no-repeat;
}

.subTabs h3.onlineDsbl {
	background: url(/ScanSeeWeb/images/consumer/online_IconDsbl.png)
		no-repeat;
}

.subTabs h3.wl {
	background: url(/ScanSeeWeb/images/consumer/MM_WishList_icon.png)
		no-repeat;
}

.subTabs h3.sl {
	background: url(/ScanSeeWeb/images/consumer/MM_ShoppingList_Icon.png)
		no-repeat;
}

.subTabs h3.near {
	background: url(/ScanSeeWeb/images/consumer/MM_ThisLocation_Icon.png)
		no-repeat;
}

.subTabs h3.nearBy {
	background: url(/ScanSeeWeb/images/consumer/MM_ThisLocation_Icon.png)
		no-repeat;
}

.greyBg {
	background: #f6f6f6;
	display: block;
}

.rating li {
	padding: 2px;
	margin-top: 5px;
}

.rating li span {
	display: block;
}

#rateShareHtFix .rating {
	height: 210px;
}

.rating li.star {
	background: url(/ScanSeeWeb/images/consumer/Yellow_Fullstar.png)
		no-repeat;
	width: 20px;
	height: 21px;
}

.tabCont,.subTabdCnt {
	display: none;
}

.tabCont p {
	line-height: 20px;
	color: #545c61;
	text-align: justify;
}

.block {
	background: #FFFFFF;
	padding: 10px;
	border: 1px solid #ededed;
}

.block h3 {
	margin-bottom: 16px;
}

.block p {
	line-height: 20px;
	text-align: justify;
}

.block p img {
	padding: 10px 0;
}

.dateTxt {
	color: #4388c8;
	font-size: 11px;
}

.smlTitle {
	font-size: 14px;
	font-weight: bold;
}

.tblImgDesc td {
	padding: 4px;
}

#iframe {
	border: 1px solid #ededed;
	width: 948px;
	height: 600px;
}

.subtabPnl {
	border: 1px solid #dedede;
}

.subTabdCnt {
	padding: 0 10px 10px;
}

.options {
	background: #f5f5f5;
	display: none;
	width: 960px;
	margin: 0 auto;
}

.options li {
	width: 158px;
	float: left;
	border: 1px solid #ededed;
	text-align: center;
	font-size: 12px;
	background: #f5f5f5;
	min-height: 60px;
	padding: 10px 0;
	position: relative;
	cursor: pointer;
}

.options li:hover {
	background: #f5f5f5;
}

.options li input[type="radio"] {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.options li img {
	width: 34px;
	height: 34px;
	margin-bottom: 6px;
}

.options li span {
	display: block;
	text-align: center;
}

.tick {
	background: url(/ScanSeeWeb/images/consumer/tick.png) no-repeat top
		right;
	width: 38px;
	height: 40px;
	right: 0;
	top: 0;
	position: absolute;
	z-index: 9999;
}

#RtlrCtgry li.active {
	background: #FFFFFF !important;
}

#CategoryDsply {
	display: none;
}

.listTbl tr {
	background: url(/ScanSeeWeb/images/consumer/romBg.jpg) repeat-x right
		bottom;
}

.listTbl td {
	padding: 4px 6px;
	border-bottom: 1px solid #dedede;
}

.listTbl td span {
	display: block;
}

.listTbl td span.title {
	font-size: 16px;
}

.listTbl td span.subTitle {
	font-size: 11px;
	color: #0c60a3;
}

#deal p {
	font-size: 12px;
}

.hdnCont {
	display: none;
}

#retlrList tr {
	cursor: pointer;
}

#rtlrSpcl div.splitL {
	width: 540px;
	float: left;
}

#rtlrSpcl div.splitR {
	width: 428px;
	float: right;
	min-height: 276px;
}

.loading {
	background: url(/ScanSeeWeb/images/consumer/bgOverlay.png) repeat;
	width: 969px;
	height: 424px;
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
}

.loading img {
	margin-top: 20%;
	margin-left: 48%;
}

.relative {
	position: relative;
}

#findCntrl td {
	padding: 8px 0;
}

#detailedList {
	background-color: #ededed;
}

#detailedList h3,.post h3 {
	padding: 4px 4px 10px;
	line-height: 36px;
	font-weight: normal;
	position: relative; /*border-bottom:2px solid #0b5d9e;*/
}

.post h3,.subTitleBg {
	background: url(../images/consumer/subTitleBg.png) repeat-x right bottom;
	text-shadow: 0px 1px 1px #fff;
	font-weight: bold !important;
}

#detailedList h3 span {
	display: inline-block;
	position: absolute;
	right: 10px;
}

#detailedList a.icon-bg {
	background: url(../images/consumer/iconsBg.png) no-repeat;
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	margin-right: 10px;
}

#detailedList a.icon-bg img {
	padding: 10px;
}
/*#detailedList h3 span img {
	padding-right:10px;
	padding-top:8px;
}	*/
#detailedList ul {
	border: 1px solid #ededed;
	background-color: #FFFFFF;
	padding: 10px 0;
}

#detailedList li {
	padding: 4px 12px;
	background-color: #FFFFFF;
	line-height: 20px;
	position: relative;
}

#detailedList li.imgBx {
	cursor: pointer;
	width: 288px;
	height: 150px;
}

#detailedList li.imgBx img.default {
	width: 200px;
	height: 150px;
}

#detailedList .contBox {
	width: 318px;
	float: left;
	margin: 4px 0 4px 4px;
	position: relative;
}

div.forDeals .contBox ul {
	min-height: 262px;
}

div.forDeals h3.subTitleBg {
	padding: 4px !important;
}

#detailedList .imgBx {
	text-align: center;
}

#detailedList .title {
	font-size: 15px;
	font-weight: bold;
}

.desc {
	width: 292px;
	background-color: #f0f0f0;
	font-size: 11.5px;
}

a.morelink {
	text-decoration: none;
	outline: none;
}

.morecontent span {
	display: none;
}

.topMrgnBig {
	margin-top: 8%;
}

.setHeight {
	min-height: 400px;
}

.less {
	background: url(/ScanSeeWeb/images/consumer/lessIcon.png) no-repeat 2px
		2px !important;
	width: 9px;
	height: 9px;
	padding-left: 14px;
}

.morelink {
	background: url(/ScanSeeWeb/images/consumer/moreIcon.png) no-repeat 2px
		2px;
	width: 9px;
	height: 9px;
	padding-left: 14px;
}

.bg {
	background-color: #ededed;
}

.contrlStrip {
	border: 1px solid #d6d8d9;
	padding: 4px 0 2px;
	margin-top: 4px;
}

.contrlStrip img {
	cursor: pointer;
}

.contrlStrip:hover {
	background-color: #f6f6f6;
}

.plcHldr {
	color: #b3b3b3 !important;
	font-size: 11px !important;
}

.dropdwnBx {
	background: url(/ScanSeeWeb/images/consumer/dropDwnBg.png) no-repeat;
	width: 196px;
	height: 161px;
	position: absolute;
	z-index: 99999;
	display: none;
	right: 10px;
}

.dropdwnBx ul {
	margin: 20px 4px 0 2px;
}

.dropdwnBx li {
	margin-left: 2px;
}

.dropdwnBx li a {
	text-align: left;
	padding: 6px 10px;
	display: block;
	border-bottom: 1px dotted #ededed;
	color: #4C4F54;
	line-height: 20px;
}

.dropdwnBx li a img {
	vertical-align: middle;
	margin-right: 10px;
}

.dropdwnBx li a:hover {
	color: #fff;
	background-color: #459de1;
}

.secTabs {
	background: url(/ScanSeeWeb/images/consumer/secTabBg.png) no-repeat;
	border-bottom: 1px solid #095796;
	height: 54px;
	margin-bottom: -2px;
	width: 972px;
	position: relative;
}

.secTabs li {
	text-align: center;
	float: left;
	line-height: 16px;
	background: url(/ScanSeeWeb/images/consumer/secBrdrBlue.png) no-repeat
		right 4px;
}

.secTabs li a {
	font-size: 11px;
	/*font-weight:bold;*/
	color: #0a3c64;
	display: block;
	padding: 10px 30px 0 26px;
}

.secTabs li a img {
	vertical-align: text-bottom;
	margin: 0 auto;
	display: block;
	padding-bottom: 3px;
}

.secTabs li a:hover,.secTabs li a.active {
	color: #05090d;
}

.secTabs span {
	position: absolute;
	right: 10px;
	font-size: 20px;
	line-height: 56px;
	color: #90aec6;
}

#ourpartners_info {
	background: url(/ScanSeeWeb/images/consumer/top-shadow-bg.png) repeat-x
		top;
	padding: 16px 0px;
}

#followus_section img {
	margin-left: 26px;
}

.sectnWrp {
	width: 960px;
	margin: 0 auto;
}

.section_title {
	color: #383A3C;
	font-size: 16px;
	margin-bottom: 10px;
}

#cpnDetails div.splitView {
	float: left;
	padding: 10px;
}

#cpnDetails .imgView {
	width: 300px;
	text-align: center;
}

#cpnDetails .contView {
	width: 620px;
}

#cpnDetails .splitView:after {
	display: block;
	clear: both;
	content: " ";
	height: 0;
	overflow: hidden;
}

dl { /*margin-bottom:50px;*/
	
}

#cpnDetails dl dt {
	float: left;
	font-weight: bold;
	margin-right: 10px;
	padding: 5px;
	width: 150px;
	border: 1px dashed #ededed;
	color: #184B72;
	/*background:#F9F9F9;*/
	border-radius: 4px 0 0 4px;
}

#cpnDetails dl dd {
	margin: 10px 170px;
	padding: 5px 0;
	width: 460px;
	color: #737D84;
}

.sctnHdr {
	font-size: 16px;
}

.sctnHdr i {
	font-style: normal;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: -100px;
	display: none;
	font-size: 12px;
	color: #898989;
}

#detailedList li div.pcurl {
	background: url(/ScanSeeWeb/images/consumer/pageCurl.png) no-repeat;
	width: 72px;
	height: 70px;
	position: absolute;
	bottom: -10px;
	right: 0px;
	display: none;
}

#detailedList li span.pgcurlTxt {
	text-align: right;
	display: block;
	margin-top: 40px;
	margin-right: 4px;
}

#detailedList li span a:hover {
	color: #009933;
}

#detailedList ul:hover div.pcurl {
	display: block;
}

#stickyHdr {
	margin-bottom: -50px;
	z-index: 99999;
	position: relative;
}

.activate {
	position: fixed !important;
	width: 970px;
	margin: 0 auto;
	z-index: 9999;
	background: url(/ScanSeeWeb/images/consumer/stickyHdrBg2.png) repeat-x
		right bottom;
	top: 0;
	padding: 0 0 6px 0;
	color: #FFFFFF !important;
	display: none;
}

.activate i {
	color: #FFFFFF !important;
}

.activate h3 {
	padding-left: 6px !important;
	background-image: none !important;
}

.spliView div.splitL,.spliView div.splitR {
	float: left;
}

.splitL {
	width: 320px;
	margin-right: 20px;
}

.splitR {
	width: 630px;
}

.splitCont {
	border: 1px solid #dedede;
}

td.imgDsply img {
	width: 62px !important;
	height: 62px !important;
}

.tglBx {
	position: relative;
	width: 30px;
}

.tglBx img {
	position: absolute;
	left: 8px;
	cursor: pointer;
}

.sctmScroll {
	height: 400px;
	overflow: hidden;
	overflow-y: scroll;
}

.sctmScroll_small {
	height: 220px;
}

#shpngLst .tabdPnl,#wishLst .tabdPnl {
	height: 50px !important;
}

#shpngLst .tabdPnl li a,#wishLst .tabdPnl li a {
	height: 50px !important;
	line-height: 45px;
	padding: 0px;
	background: url("../images/consumer/insetBrdr.png") repeat-x scroll
		right bottom transparent;
}

#shpngLst .tabdPnl li,#wishLst .tabdPnl li {
	width: 33.3333%;
	display: block;
}

#wishLst .tabdCntrl li {
	width: 50% !important;
}

.tbdcnt { /*display: none;*/
	/*padding:10px*/;
	
}

.tabbedPnl td.img img {
	height: 42px;
	width: 42px;
}

.tbdcnt td.img img {
	height: 42px;
	width: 42px;
}

.alt {
	background-color: #F7F7F7;
}

.searchCntrl {
	background: url(/ScanSeeWeb/images/consumer/srchBg.png) repeat-x right
		bottom;
	padding: 6px 6px;
	width: 302px;
}

.srchInput {
	width: 258px !important;
}

.searchCntrl span img {
	vertical-align: middle;
	padding-left: 2px;
	cursor: pointer;
}

.searchCntrl input[type="text"] {
	vertical-align: middle;
}

a.addBtn {
	background: url(/ScanSeeWeb/images/consumer/plusIconTrns.png) no-repeat;
	width: 26px;
	height: 26px;
	display: block;
	padding-left: 6px;
}

a.addBtn:hover {
	background: url(/ScanSeeWeb/images/consumer/plusIcon.png) no-repeat;
}

.brdrTbl td {
	padding: 6px 2px;
	border-bottom: 1px dotted #dedede;
}

.actnCntrl {
	width: 318px;
	background: url(/ScanSeeWeb/images/consumer/actnCntrlBg.png) repeat-x;
	height: 36px;
	border: 1px solid #d2d2d2;
	border-width: 0 1px 1px 1px;
}

.infoCntrl li {
	width: 46%;
	float: left;
}

#threeTab li {
	width: 33% !important;
}

.infoCntrl li:last-child {
	width: 34%;
}

.actnCntrl li {
	background: url(/ScanSeeWeb/images/consumer/actnCntrlSprtr.png)
		no-repeat right bottom;
	height: 36px;
	width: 50% !important;
	float: left;
}

.actnCntrl li a {
	line-height: 36px;
	font-size: 14px;
	display: block;
	text-align: center;
	color: #565656;
	text-shadow: 0px 2px #fff;
}

.actnCntrl li a:hover {
	/*background:url(../images/actnCntrlHvr.png) repeat-x;*/
	
}

.actnCntrl li a span.actn-add,.actnCntrl li a span.actn-del {
	background: url(/ScanSeeWeb/images/consumer/actn-addIcon.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 4px;
}

.actnCntrl li a span.actn-del {
	background-image: url(/ScanSeeWeb/images/consumer/actn-delIcon.png);
}

.actnCntrl li:last-child {
	background: none;
}

.subCntrl {
	display: none;
	position: absolute;
	bottom: 0;
	width: 319px;
}

.subCntrl li {
	float: left;
	display: block;
	width: 33.333333%;
	background: url(/ScanSeeWeb/images/consumer/texture.png) repeat;
}

.subCntrl li a {
	display: block;
	text-align: center;
	padding: 12px 6px;
	color: #565656;
	background: url(/ScanSeeWeb/images/consumer/brdrInset.png) repeat-x
		right top;
}

.subCntrl li a span.list-icon,.subCntrl li a span.fav-icon,.subCntrl li a span.both-icon
	{
	background: url(/ScanSeeWeb/images/consumer/listIcon.png) no-repeat
		center top;
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	margin-bottom: -2px;
}

.subCntrl li a span.fav-icon {
	background: url(/ScanSeeWeb/images/consumer/favIcon.png);
}

.subCntrl li a span.both-icon {
	background: url(/ScanSeeWeb/images/consumer/bothIcon.png);
}

.subCntrl li a:hover {
	color: #1f3f58;
}

tr.subHdr td {
	background: #0B5D9E;
	color: #FFFFFF;
	padding: 6px;
}

.cstmAccordion li {
	cursor: pointer;
	padding: 2px 0;
}

.cstmAccordion li.active div.cstm-Cont { /*display:block;*/
	
}

.ltPnl {
	width: 650px;
}

.iphoneArea {
	height: 416px;
	overflow: hidden;
	overflow-y: scroll;
}

.cstm-Cont .rltPnl {
	width: 320px;
}

.cstmAccordion li dl {
	clear: both !important;
}

.cstmAccordion li dt {
	float: left;
	display: block;
	height: 54px !important;
	padding: 2px 0;
	border-bottom: 1px solid #dedede;
	vertical-align: middle;
}

.cstmAccordion li.cstm-opt dt {
	height: 80px !important;
}

.cstmAccordion li.cstm-opt span.col_actn {
	float: left;
	width: 30%;
	display: block;
}

.cstmAccordion li.cstm-opt span.col_actn img {
	vertical-align: middle;
	margin-right: 6px;
}

div.cstm-Cont {
	display: none;
	clear: left;
	height: 416px;
	/*	overflow:hidden;
		overflow-y:scroll;*/
	border-bottom: 4px solid #dedede;
	/*	border-width:0 4px 4px 4px;*/
	margin: 0 auto;
	width: 100%;
}

.cstm-Cont li span {
	display: inline-block;
	padding-left: 10px;
}

.cstmAccordion li ul.listView li {
	height: 48px !important;
	border-bottom: 1px solid #dedede;
	padding: 4px 8px;
	background: #f8f8f8;
	background: url(/ScanSeeWeb/images/consumer/linen.png) repeat;
	font-size: 14px;
}

.cstmAccordion li ul li a {
	color: #4e555d;
	display: block;
}

.cstmAccordion li ul li:hover a {
	color: #4c96b5;
}

.cstmAccordion li dt.cstm-img {
	width: 62px;
	text-align: center;
}

.cstmAccordion li dt.cstm-title {
	width: 748px;
}

.cstmAccordion li dt.cstm-spcl {
	width: 126px;
}

.cstmAccordion li dt.cstm-spcl button {
	margin-top: 6px;
}

.cstmAccordion li dt.cstm-rtarrow {
	width: 34px;
}

.cstm-title span.title {
	font-size: 16px;
}

.cstm-title span.subTitle {
	color: #0c60a3;
}

.cstmAccordion li dt.cstm-rtarrow img {
	padding-top: 16px;
}

.cstmAccordion li { /*padding:6px;*/
	
}

.cstmAccordion li dt span {
	display: block;
	line-height: 24px;
}

.four-up {
	background: url("/ScanSeeWeb/images/consumer/tabdNavBg.png") repeat-x
		scroll right bottom;
	height: 49px;
}

.four-up li {
	width: 25%;
	float: left;
	padding: 0px;
}

.four-up li a {
	display: block;
	text-align: center;
	line-height: 45px;
	padding: 0;
	border-right: 1px solid #DEDEDE;
}

.topBrdr li {
	border-top: 4px solid #dedede;
}

.topBrdr li.active {
	border-top: 4px solid #0c62a6;
}

.cmnPnl {
	height: 368px;
	overflow: hidden;
	overflow-y: scroll;
	display: none;
}

.cstmTbl td {
	padding: 8px;
	border-bottom: 1px dotted #dedede;
}

.Sales {
	display: block;
}

#tabdContTgl li {
	background: url(/ScanSeeWeb/images/consumer/insetSprtr.png) no-repeat
		right bottom;
}

#tabdContTgl li a {
	border-right: 0px !important;
	background: url(/ScanSeeWeb/images/consumer/brdrInset.png) repeat-x
		right bottom;
}

.icon-txt li a img {
	padding-right: 6px;
}

.brdr-inset {
	
}

.msgBx {
	background: #ececec;
	border: 1px solid #bdbdbd;
	padding: 8px 10px 8px 40px;
	width: 80%;
	margin: 20% auto;
	background-image: url(/ScanSeeWeb/images/consumer/alertb.png);
	background-position: 6px center;
	background-repeat: no-repeat;
	font-size: 14px;
	border-radius: 3px 3px 3px 3px;
	position: relative;
}

.close {
	position: absolute;
	right: 4px;
	top: 4px;
}

.title-desc td a {
	color: #4C566C;
	font-weight: bold;
}

.title-desc td span {
	color: #5480C0;
	display: block;
	font-weight: normal;
	padding-top: 2px;
}

.media li {
	position: relative;
	width: 686px;
	background: url(/ScanSeeWeb/images/consumer/downloadIcon.png) no-repeat
		660px 6px;
}

.media li a {
	display: block;
	padding: 4px 6px;
}

.audio li a,.video li a {
	background: url(/ScanSeeWeb/images/consumer/audioIconOf.png) no-repeat
		6px top;
	text-align: left;
	padding-left: 26px;
	line-height: 22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 2px;
	border: 1px solid #f2f2f2;
}

.video li a {
	background: url(/ScanSeeWeb/images/consumer/videoIcon.png) no-repeat 6px
		top;
	padding-left: 36px;
}

.btnCntrl {
	background: url(/ScanSeeWeb/images/consumer/btnCntrlBg.png) repeat-x
		right bottom;
	height: 38px;
}

.btnCntrl li {
	float: left;
	padding: 10px;
	background: url(/ScanSeeWeb/images/consumer/dottedSprtr.png) no-repeat
		right 6px;
}

.btnCntrl li img {
	vertical-align: middle;
	padding-right: 6px;
}

.grdTbl td {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #DEDEDE;
	border-image: none;
	border-style: dotted;
	border-width: 0 1px 1px 0;
	padding: 6px 8px;
}

.grdTbl td.Label {
	background-color: #f5f5f5;
}

.txtAreaSmall {
	height: 50px;
	width: 230px;
}

.listCntrl td {
	padding: 10px;
	border: 1px dotted #dedede;
}

.listCntrl tr.subHdr {
	height: 40px;
	background: url(../images/consumer/hdrBg_big.png) repeat-x right bottom;
}

.btnStrip {
	padding: 4px;
	background-color: #f5f5f5;
	border-top: 1px solid #dedede;
}

.errIcon {
	background: url("../images/err_icon1.png") no-repeat scroll 2px center
		transparent;
	display: block;
	margin: 1px 0;
	padding: 1px 0;
	text-indent: 10px;
	width: 90%;
}

.errDisp {
	color: red;
	display: none;
	font-weight: normal;
}

.txtAreaSmall {
	height: 50px;
	width: 230px;
}

.cmnTitle {
	font-weight: bold;
	font-size: 13px;
}

.mailpopPnl,.popPnl {
	background: url(../images/transparency.png) repeat;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	color: #FFFFFF;
	top: 0;
	left: 0;
}

.mailInfo {
	width: 290px;
	background: #fff;
	position: relative;
	border: 2px solid #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0 auto;
	margin-top: 20%;
}

.mailInfo ul {
	padding: 10px;
}

.mailInfo li {
	padding: 10px 0;
}

.mailInfo li span {
	color: #000000;
	padding-right: 10px;
	font-weight: bold;
	display: inline-block;
}

.mailInfo li input[type="button"] {
	margin-left: 28px;
}

.actTitleBar {
	background: url(../images/breadcrumBg.png) repeat-x;
	line-height: 30px;
	color: #fff;
	text-indent: 8px;
	overflow: hidden;
	border-radius: -webkit-border-top-left-radius :                        
		  06px;
	-webkit-border-top-right-radius: 06px;
	-moz-border-radius-topleft: 06px;
	-moz-border-radius-topright: 06px;
	border-top-left-radius: 06px;
	border-top-right-radius: 06px;
}

.actTitleBar img {
	position: relative;
	padding: 8px 4px 0 0;
	cursor: pointer;
}
/*Global Styles*/
input[type='text'],input[type='password'],select {
	border: 1px solid #d2d2d2;
	background: url(/ScanSeeWeb/images/consumer/inputBg.png) repeat-x;
	line-height: 22px;
	padding-left: 2px;
	height: 22px;
	width: 220px;
	color: #465259;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.inputSmaller {
	width: 60px !important;
}

.clear {
	line-height: 0 !important;
	float: none !important;
	clear: both !important;
	display: block !important;
	font-size: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 0 !important;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

a img {
	border: 0;
}

a {
	outline-width: 0px;
	text-decoration: none;
	color: #0e6a9e;
}

ul,li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.zeroRtbrdr {
	border-right: 0px !important;
}

.zeroPdng {
	padding: 0px !important;
}

.zeroTopPdng {
	padding-top: 0px !important;
}

.zeroBg {
	background-image: none !important;
	background-color: #fff !important;
}

.mrgnTopSmall {
	margin-top: 10px;
}

.mrgnBtm {
	margin-bottom: 10px;
}

.zeromrgnBtm {
	margin-bottom: 0px !important;
}

.brdrTop {
	border-top: 1px solid #DEDEDE;
}

.brdrRt {
	border-right: 1px solid #DEDEDE;
}

.leftPdng {
	padding-left: 10px;
}

.brdrLsTbl td {
	padding: 6px 8px;
}

.round {
	background-color: #ff0000;
	height: 60px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	width: 60px;
	color: #FFFFFF;
	line-height: 60px;
	font-size: 14px;
	position: absolute;
	z-index: 9999;
	bottom: 20px !important;
	left: 20%;
	opacity: 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	border: 2px solid white;
	cursor: default;
}
/*.round:after {
  position: absolute;
  content: "";
  height: 60%;
  left: 20%;
  right: 20%;
  bottom: -35%;
  box-shadow: 0 0 10px 10px hsla(0, 0%, 0%, .075),
              0 0 40px 20px hsla(0, 0%, 0%, .075),
              inset 0 0 50px 100px hsla(0, 0%, 0%, .15);
  border-radius: 50%;
  transform: rotateX(86deg);
  z-index: -10;
}*/
img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/*Reusable styles */
.subHdr-control {
	background-color: #ededed;
	padding:0 5px 5px 0;
}

.subHdr-control h3 {
	padding: 4px 12px;
	font-weight: normal;
	position: relative;
	background: url(/ScanSeeWeb/images/consumer/insetBrdr.png) repeat-x
		right bottom;
	height: 42px;
	line-height: 42px;
}

.subHdr-control h3 span {
	display: inline-block;
	position: absolute;
	right: 0px;
}

.subHdr-control a.icon-bg {
	background: url(/ScanSeeWeb/images/consumer/iconsBg.png) no-repeat;
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	margin-right: 10px;
}

.subHdr-control a.icon-bg img {
	padding: 10px;
}

.overlayActn {
	background: #fff url(/ScanSeeWeb/images/consumer/overlayBg.png) repeat-x;
	position: absolute;
	z-index: 9999;
	cursor: default;
	padding: 16px 10px;
	/*	-webkit-box-shadow: 0px 0px 4px 2px ;
	box-shadow: 0px 0px 4px 2px ; */
	border: 1px solid #fff;
	display: none;
}

.overlayActn select {
	height: 21px;
	line-height: 21px;
	background: url(/ScanSeeWeb/images/consumer/inputBg.png) repeat-x;
}

.overlayActn input {
	height: auto;
}

.overlayActn a.addBtn {
	vertical-align: bottom;
	position: absolute !important;
	right: 0px;
	top: 14px;
	cursor: pointer;
}

.inputMedium {
	width: 240px;
}

.btn {
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px
		rgba(0, 0, 0, 0.05);
	color: #333333;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}

.btn-special {
	background-color: #DA4F49;
	background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-success,.btn-secondary {
	background-color: #0c60a3;
	background-image: linear-gradient(to bottom, #0c60a3, #174062);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-secondary {
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #6D727B;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.btn-secondary {
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #6d727b;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
	/*padding: 1px 12px;*/
}

.subheader {
	background: #095595;
	padding: 4px 6px;
	color: #FFFFFF;
}

.email-overlay {
	background: url(../images/blueOverayBg.png) repeat;
	position: absolute;
	z-index: 99999;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}

.overlay-form {
	margin: 5px;
	min-height: 186px;
}

.overlay-form button {
	margin-right: 6px;
}

.overlay-form label {
	display: block;
	text-align: left;
	/*padding-left: 26px;*/
}

.overlay-form input {
	
}

#cart .overlay-form li {
	border: 0px;
	min-height: 0 !important;
	width: 210px !important;
}

#cart .overlay-form label { /*padding-left: 20px;*/
	
}

.overlay-form li {
	background: none repeat scroll 0 0 #FFFFFF;
	line-height: 20px;
	padding: 4px 12px;
}

.overlay-form li input {
	width: 80% !important;
}

.pop-title {
	font-size: 24px;
	color: #b1b1b1;
	display: inline-block;
}

.hrzStripeBg {
	background: url(../images/linen.png) repeat scroll 0 0 transparent;
}

.rtCntrl {
	display: inline-block;
	position: absolute;
	right: 0px;
}

.rtCntrl select {
	vertical-align: middle;
}

.no-scroll {
	overflow: hidden !important;
}

.gnrl {
	border: 0px;
}
/* New Style iPhone Preview */
.viewAreaiPhn { /*background-color:#edebeb;*/
	width: 320px;
	height: 416px;
	overflow-y: scroll;
}

.iPhnCont {
	background: url(/ScanSeeWeb/images/consumer/iPhonePreviewLinebg.png)
		repeat-y;
	width: 290px;
	margin: 8px auto;
}

.iPhnContBtm {
	background: url(/ScanSeeWeb/images/consumer/iPhonePreviewbtmBg.png)
		no-repeat bottom;
	width: 290px !important;
	height: 9px;
	display: block;
}

.iPhnCont table {
	padding: 4px;
}

.iPhnCont td {
	border-width: 0px 0px 0px 0px !important;
	padding: 4px;
}

#iphonePanel td { /*border-bottom:0px!important;*/
	
}

.iPhnCont h2 {
	border-width: 0px 0px 0px 0px !important;
	/*fix to remove bottom border from iphone preview in IE*/
}

.iPhnTitle {
	background: url(/ScanSeeWeb/images/consumer/iPhonePreviewHdrBg.png)
		no-repeat !important;
	height: 35px !important;
	line-height: 35px !important;
	font-size: 16px !important;
	color: #000000 !important;
	text-align: center !important;
	padding: 0px !important;
}

.iPhnCont span {
	height: 35px !important;
	line-height: 35px !important;
	font-style: normal !important;
	font-size: 16px !important;
	font-weight: bold !important;
	color: #000000 !important;
	text-align: center !important;
	padding: 0px !important;
	display: inline !important;
}

.dsply-block {
	display: block !important;
}

.inline {
	display: inline !important;
}
/* This styles for IFrame popup */
.ifrmPopupPannel {
	position: absolute;
	z-index: 999999;
	overflow: hidden;
	background-color: #f7f7f7;
	border: 3px solid #bdbdbd;
	left: 50%;
	top: 50%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 4px 2px;
	box-shadow: 0px 0px 4px 2px;
}

.ifrmPopupPannel div.headerIframe {
	background: transparent
		url(/ScanSeeWeb/images/consumer/tableHeaderBG.png) repeat-x 0 0;
	font-size: 12px;
	line-height: 24px;
	text-indent: 10px;
	font-weight: bold;
	margin-left: -1px;
	border-bottom: 1px solid #bdbdbd;
	height: 24px;
	color: #e8edf1;
}

.ifrmPopupPannel div.headerIframe img.closeIframe {
	cursor: pointer;
	float: right;
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 3px;
}

.ifrmPopupPannel div.headerIframe span.fltRt {
	display: inline-block;
	margin-right: 20px;
	font-style: normal;
	font-weight: normal;
}

.ifrmPopupPannel div.headerIframe span.fltRt img.cursorPointer {
	margin-left: 10px;
}

.ifrmPopupPannel div.headerIframe span.fltRt label {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.whiteBG {
	background-color: #FFFFFF !important;
	background-image: none;
}

.cstmScroll {
	height: 320px;
	overflow: hidden;
	overflow-y: scroll;
}
/* IFrame popup style ends here */
.email-overlay {
	background: url(../images/consumer/blueOverayBg.png) repeat;
	position: absolute;
	z-index: 99999;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}

.overlay-form {
	margin: 5px;
	min-height: 186px;
}

.overlay-form button {
	margin-right: 6px;
}

.overlay-form label {
	display: block;
	text-align: left;
	/*padding-left: 26px;*/
}

.overlay-form input {
	
}

.pop-title {
	font-size: 24px;
	color: #b1b1b1;
	display: inline-block;
}
/* IFrame popup style ends here */
.grdTbl td span {
	color: #001F60;
	display: block;
	font-style: italic;
	line-height: 16px;
}

.fluidViewHD div.stretch {
	width: 100% !important;
}

.fluidView div.stretch {
	width: 100% !important;
}

.mobGrd li.stretch {
	width: 100%;
}

.mailpopPnl,.dealMail,.popPnl {
	background: url(../images/transparency.png) repeat;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	color: #FFFFFF;
	top: 0;
	left: 0;
}

.mailInfo {
	width: 290px;
	background: #fff;
	position: relative;
	border: 2px solid #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0 auto;
	margin-top: 20%;
}

.mailInfo  ul {
	padding: 10px;
}

.mailInfo li {
	padding: 10px 0;
}

.mailInfo li span {
	color: #000000;
	padding-right: 10px;
	font-weight: bold;
	display: inline-block;
}

.mailInfo li input[type="button"] {
	margin-left: 28px;
}

.actTitleBar {
	background: url(../images/consumer/breadcrumBg.png) repeat-x;
	line-height: 30px;
	color: #fff;
	text-indent: 8px;
	overflow: hidden;
	border-radius: -webkit-border-top-left-radius :                        
		  06px;
	-webkit-border-top-right-radius: 06px;
	-moz-border-radius-topleft: 06px;
	-moz-border-radius-topright: 06px;
	border-top-left-radius: 06px;
	border-top-right-radius: 06px;
}

.actTitleBar img {
	position: relative;
	padding: 8px 4px 0 0;
	cursor: pointer;
}
/*-------------------START : PREFERENCES-------------------*/
.btnCntrl li {
	background: url("../images/consumer/dottedSprtr.png") no-repeat scroll
		right 6px transparent;
	float: left;
	padding: 10px;
}

.btnCntrl {
	background: url("../images/consumer/btnCntrlBg.png") repeat-x scroll
		right bottom transparent;
	height: 38px;
}

.btnCntrl li img {
	padding-right: 6px;
	vertical-align: middle;
}

.mand {
	background: url("../images/mand2.png") no-repeat scroll right 2px
		transparent;
	padding-right: 10px;
}

.cmnTitle {
	font-size: 13px;
	font-weight: bold;
}

.sctmScroll,.sctmScroll_small {
	height: 400px;
	overflow: hidden;
	overflow-y: scroll;
}

.sctmScroll_small {
	height: 220px;
}

.sctmScroll {
	height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*-------------------END : PREFERENCES-------------------*/

/*--------------------------Start:Scrolling and autocomplete --------------------------*/
.loadingInput {
	border: 1px solid #D4D4D4;
	color: #465259;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 22px;
	line-height: 24px;
	padding-left: 2px;
	width: 200px;
}

.hrzVrtScrollTbl {
	height: 380px !important;
	overflow: scroll !important;
	overflow-x: scroll !important;
}

.ui-autocomplete-loading {
	background: white url('../images/ui-anim_basic_16x16.gif') right center
		no-repeat;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px
}

/*--------------------------End:Scrolling and autocomplete--------------------------*/

/*rating related css */
div.rating-cancel,div.star-rating {
	float: left;
	width: 17px;
	height: 16px;
	text-indent: -999em;
	cursor: pointer;
	display: block;
	background: transparent;
	overflow: hidden
}

div.rating-cancel,div.rating-cancel a {
	background: url(../images/deli.png) no-repeat 0 -16px
}

div.star-rating,div.star-rating a {
	background: url(../images/star.gif) no-repeat 0 0px
}

div.rating-cancel a,div.star-rating a {
	display: block;
	width: 16px;
	height: 100%;
	background-position: 0 0px;
	border: 0
}

div.star-rating-on a {
	background-position: 0 -16px !important
}

div.star-rating-hover a {
	background-position: 0 -32px
}
/* Read Only CSS */
div.star-rating-readonly a {
	cursor: default !important
}
/* Partial Star CSS */
div.star-rating {
	background: transparent !important;
	overflow: hidden !important
}

.valText {
	color: #646D73;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	padding-left: 5px;
	width: 30px;
}

.salesLst label {
	display: block;
	font-size: 14px;
	margin-bottom: 6px;
	color: #0c5da0;
	cursor: pointer;
}

.salesLst span.multiVal {
	min-width: 100px;
	display: inline-block;
}

.salesLst span.sale-icon {
	background: url(/ScanSeeWeb/images/consumer/saleIcon.png) no-repeat;
	width: 36px;
	height: 14px;
	padding-left: 40px;
}

.stretch {
	width: 100% !important;
}
/* Start:Pagination */
.pagination p {
	text-align: left;
}

.pagination p a {
	padding: 1px 3px;
}

.pagination p label.paginationText {
	padding-left: 3px;
}

#backWard,#previous,#forWard,#nxt {
	background-image: url(../images/paginationImg.gif);
	background-repeat: no-repeat;
	display: inline-block;
	height: 8px;
}

.disImg {
	opacity: 0.4;
}

#backWard {
	background-position: 0px 0px;
	width: 5px;
}

#previous {
	background-position: -5px 0px;
	width: 4px;
}

#forWard {
	background-position: right top;
	width: 5px;
}

#nxt {
	background-position: -9px 0px;
	width: 4px;
}

.txtBoxPagn {
	width: 50px;
	border: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #c7cfd1;
	background: url(../images/textboxBg.png) repeat-x;
	background-position: top;
	height: 22px;
	line-height: 20px;
	color: #465259;
}

.overlay-form li {
	background: #FFF;
	line-height: 20px;
	padding: 4px 12px;
}
/* End:Pagination */
i.normal {
	border-left: 1px dotted #3F494F;
	color: #215B91;
	font-style: normal;
	margin-left: 10px;
	padding-left: 5px;
}

#overlayActn {
	background-color: #DEDEDE;
	border: 4px solid #DEDEDE;
	box-shadow: 0 0 5px #888888;
	margin-top: 10px;
	width: 962px;
	z-index: 99999;
}

.nub {
	background: url("../images/consumer/nub_top.png") no-repeat scroll 0 0
		transparent;
	height: 23px;
	position: absolute;
	right: 170px;
	top: -26px;
	width: 44px;
}

.zeroBrdr {
	border: 0 none !important;
}

.cstmAccordion li dt.cstm-spcl button {
	margin-top: 6px;
}

.beforeLogin li {
	float: left;
	border-right: 1px dotted #3F494F;
	padding: 0 8px;
}

.beforeLogin li.last {
	border-right: 0px !important;
}

.cstm-spcl input.btn-special {
	margin-top: 10px;
}

li.disable  a {
	color: #999999 !important;
	cursor: default !important;
	background: #f6f6f6 !important;
}

.cstm-alert {
	background: #0a5a9c url(../images/consumer/alert-icon.png) no-repeat 8px
		2px;
	display: inline-block;
	padding: 10px 30px 10px 46px;
	color: #fff;
	position: absolute;
	min-width: 160px;
	margin-top: -50px;
	display: none;
}

.alert-close {
	background: url(../images/consumer/alert-close.png) no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	position: absolute;
	right: 4px;
	top: 9px;
	cursor: pointer;
}

.alert-nub {
	background: url(../images/consumer/alert-nub.png) no-repeat;
	width: 20px;
	height: 9px;
	display: block;
	position: absolute;
	bottom: -8px;
	left: 10px;
}

p.trnctTxt {
	color: #0C5DA0;
	display: block;
	font-size: 14px;
	margin-bottom: 6px;
}

#usrAcces {
	color: #2F2F2F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

p.trnctTxt {
	color: #0C5DA0;
	display: block;
	font-size: 14px;
	margin-bottom: 6px;
}

.labeltxt {
	color: #2EA4DB;
}

.labeltxt label {
	font-weight: bold;
	color: #9DA8B2;
}

.bannerAd {
	background: url(/ScanSeeWeb/images/consumer/banner_bg.png) no-repeat
		left bottom !important;
	width: 634px;
	height: 55px;
}

.bannerAd img {
	margin-left: 149px;
}

.cstm-dsply img {
	vertical-align: middle;
	padding: 0 10px;
}

.cstm-dsply i {
	font-style: normal;
	display: none;
	color: #737D84;
}

.cstm-dsply a:hover i {
	display: inline-block;
}

div.hotdeals .contBox ul {
	min-height: 270px;
}

.actnCntrl li a span.actn-add,.actnCntrl li a span.actn-del {
	background: url(../images/consumer/actn-addIcon.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 4px;
}

.actnCntrl li a span.actn-del {
	background-image: url(../images/consumer/actn-delIcon.png);
}

.actnCntrl,.infoCntrl {
	width: 318px;
	background: url(../images/consumer/actnCntrlBg.png) repeat-x;
	height: 36px;
	border: 1px solid #d2d2d2;
	border-width: 0 1px 1px 1px;
}

.infoCntrl {
	width: 100%;
}

.actnCntrl li a,.infoCntrl li {
	line-height: 36px;
	font-size: 14px;
	display: block;
	text-align: center;
	color: #565656;
	text-shadow: 0px 2px #fff;
}

#slctCnt,#ttlCnt,#wltotCnt {
	font-style: normal;
	background: url("../images/consumer/dargBgicon.png") no-repeat scroll 0
		0 transparent;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
	width: 40px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.actnCntrl li.tabStretch,.subCntrl li.tabStretch {
	width: 100% !important;
}

.subCntrl li.tabSplit {
	width: 50% !important;
}

.infoCntrl li span.favIcon,.infoCntrl li span.cpnIcon,.infoCntrl li span.dealIcon,.infoCntrl li span.saleIcon
	{
	background: url(../images/consumer/favtabIcon.png) no-repeat;
	width: 28px;
	height: 28px;
	display: inline-block;
	line-height: 28px !important;
	margin-right: 4px;
}

.infoCntrl li span.cpnIcon {
	background: url(../images/consumer/cpntabIcon.png) no-repeat;
}

.infoCntrl li span.dealIcon {
	background: url(../images/consumer/deals_Icon.png) no-repeat;
}

.infoCntrl li span.saleIcon {
	background: url(../images/consumer/salesIcon.png) no-repeat;
}

#shpngList tr.subHdr td,.sctmScroll tr.subHdr td {
	background: #707f90 url(../images/consumer/subHdrBg_blue.png) repeat-x;
	/*background:#7d90a0;*/
	color: #143651;
	/*border:1px solid #b2d3e9;
	border-width:0 0 1px 0;*/
	font-weight: bold;
}

a.strike-out {
	text-decoration: line-through !important;
}

.actnCntrl li.stretchTab {
	width: 100% !important;
	text-align: center;
}

.list-detail li:first-child {
	font-size: 14px;
	font-weight: bold;
}

.list-detail li {
	padding: 1px;
}

.list-detail li span {
	display: inline-block;
	padding: 0 10px 0 0;
	color: #399dcb;
}

.priceInfo {
	color: #F00 !important;
}

.primaryText {
	font-size: 13px;
}

.infoCntrl li span.hotDealIcon {
	background: url(../images/consumer/MM_HotDeals_Icon.png) no-repeat;
}

.cart li a.actv {
	background: url("../images/consumer/whiteInsetBrdr.png") repeat-x scroll
		0 0 transparent !important;
	height: 50px;
}

.cart li a {
	font-size: 14px;
}

.three-tabs li {
	width: 33%;
	line-height: 36px !important;
}
/************Gowtham CSS Starts here *************/
.min-margin-top {
	margin-top: 35px;
}

.hltBtn {
	background: url("../images/consumer/btnBG.png") repeat-x scroll 0 0
		transparent;
	border: 1px solid #055494;
	color: #fff;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px !important;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	margin: 0 2px;
	overflow: visible;
	padding: 0 15px;
}

.qualifyProdCtr {
	padding: 10px;
	max-height: 640px;
	overflow-y: auto;
}

.brdrTblQP td {
	padding: 6px 2px;
	border-bottom: 1px dotted #dedede;
}

.buttonRightMain {
	padding: 5px;
	text-align: right;
	border-bottom: 1px dotted #c9c9c9;
}

.buttonRightMain ul li {
	display: inline-block;
	margin-right: 12px;
	background: #cacaca;
	padding: 1px 1px 1px 3px;
}

.buttonRightMain ul li:last-child {
	margin-right: 0;
}

.buttonRightMain ul li img {
	vertical-align: middle;
}

.buttonRightMain ul li button {
	background: red;
}

.qPbtn {
	background-color: #eeeded;
	border: none;
	color: #202020;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
	padding: 4px 12px;
	text-align: center;
	vertical-align: middle;
}

.tabs li.disable {
	background: url("/ScanSeeWeb/images/consumer/tabLeftBg.png") no-repeat
		scroll left top transparent !important;
}

.tabs li.disable a {
	color: #B7BCB1 !important;
	background: url("/ScanSeeWeb/images/consumer/tabRtbg.png") no-repeat
		scroll right top transparent !important;
}
.clear-fix:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
                font-size: 0;
}
.min-padding
{
	padding:10px 0 0 5px;
}
.vertical-top img
{
	vertical-align: top;
}