@charset "utf-8";
/* CSS Document */
/*-----------------------------------------Vertical Navigation Starts----------------------------------*/ 
#vNav {
	width:176px;
	background:url(../images/Verticaltabs_Bg.png) repeat-y;
	margin-top:15px;
}
.vNavtopBg {
	width:176px;
	background:url(../images/Verticaltabs_topBg.png) no-repeat;
	height:25px;
}
.vNavbtmBg{
	width:176px;
	height:23px;
	background:url(../images/VerticaltabsBtmBg.png) no-repeat;
}
#vNav li.mainTab,#vNav li.mainTabActive{
	background:url(../images/VerticaltabBg.png) no-repeat;
	line-height:25px;
	text-indent:8px;
	margin-bottom:8px;
}
#vNav li.mainTabActive,#vNav li.mainTab  a:hover,#vNav li.mainTab.active{
	background:url(../images/VerticaltabBgDark.png) no-repeat;
	
}
#vNav li.mainTabActive a {
	color:#FFFFFF;
}
#vNav li.mainTab a{
	color:#FFFFFF;
	font-weight:bold;
	display:block;
}
#vNav li.subTab a {
	display:block;
}
/*#vNav li.subTab {
	display:none;
}*/
/*#vNav ul {
	width:172px;
	margin:0 auto;
}*/
#vNav ul li {
	position:relative;
	background:url(../images/verticaltabgreyBg.png) repeat-x;
	line-height:28px;
}
#vNav li.mainTab a img,#vNav li.mainTabActive a img {
	position:absolute;
	right:20px;
	top:4px;
}
#vNav li.subTab {
	width:172px;
	margin:0 auto;
	border:1px solid #dad9d9;
	border-width:0 0 1px 0;
	font-size:11px;
}
#vNav li.subTab a{
	/*background:url(../images/chkrdBullets.png) no-repeat 6px 11px;*/
	text-indent:20px;
	color:#414346;
}
#vNav li.subTab a:hover,#vNav li.subTab.active a  {
	color:#0e6a9e;
}
#vNav li.subTab.active {
	background:url(../images/activeIndctr.png) no-repeat right;
}
#vNav li.subTabLast{
	border-bottom:none;
	background:url(../images/verticaltabgreyBglast.png) repeat-x;
}
/*-----------------------------------------Vertical Navigation Starts----------------------------------*/ 
.rtContPnl {
	width:766px;
	margin-top:15px;
}
.grpTitles {
	line-height:51px;
	background:url(../images/cmnTitleBg.png) no-repeat;	
}
.mainPgTitle .mainTitle{
	line-height:30px;
	text-indent:0px;
}
.mainTitle{
	color:#00569c;
	font-size:18px;
	font-weight:bold;
	text-indent:7px;
}
.mainTitle img {
	vertical-align:middle;
	padding-right:6px;
}
.subTitle {
	font-size:12px;
	letter-spacing:1px;
	color:#00569c;
}
.caption {
	color:#9d9fa2;
	font-size:11px;
	letter-spacing:1px;
}
.txtSet h4{
	line-height:20px;
	letter-spacing:1px;
}
.contBlkDsply {
	width:250px;
	float:left;
	margin-right:5px;
}
.contBlkDsply h3 {
	margin-bottom:15px;
}
.contBlkDsply span{
	display:block;
}
.splitPnl {
	margin-top:10px;
}
.split2,.split1 {
	width:370px;
	float:left;
	color:#6d7478;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
}

.section_info {
	font-size:11px;
	line-height:16px;
}
.block {
	width:360px;
	margin-right:22px;
}
.block h3 span {
	display:block;
	font-size:13px;
	color:#97b125;
	font-weight:normal;
}
/*----------------------------Icons Panel starts-----------------------------*/
.iconsPnl li {
	float:left;
	padding:2px;
}
.iconsPnl li a img {
	border:1px solid #dcdcdc;
}
.iconsPnl li a img:hover  {
	border:1px dotted #2a87aa;
}
.imgtxt li {
	margin-right:25px;
}
.textSec {
	padding:10px;
	border:1px solid #c9d0d3;
	border-width:0 1px 1px 1px;
	background:url(../images/shadowBG.png) repeat-x bottom;
}
.infoList li{
	text-indent:14px;
	padding:3px 0;
	background:url(../images/lstBullet.png) no-repeat 4px 8px;
	color:#368db6;
}

.contDsply_r {
	width: 766px;
	min-height: 355px;
}

.hghlight{
	background-color:#ededed;
}

tr.sub-hdr td{
 font-weight:bold;
 background-color:#F9F9F9;
}
img.imgAlgn {
 vertical-align:text-bottom!important; 
}
td.rmvRtBrdr {
 border-right:0!important; 
}

/*Retailer Location Grid Location logo Images*/
.img-row {
    display: block;
    overflow: hidden;
    width: 300px;
}

.col {
    display: inline-block;
    float: left;
}

.img-row img {
     margin-right:10px!important;
}
/*-End-*/


/* Portal to update events - Retailers 
Events recurrence pattern */


.subHdr span{
	display:inline-block!important;
}

.formTbl select {
    vertical-align: top;
}
.formTbl tr.tblHdr th {
    background: url("../images/titlebarBg.jpg") repeat-x scroll left bottom rgba(0, 0, 0, 0);
    border-bottom: 1px solid #dedede;
    font-size: 11px;
    font-weight: bold;
    height: 18px;
    padding: 6px;
    text-align: left;
}
.formTbl td{
	border:0;	
	border-right:0!important;
}
.formTbl{
	border:1px solid #dedede;	
}



.bsnsLoctn,.evntLoctn {
    display: none;
}

#recur {
	line-height: 20px;
}
.week-actn li, .recur-lst li {
	display: inline-block;
	padding: 8px 22px 8px 0;
}
.week-actn > li input {
	vertical-align: text-top;
}
.week-actn label {
	padding-left: 5px;
}
.recur-lst li {
}
/*fieldset {
border: 1px solid #DEDEDE;
padding: 0 10px;

}
legend {
font-weight:bold;
margin:0 4px;	
}*/
.mrgnTop_small {
	margin-top: 6px;
}
.recurrence, .recur, .ongoing, #not-ongng, #btnView {
	display: none;
}
#btnView td input {
	vertical-align: middle;
}
.medium {
	width: 100px;
}
.innrTbl td {
	padding: 8px 10px!important;
	line-height: 23px;
}
.recurenceCont td input[type="text"] {
	vertical-align: middle!important;
}
.recurenceCont td input[type="radio"] {
	vertical-align: text-top !important;
}
.cstmSlct {
	display: inline-block;
}
.cstmDropdwn {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDEDE;
	border-right-color: #000000;
	border-bottom-color: #000000;
	left: -1px;
	position: absolute;
	top: 23px;
	width: 100%;
	display: none;
}
.mul-slct {
	background: #3399ff;
	color: #fff;
}
.cstmDropdwn > li {
	border-bottom: 1px dotted #DEDEDE;
	padding: 2px 4px;
	display: block;
}
.cstmDropdwn > li label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#cstmDrpdwnInput {
	background: url(../images/cstmDwnArw.png) no-repeat 166px 9px;
	cursor: default;
	padding-right: 16px;
	width: 160px;
}
.dsblSlct {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cstmDropdwn > li .recDays {
	margin-right: 3px;
	vertical-align: text-top;
}
.lblEndDt {
	display: inline-block;
	width: 53px;
}
.setplchldr {
	color: #dedede;
}
.setLbl {
	display: inline-block;
	vertical-align: bottom;
	width: 150px;
}
.evntsSctn td span {
	font-style:normal;
}

.actn-icon {
	margin-right:10px;	
}

.relative {
    position: relative;
}

.overlay {
    background-color: #fff;
    display: none;
    opacity: 0.2;
		/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
   filter: alpha(opacity=20);
    position: absolute;
    width: 766px;
	min-height:543px;
}

.searchGrd table {
	border: 1px solid #c1e4f0;
	border-width: 1px 1px 0 1px;
}

.searchGrd table tr td {
	padding: 6px 8px;
}

.searchGrd table tr.header {
	background: #40a8ca;
	color: #FFFFFF;
	font-weight: bold;
}
/* ----End---- Portal to update events - Retailers 
Events recurrence pattern */