@charset "utf-8";
/* CSS Document */
* {
	margin:0px;
	padding:0px;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color:#cdcdcd;
	color:#4c566c;
}
#wrapper {
	width:1000px;
	margin:0 auto;
	background:#FFFFFF;
}
/*Header Style Starts*/
#header {
	height:96px;
	background:#ffffff url(../images/header_bg.png) repeat-x;
}
#header_logo {
	padding:14px 0 0 20px;
	display:inline;
}
#header_link {
	color:#404449;
	display:inline;
	background:url(../images/topSecBg.png) repeat-x;
}
#header_link .noBg {
	background:none;
}
#header_link a {
	color:#404449;
}
#header_link a:hover {
	color:#00569c;
}
#header_link ul {
	padding-top:8px;
}
#header_link li, #header_link ul.main {
	float:left;
	height:24px;
	padding-right:5px;
	color:#97a4af;
}
#header_link ul.main {
	line-height:24px;
}
#header_link li img {
	padding-right:5px;
}
/*#header_link li span {
	color:#2da5c4;
}
*/
#header_link li.zeroRtpdng {
	padding-right:0px!important;
}
#header_link li.sprtr {
	background: url(../images/dottedSprtr.png) no-repeat 0 0;
	padding:0 15px;
}
#lftcurv {
	background:url(../images/topSecLftCurv.png) no-repeat left top;
	padding-left:12px;
	height:40px;
}
#header_nav li img {
	vertical-align:middle;
}
#header_nav {
	margin-right:20px;
	float:right;
	font-size:13px;
}
#header_nav ul {
}
#header_nav ul li {
	float:left;
	margin:0 15px;
	display:inline;
}
#header_nav ul li.last {
	margin-right:0px;
}
#header_nav ul li a {
	color:#626262;
}
#header_nav ul li a:hover, #header_nav ul li a.current {
	color:#7a9700;
}
#header_nav ul li a.current {
	background:url(../images/Nav_arrow.png) no-repeat center bottom;
	padding-bottom:12px;
}
/*#content {
	padding:10px 20px 20px 20px;
	overflow:auto;
}*/

#dockPanel {
	background:url(../images/dockBg_brdr.png) repeat-x left bottom;
	overflow:hidden;
	padding:21px 21px 0;
}
#togglePnl {
	background:url(../images/tglShdw.png) repeat-x;
	padding:2px 10px;
	text-align:right;
}
#togglePnl a {
	color:#575a5e;
}
#togglePnl a:hover {
	color:#225384;
}
.section {
}
#topsec {
/*height:420px;*/
}
.btnTab {
	height:40px;
}
.block h1 {
	font-family:"Times New Roman", Times, serif;
	font-size:28px;
	font-weight:bold;
	color:#5a636a;
	background:url(../images/shopingCart-img.png) no-repeat top left;
	padding-left:90px;
	margin-bottom:15px;
}
.block h1 span {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#8aa31f;
	font-weight:normal;
	display:block;
}
.block h1.atHome {
	background-image:url(../images/greenHouse-img.png);
	padding-left:80px;
}
.block h1.anyWhere {
	background-image:url(../images/yellowHouse-img.png);
	padding-left:80px;
}
.block h2 {
	font-size:14px;
	color:#383a3c;
	font-weight:bold;
	line-height:20px;
	margin-bottom:10px;
}
.block h2 span {
	display:block;
	font-size:13px;
	color:#a9c435;
	font-weight:normal;
}
.btnNav {
	background:url(../images/btnNav-bg.png) no-repeat;
	display:block;
	line-height:31px;
	padding-left:15px;
	margin:10px 0;
	cursor:pointer;
}
.btnNav span {
	font-style:italic;
	font-weight:bold;
}
.btnNav a, .btnNav a span {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#e9e9e9;
}
.btnNav a:hover {
	color:#FFFFFF;
}
.btnNav a:hover span {
	color:#fff006;
}
#followus_section img {
	margin-left:26px;
}
#news_section span {
	font-size:11px;
}
#footer_nav ul {
	width:650px;
	margin:0 auto;
	padding:12px 0;
}
#footer_nav li {
	float:left;
	padding:0 10px;
	display:block;
	background:url(../images/nav-separator.png) no-repeat top right;
	line-height:11px;
}
#footer_nav li, #footer_nav li a {
	font-size:11px;
	color:#8e8e8e;
}
#footer_nav li a:hover {
	color:#FFFFFF;
}
#footer_nav li.last {
	background-image:none;
}
#footer_info {
	font-size:11px;
	color:#8e8e8e;
	text-align:center;
	padding:10px 0;
}
.linkMore a {
	color:#1c9ed4;
}
.linkMore a:hover {
	color:#00569c;
}
#main, #slide, #main_home, #Homeslide, #anyWhere_home, #Anywhereslide {
	cursor:pointer;
	display:block;
}
.blocks {
	width:300px;
	background:url(../images/blockBG.png) no-repeat right bottom;
	display:block;
}
.blocks h3 {
	color:#01579c;
	font-size:14px;
}
.block_cont, .findIcon, .shoppingList, .myCoupons, .scanNow, .preferences, .fieldAgent, .surpriseMe, .hotDeals, .wishList {
	padding:10px 10px 10px 0;
	font-size:11px;
	color:#4c566c;
	line-height:17px;
	background:url(../images/ThisLocation_icon.png) no-repeat left 10px;
	padding-left:50px;
	height:50px;
}
.findIcon {
	background-image:url(../images/Find_Icon.png);
}
.shoppingList {
	background-image:url(../images/ShoppingList_icon.png);
}
.myCoupons {
	background-image:url(../images/MyCoupons_icon.png);
}
.scanNow {
	background-image:url(../images/ScanNow_icon.png);
}
.preferences {
	background-image:url(../images/Preferences_icon.png);
}
.fieldAgent {
	background-image:url(../images/FieldAgent_icon.png);
}
.surpriseMe {
	background-image:url(../images/SurpriseMe_icon.png);
}
.hotDeals {
	background-image:url(../images/HotDeals_icon.png);
}
.wishList {
	background-image:url(../images/WishList_icon.png);
}
.info {
	height:35px;
	overflow:hidden;
}
.block_cont .links, .block_cont .links a {
	color:#2da5c4;
}
.block_cont .links a:hover {
	color:#00569c;
}
/*InnerPage style starts*/
#nav {
	background:url(../images/appNavBg.png) repeat-x;
	height:32px;
}
#nav ul {
	padding-left:15px;
}
#nav ul li {
	float:left;
	line-height:30px;
	background:url(../images/navtab-separator.png) no-repeat top right;
	display:block;
}
#nav ul li a {
	color:#FFFFFF;
	padding:0 22px 0 18px;
}
#nav ul li a:hover {
	color:#b9effd;
}
#nav ul li .actvtab {
	color:#02457c;
	background:url(../images/activeBg.png) repeat-x 0 0;
	height:32px;
	display:block;
}
#nav ul li a:hover.actvtab {
	color:#02457c!important;
}
#subnav {
	border-bottom:1px solid #b3b3b3;
	background:#FFFFFF;
	display:block;
	overflow:hidden;
	padding:10px 0 0 0;
}
#subnav ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
	min-width:923px;
	padding-left:10px;
}
#subnav li {
	float:left;
	margin-right:3px;
}
#subnav ul li a, #subnav ul li a span {
	color:#333;
	text-decoration:none;
	height:24px;
	line-height:24px;
	padding:0 0 0 12px;
	display:block;
	background:url(../images/tabsBg.png) no-repeat left top;
	cursor:pointer;
}
#subnav ul li a span {
	padding:0 12px 0 0;
	background:url(../images/tabsBg.png) no-repeat right top;
	white-space: nowrap;
}
#subnav ul li a:hover, #subnav ul li a:hover span {
	background:url(../images/tabsActBg.png) no-repeat left top;
	color:#15428b;
}
#subnav ul li a:hover span {
	background-position:right top;
	color:#fff;
}
#subnav ul li a.active, #subnav ul li a.active span {
	background:url(../images/tabsActBg.png) no-repeat left top;
	color:#15428b;
}
#subnav ul li a.active span {
	background-position:right top;
	width:auto;
	color:#fff;
}
#subnav span a {
	padding-right:15px;
	color:#20a0c9;
	text-decoration:none;
}
.blueBrdr {
	border-bottom:1px solid #2ba5dc!important;
}
.subTabs {
	line-height:26px;
	color:#FFFFFF;
	font-size:12px;
	font-weight:normal;
	padding-left:20px;
}
#tabdNav {
	border-bottom:1px solid #d9dee1;
	height:3.8em;
	overflow:hidden;
	z-index:0;
	position:relative;
}
#tabdNav ul li, #tabdNav ul li a {
	position:relative;
	float:left;
}
#tabdNav ul li {
	top: 15px;
	margin: 0;
	background: none;
	padding: 0;
}
#tabdNav li a {
	display: block;
	padding: 0.9em 1.1em 0 1.1em;
	background: url(../images/roundedBtnBg.png) 0 0 no-repeat;
	color: #333;
	text-decoration: none;
	height:42px;
}
#tabdNav li a span {
	display: block;
	position: absolute;
	height:42px;
	width: 12px;
	background: url(../images/roundedBtnRtBg.png) 0 0 no-repeat;
	right: 0;
	top: 0;
}
#tabdNav li a:hover, #tabdNav li a:hover span {
	background-position: 0 -72px;
	color: #174a74;
}
/* #tabdNav li a:active,  #tabdNav li a:active span { background-position: 0 -144px; color: #fff; }*/
	   #tabdNav li a.actvTab, #tabdNav li a.actvTab span {
	background-position: 0 -144px;
	color: #fff;
	bottom:5px;
}
#verticalNav {
	/*position:relative;*/
		display:inline;
	width:141px;
	border-left:1px solid #ebeeef;
}
#verticalNav ul {
/*position:fixed;*/
}
#verticalNav ul ul {
	position:static;
}
#verticalNav ul li.mainTab {
	background:url(../images/tabBg.png) repeat-x bottom;
	line-height:24px;
	border:1px solid #d8dddf;
	border-width:1px 0 1px 0;
	padding-left:4px;
	color:#3e4548;
}
#secInfo {
	background:url(../images/tabBg.png) repeat-x bottom;
	line-height:28px;
	border:1px solid #d8dddf;
	border-width:1px 0 1px 0px;
	padding-right:10px;
	color:#bebfbf;
	font-weight:bold;
	text-align:right;
	font-size:14px;
}
#verticalNav ul li.mainTab img {
	float:none;
	padding-top:4px;
}
#verticalNav li, #verticalNav li a {
	color:#00569c;
	font-size:12px;
	font-weight:bold;
	border:1px dotted #ededed;
	border-width:0 0 1px 0;
	display:block;
}
#verticalNav ul li img {
	float:right;
	padding-top:6px;
}
#verticalNav li a {
	padding-left:4px;
	text-align:left;
}
#verticalNav li ul li a {
	padding:0 6px;
	color:#3aa9c4;
	font-weight:normal;
}
#verticalNav li ul li, #verticalNav li {
	border-width:0 0 0 0;
	line-height:24px;
}
#verticalNav li a:hover {
	color:#3b3f45;
	background-color:#f6f6f6;/*margin-right:1px;
	border-left:1px solid #ededed;*/
}
.contDsply {
	width:814px;
	min-height:355px;
}
.grdSec {
	border:1px solid #c9d0d3;
	border-width:0 1px 1px 1px;
	background:url(../images/shadowBG.png) repeat-x bottom;
}
.grdSec h2 {
	background:url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height:22px;
	border-bottom:1px solid #ebedef;
	/*color:#092a45;*/
	color:#092A45;
	font-size:12px;
	font-weight:bold;
	padding:4px 8px;
	margin-bottom:15px;
}
.grdSec h2 span {
	font-weight:normal;
	font-size:11px;
	padding-left:10px;
	color:#0d6385;
}
.grdTbl {
	margin-bottom:15px;
}
.grdTbl input[type='radio'] {
	vertical-align:middle;
	margin-right:5px;
}
.grdTbl td {
	padding:6px 8px;
	border-bottom:1px solid #dadada;
	color:#465259;
}
.grdTbl td img, .tranTbl td img {
	vertical-align:middle;
}
.grdTbl td.header, .tranTbl td.header {
	background:url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height:22px;
	border-bottom:1px solid #ebedef;
	color:#092a45;
	font-weight:bold;
	padding:4px 8px;
}
.tranTbl td.brdBtmZero {
	border-bottom:0px!important;
}
.grdTbl td.header span {
	font-weight:normal;
	font-size:12px;
	color:#2a92ab;
}
.tranTbl td {
	padding:6px 8px;
}
.tranTbl td span a {
	color:#02457c;
	font-weight:normal;
}
.tranTbl td span a:hover {
	color:#198aaf;
}
.tranTbl th {
	text-align:left;
	padding:6px 8px;
}
.btn {
	border:1px solid #cacfcf;
	background:url(../images/btnBG.png) repeat-x 0 0;
	height:24px;
	line-height:24px;
	color:#4e5458;
	padding:0 15px;
	cursor: pointer;
	overflow:visible;/*Fix for button width*/
	font-size:12px !important;
	font-weight:bold;
	margin:0 2px;
	font-family:Arial, Helvetica, sans-serif;
}
.searchGrd h1 {
	background:url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height:22px;
	border-bottom:1px solid #ebedef;
	font-size:12px;
	color:#092a45;
	font-weight:bold;
	padding:4px 8px;
	cursor:pointer;
}
.searchGrd h1.searchHeaderExpand, .searchGrd h1.searchHeaderCollaspe {
}
.searchGrd h1.searchHeaderExpand a, .searchGrd h1.searchHeaderCollaspe a {
	/*display:inline-block;*/
	width:18px;
	height:17px;
	margin:2px 0px 0px 0px;
	background:url(../images/expandCollapse.png) no-repeat 0 0;
	text-decoration:none;
}
.searchGrd h1.searchHeaderCollaspe a {
	background-position:bottom;
}
.searchGrd table {
	border:1px solid #c1e4f0;
	border-width:1px 1px 0 1px;
}
.searchGrd table tr td {
	border-bottom:1px solid #c1e4f0;
	padding:6px 8px;
}
.searchGrd table tr.header {
	background:#40a8ca;
	color:#FFFFFF;
	font-weight:bold;
}
.grdCont {
	padding:8px 8px 14px 8px;
	background:url(../images/shadowBG.png) repeat-x bottom;
}
.Label {
	background:#f9f9f9;/*color:#151516!important;*/
}
.textboxBig, .textboxMedium, .textboxSmall, .textboxSmaller, .textboxDate, .txtAreaBig, .txtAreaSmall, .txtAreaLarge, .txtAreaSmaller, .textemail, .textboxSrch,  textarea, file, input[type='password'] {
	width:200px;
	border:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	border-top:1px solid #c7cfd1;
	background:url(../images/textboxBg.png) repeat-x;
	background-position:top;
	height:22px;
	line-height:20px;
	color:#465259;
}
.textboxSmaller {
	width:80px!important;
}
.textboxSrch {
	width:120px!important;
}
.textboxDate {
	width:100px!important;
}
.txtAreaLarge {
	width:600px;
	height:50px;
}
.textBigger {
	width:470px;
	margin-top:2px;
}
.textboxSmall {
	width:100px;
}
.textboxMedium {
	width:170px;
	margin:0 5px;
}
.txtAreaBig {
	width:380px;
	height:50px;
}
.txtAreaSmall {
	width:200px;
	height:50px;
}
.txtAreaBox {
	width:200px;
	height:120px;
}
.txtAreaSmaller {
	width:360px;
	height:20px;
}
.selctBox {
	width:200px;
	line-height:30px;
	padding:2px;
}
.cutlst select option {
	background-color:#0099FF;
}
.textboxMargin {
	margin-top:2px;
}
.navTabSec {
	margin:10px 0;
}
.delImg {
	margin-right:5px;
}
#dealsSetting {
	margin-bottom:15px;/*border-top:1px solid #c9d0d3;*/
}
.actnLst li {
	float:left;
	margin-right:25px;
}
.actnLst li a {
	color:#2ca4c1;
}
.actnLst li a:hover {
	color:#0d4069;
}
.actnLst li img {
	vertical-align:middle;
	padding-right:5px;
}
.splitView {
	padding:10px;
}
.leftView {
	width:44.5%;
	background:#f6f6f6;
	padding:10px;
	min-height:330px;
}
.rightView {
	width:50%;
	background:#f6f6f6;
	padding:10px;
	min-height:330px;
}
table.brdrLsTbl tr td {
	padding:6px 8px;
	line-height:18px;
}
table.brdrLsTbl tr td.lable {
	font-weight:bold;
}
table.brdrLsTbl tr td {
	border-right:0!important;
}
table.brdrLsTbl tr td input[type='radio'], .blkTbl tr td input[type='radio'] {
	vertical-align:middle;
}
table.brdrLsTbl tr.header {
	background:#1f2324;
	line-height:20px;
	color:#FFFFFF;
}
#srchTbl tr td span {
	display:block;
}
.blkTbl tr td {
	padding:10px;
	background:#fafafa;
	border:0px!important;
}
.blkTbl tr td span {
	display:block;
	padding:10px 0 0 0;
	line-height:20px;
}
.actn li {
	float:left;
	margin-right:10px;
}
#reportSec {
	padding:10px;
	background:#f9f9f9;
	min-height:300px;
}
#acptTrms {
	padding:10px;
	color:#14568d;
	font-size:11px;
}
.scrlDiv {
	margin:40px;
	height:300px;
	overflow:scroll;
	overflow-x:hidden;
	border:1px solid #d3d3d3;
	background:url(../images/settings.png) no-repeat bottom right;
}
.contSec {
	padding:0px 10px;
}
.contSec p {
	line-height:26px;
}
.contSec h3 {
	font-weight:bold;
	font-size:12px;
	color:#1090af;
	margin-bottom:10px;
}
.hvrEfct {
	background-color:#f5fbfc;
}
.over {
	background-color:#d7edf3;
	cursor:pointer;
	color:#133c5d;
}
.tblEffect .over {
	cursor:default;
}
.pagination {
	background:url(../images/paginationBg.png) repeat-x;
	padding:5px;
	border:1px solid #c1e4f0;
	border-width:0 1px;
}
.pagination p {
	text-align:left;
}
.pagination p a {
	padding:1px 3px;
}
.pagination p label.paginationText {
	padding-left:3px;
}
#backWard, #previous, #forWard, #nxt {
	background-image:url(../Images/paginationImg.gif);
	background-repeat:no-repeat;
	display:inline-block;
	height:8px;
}
#backWard {
	background-position:0px 0px;
	width:5px;
}
#previous {
	background-position:-5px 0px;
	width:4px;
}
#forWard {
	background-position:right top;
	width:5px;
}
#nxt {
	background-position:-9px 0px;
	width:4px;
}
#loginSec {
	width:372px;
	margin:0 auto;
	background:url(../images/loginBdyBg.png) repeat-y;
	margin-top:80px;
}
#loginSec ul {
	padding:20px 24px;
}
#loginSec li {
	padding:10px 0;
	line-height:25px;
}
#loginSec ul li span {
	font-size:12px;
}
#loginSec ul li img {
	margin-right:20px;
}
#loginSec ul li span.smlTxt {
	font-size:11px;
	color:#00569c;
}
.loginBtm {
	background:url(../images/loginbtmBg.png) no-repeat;
	line-height:54px;
}
#loginSec h1 {
	background:url(../images/loginTopBg.png) no-repeat 0 0;
	line-height:47px;
}
.btnCntrl {
	display:block;
	padding:8px 0;
}
span.smlTxt {
	font-size:11px;
	color:#00569c;
	display:block;
}
.hdnFld {
	display:none;
}
.tblWrp {
	margin:10px;
}
.tblLst tr td {
	padding:10px;
	border-right:0!important;
	border-bottom:10px solid #FFFFFF;
}
.tblLst tr td span {
	display:block;
	padding-top:10px;
}
.tblLst tr td a {
	color:#185b08;
}
ul.prvlgLst {
	width:300px;
	min-height:250px;
}
.prvlgLst li {
	padding:10px;
}
.prvlgLst li input[type='radio'] {
	vertical-align:middle;
}
.secWrap {
	padding:15px;
}
.ifrmDiv {
	width:600px;
	display:inline;
	border:1px solid #ededed;
}
.ifrmDiv tr.header {
	color:#4e6374!important;
	/*background:url(../images/ifrmHdrBg.png) repeat-x;*/
	background:url(../images/subSecHeaderBg_Type1.png) repeat-x;
	font-weight:bold;
}
.desc {
	display: none;
}
.container {
	width:540px;
}
.treeView {
	width:350px;
	border:1px solid #ededed;
	padding:10px;
	margin-bottom:10px;
}
.srchBox li {
	padding:10px 0;
}
.srchBox li img {
	vertical-align:middle;
	padding-left:5px;
}
.brdr {
}
/*InnerPage style ends*/
/*Global Styles*/


.mrgnRt {
	margin-right:10px!important;
}
a img {
	border:0;
}
.topMorePadding {
	padding-top:15px;
}
.btmPadding {
	padding-bottom:10px;
}
.zeroPadding {
	padding:0px!important;
}
.zeroMargin {
	margin:0px!important;
}
.brdrTop {
	border-top:1px solid #c9d0d3;
}
.brdRt {
	border-right:1px solid #dadada!important;
}
.moreRtMrgn {
	margin-right:40px;
}
.RtMrgn {
	margin-right:10px;
}
.LtMrgn {
	margin-left:10px!important;
}
.MrgnTop {
	margin-top:10px;
}
.zeroBrdr {
	border:0px!important;
}
.MrgnBtm {
	margin-bottom:15px;
}
.tblBg {
	background-color:#ececec;
}
#banner {
	background:url(../images/scansee-banner-bg.png) no-repeat;
	height:290px;
	position:relative;
}
/* rotator in-page placement */
.rotator {
	position:absolute;
	top:26px;
	left:562px;
	display: none;
}
/* rotator css */
	div.rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
}
/* rotator image style */	
	div.rotator ul li img {
	background: #FFF;
}
div.rotator ul li.show {
	z-index:500
}
.btnCntrl {
	display:block;
	padding:8px 0;
}
.blockContwrap h2 {
	background:url(../images/blueIcon.png) no-repeat left top;
	height:81px;
	font-size:24px;
	font-weight:normal;
	margin-top:16px;
	padding-left:100px;
}
.blockContwrap h2.manufacturer {
	background:url(../images/DarkblueIcon.png) no-repeat left top;
}
.blockContwrap h2.retailer {
	background:url(../images/RedIcon.png) no-repeat left top;
}
.blockContwrap h2 span {
	display:block;
	color:#50c6e3;
}
.btnLink {
	margin-left:90px;
	background:url(../images/rndBtn.png) no-repeat 0 0;
	line-height:28px;
	padding-left:14px;
	font-size:11px;
}
.btnLink a {
	color:#4c566c;
}
.btnLink a:hover {
	color:#04508f;
}
#content {
	padding:0 21px 21px 21px;
}
/*#content h2 {
	color:#00569C;
}*/
.section {
	overflow:hidden;
}
.section h5 {
	font-size:15px;
	color:#0d2067;
	line-height:20px;
}
.section p {
	line-height:20px;
}
.btnTab {
}
.btnTab table {
	border:0px!important;
}
.btnTab table tr td {
	border-right:0px!important;
	border-bottom:0px!important;
}
.section_info {
	font-size:11px;
	line-height:16px;
}
.blockCont {
	width:308px;
	height:159px;
	margin-right:14px;
	background:url(../images/blkBg.png) no-repeat 0 0;
}
.blockContwrap {
	padding:18px;
}
.block h3 {
	font-size:14px;
	color:#383a3c;
	font-weight:bold;
	line-height:20px;
	margin-bottom:10px;
}
.block h3 span {
	display:block;
	font-size:13px;
	color:#a9c435;
	font-weight:normal;
}
.btnNav {
	background:url(../images/btnNav-bg.png) no-repeat;
	display:block;
	line-height:31px;
	padding-left:15px;
	margin:10px 0;
	cursor:pointer;
}
.btnNav span {
	font-style:italic;
	font-weight:bold;
}
.btnNav a, .btnNav a span {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#e9e9e9;
}
.btnNav a:hover {
	color:#FFFFFF;
}
.btnNav a:hover span {
	color:#fff006;
}
.clrMargin {
	margin-right:0px!important;
}
#ourpartners_info {
	background:url(../images/top-shadow-bg.png) repeat-x top;
	padding:16px 23px;
}
.shdwBg {
	background:url(../images/top-shadow-bg.png) repeat-x top;
}
#partners_section, .leftPanel {
	width:650px;
}
#followus_section, .rightPanel {
	width:300px;
}
#followus_section img {
	margin-left:26px;
}
#partners_section img {
	margin-left:26px;
}
.section_title {
	margin-bottom:10px;
	font-size:16px;
	color:#383a3c;
}
#news_section {
	background:url(../images/newBtmShadow.png) no-repeat bottom center;
	margin-bottom:15px;
	height:40px;
}
#news_section span {
	font-size:11px;
}
#footer_nav {
	background:#1a1a1a url(../images/footer-nav-bg.png) no-repeat top;
}
#footer_nav ul {
	width:650px;
	margin:0 auto;
	padding:12px 0;
}
#footer_nav li {
	float:left;
	padding:0 10px;
	display:block;
	background:url(../images/nav-separator.png) no-repeat top right;
	line-height:11px;
}
#footer_nav li, #footer_nav li a {
	font-size:11px;
	color:#8e8e8e;
}
#footer_nav li a:hover {
	color:#FFFFFF;
}
#footer_nav li.last {
	background-image:none;
}

.loginBtn {
	cursor:pointer;
}
.linkMore a {
	color:#1c9ed4;
}
.linkMore a:hover {
	color:#00569c;
}
.blocks {
	width:300px;
	background:url(../images/blockBG.png) no-repeat right bottom;
	display:block;
}
.info {
	height:35px;
	overflow:hidden;
}
.block_cont .links, .block_cont .links a {
	color:#2da5c4;
}
.block_cont .links a:hover {
	color:#00569c;
}
input[type='text'],input[type='password'] {
	border:1px solid #d4d4d4;
	background:url(../images/inputBg.png) repeat-x;
	line-height:24px;
	padding-left:2px;
	height:22px;
	width:230px;
}
.textboxBig, .textboxMedium, .textboxSmall, .textboxDate, .txtAreaBig, .txtAreaSmall, .txtAreaLarge, .txtAreaSmaller, .textemail, textarea, file {
	width:200px;
	border:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	border-top:1px solid #c7cfd1;
	background:url(../images/textboxBg.png) repeat-x;
	background-position:top;
	height:22px;
	line-height:20px;
	color:#465259;
}
.txtAreaSmall {
	width:230px;
	height:50px;
}
.txtAreaBig {
	width:380px;
	height:50px;
}
.textboxSmall {
	width:144px!important;
}
.textboxDate {
	width:100px!important;
}
#acptTrms {
	padding:10px;
	color:#14568d;
	font-size:11px;
}
.srchBtn {
	background:url(../images/searchBtn.png) no-repeat;
	height:24px;
	width:24px;
	border:1px solid #d4d4d4;
	border-width:1px 1px 1px 0;
	cursor:pointer;
}
/*#tabdContSec {
	height:250px;
	overflow:hidden;
}*/
#tabdPanel {
	width:790px;
	margin-right:12px;
	/*background:url(../images/tabdBg.png) repeat-x bottom;*/
	border:1px solid #dedede;
	overflow:hidden;
	padding:5px;
	background-color:#FFFFFF;
}
#tabdPanelDesc {
	width:140px;
}
.shadowImg {
	background:url(../images/newBtmShadow.png) no-repeat center bottom;
	padding-bottom:15px;
}
/*TabdCont styles starts*/
/*.tabsCont  {
	clear:both;
	float:none;
	padding-top:300px;
	*padding-top:150px;
	border:1px solid #dedede;
	overflow:hidden;
	padding:5px;
	background-color:#FFFFFF;
}*/
.tabsCont ul.tabs {
	list-style:none;
	margin:0;
	padding:0;
}
ul.tabs li {
	line-height:26px;
	float:left;
	margin-right:5px;
}
ul.tabs li a {
	display:inline-block;
	padding:0 15px;
	color:#fff;
	background:url(../images/tabDrakGrad.png) repeat-x 0 0;
	text-decoration:none;
	border:1px solid #dedede;
	border-bottom:none;
}
ul.tabs li a.tabActive {
	background:url(../images/tabGrad.png) repeat-x 0 0;
	color:#333;
	position:relative;
	bottom:-1px;
}
ul.tabs li a:hover {
	text-decoration:none;
}
.tabBanner {
}
.jqDocked {
	height:100px;
}
.tabsPanel {
	padding:10px;
	background:url(../images/smallShadowBg.png) repeat-x 0 0;
	display:none;
	border-top:1px solid #d3d3d3;
	margin-top:20px;
	position:relative;
}
.tabsPanel h3 {
	color:#1c8bc0;
}
.tabsPanel h3 span {
	padding-left:10px;
	color:#4c566c;
	font-size:12px;
	font-weight:normal;
}
#menu {
	padding-left:10px;
	display:none;
}
#menu img {
	cursor:pointer;
}
#iphoneMenu {
	display:none;
}
/*.secBG {
	background:url(../images/SecBG.png) no-repeat top center;
	padding:20px;
}*/
/*TabdCont styles ends*/
#nextNav {
	margin-top:20px;
	text-align:center;
}
#nextNav span {
	display:block;
	font-size:12px;
	font-weight:bold;
}
#nextNav a span {
	color:#4c566c;
}
#nextNav a:hover span {
	color:#1c8bc0;
}
.brdrBlue {
	border-bottom:4px solid #1877bd;
}
/*piechart*/
.wideBox {
	clear: both;
	text-align: center;
	margin-bottom: 50px;
	padding: 10px;
	background: #ebedf2;
	border: 1px solid #333;
	line-height: 80%;
}
#container {
	width: 900px;
	margin: 0 auto;
}
#chart, #chartData {
	border: 1px solid #333;
	background: #ebedf2 url("images/gradient.png") repeat-x 0 0;
}
#chart {
	display: block;
	margin: 0 0 50px 0;
	float: left;
	cursor: pointer;
}
#chartData {
	width: 200px;
	margin: 0 40px 0 0;
	float: right;
	border-collapse: collapse;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	background-position: 0 -100px;
}
#chartData th, #chartData td {
	padding: 0.5em;
	border: 1px dotted #666;
	text-align: left;
}
#chartData th {
	border-bottom: 2px solid #333;
	text-transform: uppercase;
}
#chartData td {
	cursor: pointer;
}
#chartData td.highlight {
	background: #e8e8e8;
}
#chartData tr:hover td {
	background: #f0f0f0;
}
/*piechart ends*/
/*vertical navigation*/
#VertNav {
	width:224px;
	background:url(../images/btmImgNav.png) no-repeat bottom left;
	padding-bottom:77px;
}
#VertNav ul {
	background:url(../images/leftNavBg.jpg) repeat-y;
	padding-top:10px;
}
#VertNav ul li {
	line-height:34px;
	background:url(../images/NavBrdr.png) repeat-x bottom left;
	width:211px;
}
#VertNav ul li a {
	display:block;
	padding-left:15px;
	color:#4c566c;
}
#VertNav ul li a:hover, #VertNav ul li.active, #VertNav ul li a.active {
	background:url(../images/NavHover.png) no-repeat;
	height:34px;
	color:#fff;
	font-weight:bold;/*	width:100%;*/
}
#VertNav ul li a.active {
	background:url(../images/NavActv.png) no-repeat;
	width:100%;
}
#contSec {
	padding:12px 0 0 10px;
	width:720px;
}
#contSec img {
	padding-right:20px;
}
#contSec p {
	font-size:11px;
}
#contSec h1 {
	color:#2fb2db;
	font-size:18px;
	font-weight:normal;
}
#contSec ul li img {
	float:left;
	display:inline-block;
}
#contSec ul li {
	font-size:13px;
	color:#2fb2db;
	font-weight:bold;
	background:url(../images/dottedBrdr.png) repeat-x bottom left;
	padding:15px 0;
}
#contSec ul li a {
	color:#00569c;
}
#contSec ul li a:hover {
	color:#2fb2db;
}
#contSec ul li span {
	display:block;
	padding:5px 0 0 76px;
	font-size:11px;
	font-weight:normal;
	color:#4c566c;
	line-height:16px;
}
#contSec h1 span {
	color:#064b7f;
}
/*vertical navigation ends*/
/*Grid Section*/
.Label {
	background:#f9f9f9;/*color:#151516!important;*/
}
.splitPnl {
	border:1px solid #dadada;
	border-width:1px 1px 1px 1px;
}
.grdTbl input[type='radio'] {
	vertical-align:middle;
	margin-right:5px;
}
.grdTbl td {
	padding:6px 8px;
	border-bottom:1px solid #dadada;
	color:#465259;
}
.grdTbl td span {
	font-style:italic;
	color:#001f60;
	line-height:16px;
	display:block;
}
.grdTbl td img, .tranTbl td img, .tranTbl td input[type='radio'] {
	vertical-align:middle;
}
.tranTbl tr.subheader td {
	color:#fff;
	background:#074b7a;
	font-size:15px;
	font-weight:bold;
}
.dashbrdSec {
	margin:10px 0;
}
.dashbrdSec h2 {
	color:#fff;
	background:#074b7a;
	font-size:15px;
	font-weight:bold;
}
.dashbrdSec h3 {
	padding-left:10px;
	font-weight:bold;
}
.cstmTbl tr td {
	padding:6px 8px;
	border-right:0!important;
	color:#214a97;
}
.cstmTbl tr.header {
	line-height:20px;
	background:#f5f5f5;
	font-weight:bold;
}
.cstmTbl tr.dottedLine td {
	border-bottom:1px dotted #214a97!important;
}
.highlightCol {
	background:#fafafa;
}
.actnLst li {
	float:left;
	margin-right:25px;
}
.actnLst li a {
	color:#2ca4c1;
}
.actnLst li a:hover {
	color:#0d4069;
}
.actnLst li img {
	vertical-align:middle;
	padding-right:5px;
}
.navTabSec {
	margin:10px 0;
}
.RtMrgn {
	margin-right:10px;
}
.searchGrd h1 {
	background:url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height:22px;
	border-bottom:1px solid #ebedef;
	font-size:12px;
	color:#092a45;
	font-weight:bold;
	padding:4px 8px;
	cursor:pointer;
}
.searchGrd h1.searchHeaderExpand, .searchGrd h1.searchHeaderCollaspe {
}
.searchGrd h1.searchHeaderExpand a, .searchGrd h1.searchHeaderCollaspe a {
	/*display:inline-block;*/
	width:18px;
	height:17px;
	margin:2px 0px 0px 0px;
	background:url(../images/expandCollapse.png) no-repeat 0 0;
	text-decoration:none;
}
.searchGrd h1.searchHeaderCollaspe a {
	background-position:bottom;
}
.searchGrd table {
	border:1px solid #c1e4f0;
	border-width:1px 1px 0 1px;
}
.searchGrd table tr td {
	border-bottom:1px solid #c1e4f0;
	padding:6px 8px;
}
.searchGrd table tr.header {
	background:#40a8ca;
	color:#FFFFFF;
	font-weight:bold;
}
.searchGrd h3, .rightPanel h3 {
	line-height:14px;
	font-size:14px;
	color:#092a45;
	font-weight:normal;
	padding:8px;
}
.grdCont {
	padding:8px 8px 14px 8px;
	background:url(../images/shadowBG.png) repeat-x bottom;
}
/*Grid ends*/
/*about scansee*/
.block {
	width:300px;
	margin-right:22px;
}
.block h1 {
	font-family:"Times New Roman", Times, serif;
	font-size:28px;
	font-weight:bold;
	color:#5a636a;
	background:url(../images/shopingCart-img.png) no-repeat top left;
	padding-left:90px;
	margin-bottom:15px;
}
.block h1 span {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#8aa31f;
	font-weight:normal;
	display:block;
}
.block h1.atHome {
	background-image:url(../images/greenHouse-img.png);
	padding-left:80px;
}
.block h1.anyWhere {
	background-image:url(../images/yellowHouse-img.png);
	padding-left:80px;
}
.block h2 {
	font-size:14px;
	color:#383a3c;
	font-weight:bold;
	line-height:20px;
	margin-bottom:10px;
}
.block h2 span {
	display:block;
	font-size:13px;
	color:#a9c435;
	font-weight:normal;
}
.blocks {
	width:300px;
	background:url(../images/blockBG.png) no-repeat right bottom;
	display:block;
}
.blocks h3 {
	color:#01579c;
	font-size:14px;
}
.block_cont, .findIcon, .shoppingList, .myCoupons, .scanNow, .preferences, .fieldAgent, .surpriseMe, .hotDeals, .wishList {
	padding:10px 10px 10px 0;
	font-size:11px;
	color:#4c566c;
	line-height:17px;
	background:url(../images/ThisLocation_icon.png) no-repeat left 10px;
	padding-left:50px;
	height:50px;
}
.findIcon {
	background-image:url(../images/Find_Icon.png);
}
.shoppingList {
	background-image:url(../images/ShoppingList_icon.png);
}
.myCoupons {
	background-image:url(../images/MyCoupons_icon.png);
}
.scanNow {
	background-image:url(../images/ScanNow_icon.png);
}
.preferences {
	background-image:url(../images/Preferences_icon.png);
}
.fieldAgent {
	background-image:url(../images/FieldAgent_icon.png);
}
.surpriseMe {
	background-image:url(../images/SurpriseMe_icon.png);
}
.hotDeals {
	background-image:url(../images/HotDeals_icon.png);
}
.wishList {
	background-image:url(../images/WishList_icon.png);
}
.info {
	height:35px;
	overflow:hidden;
}
.block_cont .links, .block_cont .links a {
	color:#2da5c4;
}
.block_cont .links a:hover {
	color:#00569c;
}
/*about scansee ends*/
/* animate progress bar*/
.frame {
	position: absolute;
	z-index: 2;
}
#filledGlass {
	height: 112px;
	margin: 0px auto;
	text-align:center;
}
img.loadpic {
	margin-top: 4px;
}
#filledGlassContainer {
	position: relative;
	overflow: hidden;
	height: 112px;
	width: 30px;
	background: #FFF;
}
#glassoverlay {
	position: absolute;
	z-index: 1;
}
#glassblock {
	height: 112px;
	width: 30px;
	background: #FFF;
}
#glassedge {
	height: 90px;
	width: 30px;
	background:url(../images/slash2.png);
}
#filledGlass {
	margin-top:50px;
}
/* animate progress bar ends*/
/*login styles*/
#loginSec {
	width:372px;
	margin:0 auto;
	background:url(../images/loginBdyBg.png) repeat-y;
	margin-top:40px;
}
#loginSec ul {
	padding:20px 24px;
}
#loginSec li {
	padding:10px 0;
	line-height:25px;
}
#loginSec ul li span {
	font-size:12px;
}
#loginSec ul li img {
	margin-right:20px;
}
#loginSec ul li span.smlTxt {
	font-size:11px;
	color:#00569c;
}
.loginBtm {
	background:url(../images/loginbtmBg.png) no-repeat;
	line-height:54px;
}
#loginSec h1 {
	background:url(../images/loginTopBg.png) no-repeat 0 0;
	line-height:47px;
}
/*Login styles ends*/
ul.descLst li {
	line-height:16px;
	padding-bottom:10px;
}
ul.descLst li span {
	font-size:14px;
	font-weight:bold;
	display:block;
	padding:2px 0;
}
ul.descLst li a {
	color:#177dbe;
}
ul.descLst li a:hover {
	color:#50940d;
}
ul.descLst li img, ul.descLst li input {
	vertical-align:middle;
}
em {
	padding:6px;
	font-style:normal;
	color:#50940d;
}
/*Global Styles*/
.clear {
	line-height:0 !important;
	float:none !important;
	clear:both !important;
	display:block !important;
	font-size:0 !important;
	border:0 !important;
	padding:0 !important;
	margin:0 !important;
	height:0 !important;
}
.clearBoth {
	clear:both !important;
}
.floatL {
	float:left !important;
}
.floatR {
	float:right !important;
}
a img {
	border:0;
}
a {
	outline-width:0px;
	text-decoration:none;
	color:#0e6a9e;
}
ul, li {
	list-style:none;
	padding:0px;
	margin:0px;
}
.topPadding {
	padding-top:10px;
}
.btmMrgn {
	margin-bottom:15px;
}
.RtPdng {
	padding-right:10px !important;
}
.topMrgn {
	margin-top:20px;
}
.zeroMrgn {
	margin:0px!important;
}
.selctBox {
	width:200px;
	line-height:30px;
	padding:2px;
}
.txtAreaBox {
	width:200px;
	height:120px;
}
.btn {
	border:1px solid #cacfcf;
	background:url(../images/btnBG.png) repeat-x 0 0;
	height:24px;
	line-height:24px;
	color:#4e5458;
	padding:0 15px;
	cursor: pointer;
	overflow:visible;/*Fix for button width*/
	font-size:12px !important;
	font-weight:bold;
	margin:0 2px;
	font-family:Arial, Helvetica, sans-serif;
}
.Bluebtn {
	border:1px solid #9cd4e3;
	background:url(../images/blueBtnBg.png) repeat-x 0 0;
	height:24px;
	line-height:24px;
	color:#2b3133;
	padding:0 15px;
	cursor: pointer;
	overflow:visible;/*Fix for button width*/
	font-size:12px !important;
	font-weight:bold;
	margin:0 2px;
	font-family:Arial, Helvetica, sans-serif;
}
.editLink a {
	color:#348e63;
}
.editLink a:hover {
	color:#348e63;
	text-decoration:underline;
}
.mailtxt, .mailtxt a, .mailtxt a:hover {
	color:#64b218;
	font-weight:bold;
}
.noBg {
	background:none!important;
}
.splitL {
	width:700px;
	float:left;
}
.splitR {
	width:240px;
	float:right;
}
#scrlGrd {
	width:956px;
	height:460px;
	overflow:auto;
}
#scrlGrd input[type='text'] {
	border:1px solid #d4d4d4;
	border-width:2px 1px 1px 2px;
	background:url(../images/inputBg.png) repeat-x;
	line-height:24px;
	padding-left:2px;
	height:22px;
	width:90px;
}
table input[type = 'radio'] {
	vertical-align:middle;
}
#usrAcces {
	height:63px;
	color:#2f2f2f;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-right:20px;
}
#usrAcces div {
	float:left;
}
.ltCrv {
	background:url(../images/leftcrv_usrAcs.png) no-repeat;
	width:15px;
	height:63px;
	
}
.rtCrv {
	background:url(../images/rtcrv_usrAcs.png) no-repeat;
	width:15px;
	height:63px;
}
.bg {
	background:url(../images/bg_usrAcs.png) repeat-x;
	height:63px;
	display:block;
}
.cmnRws ul {
	margin:0 auto;
}
.cmnRws span{
	display:block;
	padding-top:10px;
}
.cmnRws li {
	float:left;
	background:url(../images/dtdSprtr.png) no-repeat right 2px;
	padding:2px 20px;
	width:120px;
	text-align:center;
	display:block;
}
.cmnRws li img {
	vertical-align:middle;
}
.cmnRws li.zpcode {
	padding-top:6px;
}
.cmnRws li i{
	color:#2da5cb;
	font-style:normal;
}
.cmnRws li.bgLnk {
	width:176px;
}
.cmnRws li a {
	color:#2f2f2f;
}
.cmnRws li a:hover {
	color:#56a5dc;
}
.cmnRws li.last {
	background:none;
}
.secRw li {
	background:none!important;
	padding:0px;
	width:auto;
}	
.leftPdng {
	padding-left:10px!important;
}
.srchBox {
	width:125px;
}
table tr.highlightRow {
	background:#00c600;
}
.instTxt {
	color:#50940d!important;
}
.notification {
	color: #0D2067;
    font-size: 15px;
    line-height: 20px;
	font-weight:bold;
}
ul.lstInfo li {
	padding:6px 10px;
	font-weight:bold;
	color:#092a45;
}