#bubble_tooltip {
    display: none;
    position: absolute;
    width: 147px;
}
#bubble_tooltip .bubble_top {
    background-image: url("../images/bubble_top.gif");
    background-repeat: no-repeat;
    height: 16px;
}
#bubble_tooltip .bubble_middle {
    background-image: url("../images/bubble_middle.gif");
    background-position: left bottom;
    background-repeat: repeat-y;
    padding-left: 7px;
    padding-right: 7px;
}
#bubble_tooltip .bubble_middle span {
    font-family: Trebuchet MS,Lucida Sans Unicode,Arial,sans-serif;
    font-size: 11px;
    position: relative;
    top: -8px;
}
#bubble_tooltip .bubble_bottom {
    background-image: url("../images/bubble_bottom.gif");
    background-repeat: no-repeat;
    height: 44px;
    position: relative;
    top: -6px;
}
