@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #edebeb;
	color: #4c566c;
}

.whiteBG {
	background: #fff;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	background: #FFFFFF;
}

.whiteBG #wrapper {
	width: 100%;
}
/*--------------------------Header Style Starts------------------------------------*/
#header {
	height: 96px;
	background: #ffffff url(../images/header_bg.png) repeat-x;
}

#header_logo {
	padding: 14px 0 0 20px;
	display: inline;
}

#header_link {
	color: #404449;
	display: inline;
	background: url(../images/topSecBg.png) repeat-x;
}

#header_link .noBg {
	background: none;
}

#header_link a {
	color: #404449;
}

#header_link a:hover {
	color: #00569c;
}

#header_link ul {
	padding-top: 8px;
}

#header_link li,#header_link ul.main {
	float: left;
	height: 24px;
	padding-right: 5px;
	color: #97a4af;
}

#header_link ul.main {
	line-height: 24px;
}

#header_link li img {
	padding-right: 5px;
}
/*#header_link li span {
	color:#2da5c4;
}
*/
#header_link li.zeroRtpdng {
	padding-right: 0px !important;
}

#header_link li.sprtr {
	background: url(../images/dottedSprtr.png) no-repeat 0 0;
	padding: 0 15px;
}

#lftcurv {
	background: url(../images/topSecLftCurv.png) no-repeat left top;
	padding-left: 12px;
	height: 40px;
}
/*--------------------------Header Link Ends------------------------------------*/
/*--------------------------Header Navigation Homepage Style Starts------------------------------------*/
#header_nav li img {
	vertical-align: middle;
}

#header_nav {
	margin-right: 20px;
	float: right;
	font-size: 13px;
}

#header_nav ul {
	
}

#header_nav ul li {
	float: left;
	margin: 0 15px;
	display: inline;
}

#header_nav ul li.last {
	margin-right: 0px;
}

#header_nav ul li a {
	color: #626262;
}

#header_nav ul li a:hover,#header_nav ul li a.current {
	color: #7a9700;
}

#header_nav ul li a.current {
	background: url(../images/Nav_arrow.png) no-repeat center bottom;
	padding-bottom: 12px;
}
/*--------------------------Header Navigation Homepage Style Ends------------------------------------*/
/*#content {
	padding:10px 20px 20px 20px;
	overflow:auto;
}*/
/*--------------------------Dock Panel inner page banner Style Starts--------------------------------*/
#dockPanel {
	background: url(../images/dockBg_brdr.png) repeat-x left bottom;
	overflow: hidden;
	padding: 21px 21px 0;
}

#togglePnl {
	background: url(../images/tglShdw.png) repeat-x;
	padding: 2px 10px;
	text-align: right;
}

#togglePnl a {
	color: #575a5e;
}

#togglePnl a:hover {
	color: #225384;
}
/*--------------------------Dock Panel inner page banner Style Ends--------------------------------*/
.btnTab {
	height: 40px;
}
/*--------------------------Home page layout Style Starts--------------------------------*/
.info {
	height: 35px;
	overflow: hidden;
}

.btnTab table {
	border: 0px !important;
}

.btnTab table tr td {
	border-right: 0px !important;
	border-bottom: 0px !important;
}

.btnNav {
	background: url(../images/btnNav-bg.png) no-repeat;
	display: block;
	line-height: 31px;
	padding-left: 15px;
	margin: 10px 0;
	cursor: pointer;
}

.btnNav span {
	font-style: italic;
	font-weight: bold;
}

.btnNav a,.btnNav a span {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #e9e9e9;
}

.btnNav a:hover {
	color: #FFFFFF;
}

.btnNav a:hover span {
	color: #fff006;
}

.clrMargin {
	margin-right: 0px !important;
}

.block_cont .links,.block_cont .links a {
	color: #2da5c4;
}

.block_cont .links a:hover {
	color: #00569c;
}

.section {
	overflow: hidden;
}

.section h5 {
	font-size: 15px;
	color: #0d2067;
	line-height: 20px;
}

.section p {
	line-height: 20px;
}

.blockCont {
	width: 308px;
	height: 159px;
	margin-right: 14px;
	background: url(../images/blkBg.png) no-repeat 0 0;
}

.blockContwrap {
	padding: 18px;
}

.blockContwrap h2 {
	background: url(../images/BlueIcon.png) no-repeat left top;
	height: 81px;
	font-size: 24px;
	font-weight: normal;
	margin-top: 16px;
	padding-left: 100px;
}

.blockContwrap h2.manufacturer {
	background: url(../images/DarkblueIcon.png) no-repeat left top;
}

.blockContwrap h2.retailer {
	background: url(../images/RedIcon.png) no-repeat left top;
}

.blockContwrap h2 span {
	display: block;
	color: #50c6e3;
}

.btnLink {
	margin-left: 90px;
	background: url(../images/rndBtn.png) no-repeat 0 0;
	line-height: 28px;
	padding-left: 14px;
	font-size: 11px;
}

.btnLink a {
	color: #4c566c;
}

.btnLink a:hover {
	color: #04508f;
}

.block h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	font-weight: bold;
	color: #5a636a;
	background: url(../images/shopingCart-img.png) no-repeat top left;
	padding-left: 90px;
	margin-bottom: 15px;
}

.block h1 span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #8aa31f;
	font-weight: normal;
	display: block;
}

.block h1.atHome {
	background-image: url(../images/greenHouse-img.png);
	padding-left: 80px;
}

.block h1.anyWhere {
	background-image: url(../images/yellowHouse-img.png);
	padding-left: 80px;
}

.block h2 {
	font-size: 14px;
	color: #383a3c;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
}

.block h2 span {
	display: block;
	font-size: 13px;
	color: #a9c435;
	font-weight: normal;
}

.block h3 {
	font-size: 14px;
	color: #383a3c;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
}

.block h3 span {
	display: block;
	font-size: 13px;
	color: #a9c435;
	font-weight: normal;
}

.section_info {
	font-size: 11px;
	line-height: 16px;
}

.linkMore a {
	color: #1c9ed4;
}

.linkMore a:hover {
	color: #00569c;
}

#followus_section img {
	margin-left: 26px;
}

#news_section span {
	font-size: 11px;
}
/*-----------------------------------Footer Style Starts-------------------------------------*/
#footer_nav {
	background: #1a1a1a url(../images/footer-nav-bg.png) no-repeat top;
}

#footer_nav ul {
	width: 650px;
	margin: 0 auto;
	padding: 12px 0;
}

#footer_nav li {
	float: left;
	padding: 0 10px;
	display: block;
	background: url(../images/nav-separator.png) no-repeat top right;
	line-height: 11px;
}

#footer_nav li,#footer_nav li a {
	font-size: 11px;
	color: #8e8e8e;
}

#footer_nav li a:hover {
	color: #FFFFFF;
}

#footer_nav li.last {
	background-image: none;
}

#footer_info {
	font-size: 11px;
	color: #8e8e8e;
	text-align: center;
	padding: 10px 0;
}
/*-----------------------------------Footer Style Ends-------------------------------------*/

/*InnerPage style starts*/
.blueBrdr {
	border-bottom: 1px solid #2ba5dc !important;
}

/*----------------vertical Navigation Dashboard Page style Starts--------------------------*/
#verticalNav {
	/*position:relative;*/
	display: inline;
	width: 141px;
	border-left: 1px solid #ebeeef;
}

#verticalNav ul {
	/*position:fixed;*/
	
}

#verticalNav ul ul {
	position: static;
}

#verticalNav ul li.mainTab {
	background: url(../images/tabBg.png) repeat-x bottom;
	line-height: 24px;
	border: 1px solid #d8dddf;
	border-width: 1px 0 1px 0;
	padding-left: 4px;
	color: #3e4548;
}

#verticalNav ul li.mainTab img {
	float: none;
	padding-top: 4px;
}

#verticalNav li,#verticalNav li a {
	color: #00569c;
	font-size: 12px;
	font-weight: bold;
	border: 1px dotted #ededed;
	border-width: 0 0 1px 0;
	display: block;
}

#verticalNav ul li img {
	float: right;
	padding-top: 6px;
}

#verticalNav li a {
	padding-left: 4px;
	text-align: left;
}

#verticalNav li ul li a {
	padding: 0 6px;
	color: #3aa9c4;
	font-weight: normal;
}

#verticalNav li ul li,#verticalNav li {
	border-width: 0 0 0 0;
	line-height: 24px;
}

#verticalNav li a:hover {
	color: #3b3f45;
	background-color: #f6f6f6; /*margin-right:1px;
	border-left:1px solid #ededed;*/
}

#subnav {
	border-bottom: 1px solid #b3b3b3;
	background: #FFFFFF;
	display: block;
	overflow: hidden;
	padding: 10px 0 0 0;
}

#subnav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	min-width: 923px;
	padding-left: 10px;
}

#subnav li {
	float: left;
	margin-right: 3px;
}

#subnav ul li a,#subnav ul li a span {
	color: #333;
	text-decoration: none;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 12px;
	display: block;
	background: url(../images/tabsBg.png) no-repeat left top;
	cursor: pointer;
}

#subnav ul li a span {
	padding: 0 12px 0 0;
	background: url(../images/tabsBg.png) no-repeat right top;
	white-space: nowrap;
}

#subnav ul li a:hover,#subnav ul li a:hover span {
	background: url(../images/tabsActBg.png) no-repeat left top;
	color: #15428b;
}

#subnav ul li a:hover span {
	background-position: right top;
	color: #fff;
}

#subnav ul li a.active,#subnav ul li a.active span {
	background: url(../images/tabsActBg.png) no-repeat left top;
	color: #15428b;
}

#subnav ul li a.active span {
	background-position: right top;
	width: auto;
	color: #fff;
}

#subnav span a {
	padding-right: 15px;
	color: #20a0c9;
	text-decoration: none;
}

#secInfo {
	background: url(../images/tabBg.png) repeat-x bottom;
	line-height: 28px;
	border: 1px solid #d8dddf;
	border-width: 1px 0 1px 0px;
	padding-right: 10px;
	color: #bebfbf;
	font-weight: bold;
	text-align: right;
	font-size: 14px;
}

.contDsply {
	width: 814px;
	min-height: 355px;
}
/*----------------vertical Navigation Dashboard Page style Ends--------------------------*/
/*------------------------------Grids(Tables) Style Starts-------------------------------*/
.grdSec {
	border: 1px solid #c9d0d3;
	border-width: 0 1px 1px 1px;
	background: url(../images/shadowBG.png) repeat-x bottom;
}

.grdSec h2 {
	background: url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height: 22px;
	border-bottom: 1px solid #ebedef;
	/*color:#092a45;*/
	color: #092A45;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 8px;
	margin-bottom: 15px;
}

.grdSec h2 span {
	font-weight: normal;
	font-size: 11px;
	padding-left: 10px;
	color: #0d6385;
}

.grdTbl {
	margin-bottom: 15px;
}

.zeroBtmMrgn {
	margin-bottom: 0px !important;
}

.grdTbl input[type='radio'],table td input[type='checkbox'] {
	vertical-align: middle;
	margin-right: 5px;
}

.grdTbl td {
	padding: 6px 8px;
	border-bottom: 1px solid #dadada;
	color: #465259;
}

.grdTbl td img,.tranTbl td img {
	vertical-align: middle;
}

.grdTbl td.header,.tranTbl td.header,.subHdr {
	background: url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height: 22px;
	border-bottom: 1px solid #ebedef;
	color: #092a45;
	font-weight: bold;
	padding: 4px 8px;
}

.tranTbl td.brdBtmZero {
	border-bottom: 0px !important;
}

.grdTbl td.header span {
	font-weight: normal;
	font-size: 12px;
	color: #2a92ab;
}

.tranTbl td {
	padding: 6px 8px;
}

.tranTbl td span a {
	color: #02457c;
	font-weight: normal;
}

.tranTbl td span a:hover {
	color: #198aaf;
}

.tranTbl th {
	text-align: left;
	padding: 6px 8px;
}

.searchGrd h1 {
	background: url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height: 22px;
	border-bottom: 1px solid #ebedef;
	font-size: 12px;
	color: #092a45;
	font-weight: bold;
	padding: 4px 8px;
	cursor: pointer;
}

.searchGrd h1.searchHeaderExpand,.searchGrd h1.searchHeaderCollaspe {
	
}

.searchGrd h1.searchHeaderExpand a,.searchGrd h1.searchHeaderCollaspe a
	{
	/*display:inline-block;*/
	width: 18px;
	height: 17px;
	margin: 2px 0px 0px 0px;
	background: url(../images/expandCollapse.png) no-repeat 0 0;
	text-decoration: none;
}

.searchGrd h1.searchHeaderCollaspe a {
	background-position: bottom;
}

.searchGrd table {
	border: 1px solid #c1e4f0;
	border-width: 1px 1px 0 1px;
}

.searchGrd table tr td {
	border-bottom: 1px solid #c1e4f0;
	padding: 6px 8px;
}

.searchGrd table tr.header {
	background: #40a8ca;
	color: #FFFFFF;
	font-weight: bold;
}

.errDisp {
	color: red;
	font-weight: normal;
	display: none;
}

.errIcon {
	background: transparent url(../images/err_icon1.png) no-repeat 2px
		center;
	display: block;
	text-indent: 10px;
	margin: 1px 0;
	width: 90%;
	padding: 1px 0;
}

.relogin li i.errIcon {
	margin-left: 120px !important;
}

.relogin li img {
	margin-left: 120px;
}

.grdCont,.contBlock {
	padding: 8px 8px 14px 8px;
	background: url(../images/shadowBG.png) repeat-x bottom;
}

.Label {
	background: #f9f9f9; /*color:#151516!important;*/
}

.mand {
	background: transparent url(../images/mand2.png) no-repeat right 2px;
	padding-right: 10px;
}

table.brdrLsTbl tr td,table.zeroBrdrTbl tr td {
	padding: 6px 8px;
	line-height: 18px;
}

table.zeroBrdrTbl tr td {
	/* line-height: 14px; */
	color: #1b1c1c;
}

table.zeroBrdrTbl tr td.iphoneTitle {
	color: #F82725;
	font-weight: 700;
}

table.brdrLsTbl tr td.lable {
	font-weight: bold;
}

table.brdrLsTbl tr td,table.zeroBrdrTbl tr td {
	border-right: 0 !important;
}

table.brdrLsTbl tr td input[type='radio'],.blkTbl tr td input[type='radio']
	{
	vertical-align: middle;
}

table.brdrLsTbl tr.header {
	background: #1f2324;
	line-height: 20px;
	color: #FFFFFF;
}

table.brdrLsTbl tr.subheader {
	background: #f4f4f4;
	line-height: 20px;
	color: #4c566c;
}

#srchTbl tr td span {
	display: block;
}

.blkTbl tr td {
	padding: 10px;
	background: #fafafa;
	border: 0px !important;
}

.blkTbl tr td span {
	display: block;
	padding: 10px 0 0 0;
	line-height: 20px;
}

.tblWrp {
	margin: 10px;
}

.tblLst tr td {
	padding: 10px;
	border-right: 0 !important;
	border-bottom: 10px solid #FFFFFF;
}

.tblLst tr td span {
	display: block;
	padding-top: 10px;
}

.tblLst tr td a {
	color: #185b08;
}
/*------------------------------Grids(Tables) Style Ends-------------------------------*/
.cutlst select option {
	background-color: #0099FF;
}

.textboxMargin {
	margin-top: 2px;
}

.navTabSec {
	margin: 10px 0;
}

.delImg {
	margin-right: 5px;
}

#dealsSetting {
	margin-bottom: 15px; /*border-top:1px solid #c9d0d3;*/
}

.actnLst li {
	float: left;
	margin-right: 10px;
}

.actnLst li a {
	color: #2ca4c1;
}

.actnLst li a:hover {
	color: #0d4069;
}

.actnLst li img {
	vertical-align: middle;
	padding-right: 5px;
}

.splitView {
	padding: 10px;
}

.leftView {
	width: 44.5%;
	background: #f6f6f6;
	padding: 10px;
	min-height: 330px;
}

.rightView {
	width: 50%;
	background: #f6f6f6;
	padding: 10px;
	min-height: 330px;
}

.actn li {
	float: left;
	margin-right: 10px;
}

#reportSec {
	padding: 10px;
	background: #f9f9f9;
	min-height: 300px;
}

#acptTrms {
	padding: 10px;
	color: #14568d;
	font-size: 11px;
}

.scrlDiv,.scrollViewShpr {
	/*margin:40px;*/
	/*height:300px;*/
	overflow: scroll;
	overflow-x: hidden;
	border: 1px solid #d3d3d3;
	background: url(../images/settings.png) no-repeat bottom right;
}

.scrollViewShpr {
	overflow: hidden;
	padding-right: 16px;
}

.shprHdr {
	height: 28px;
	background-color: #0d568d;
	color: #FFFFFF;
}

.contSec {
	padding: 0px 10px;
}

.contSec p {
	line-height: 26px;
}

.contSec h3 {
	font-weight: bold;
	font-size: 12px;
	color: #1090af;
	margin-bottom: 10px;
}

.hvrEfct {
	background-color: #f5fbfc;
}

.over {
	background-color: #d7edf3;
	/*cursor:pointer;*/
	color: #133c5d;
}

.tblEffect .over {
	cursor: default;
}

.pagination {
	background: url(../images/paginationBg.png) repeat-x;
	padding: 5px;
	border: 1px solid #c1e4f0;
	border-width: 0 1px;
}

.pagination p {
	text-align: left;
}

.pagination p a {
	padding: 1px 3px;
}

.pagination p label.paginationText {
	padding-left: 3px;
}

#backWard,#previous,#forWard,#nxt {
	background-image: url(../images/paginationImg.gif);
	background-repeat: no-repeat;
	display: inline-block;
	height: 8px;
}

.disImg {
	opacity: 0.4;
}

#backWard {
	background-position: 0px 0px;
	width: 5px;
}

#previous {
	background-position: -5px 0px;
	width: 4px;
}

#forWard {
	background-position: right top;
	width: 5px;
}

#nxt {
	background-position: -9px 0px;
	width: 4px;
}
/*#loginSec {
	width:372px;
	margin:0 auto;
	background:url(../images/loginBdyBg.png) repeat-y;
	margin-top:80px;
}
#loginSec ul {
	padding:20px 24px;
}
#loginSec li {
	padding:10px 0;
	line-height:25px;
}
#loginSec ul li span {
	font-size:12px;
}
#loginSec ul li img {
	margin-right:20px;
}
#loginSec ul li span.smlTxt {
	font-size:11px;
	color:#00569c;
}
.loginBtm {
	background:url(../images/loginbtmBg.png) no-repeat;
	line-height:54px;
}
#loginSec h1 {
	background:url(../images/loginTopBg.png) no-repeat 0 0;
	line-height:47px;
}*/
.btnCntrl {
	display: block;
	padding: 8px 0;
}

span.smlTxt {
	font-size: 11px;
	color: #00569c;
	display: block;
}

.hdnFld {
	display: none;
}

ul.prvlgLst {
	width: 300px;
	min-height: 250px;
}

.prvlgLst li {
	padding: 10px;
}

.prvlgLst li input[type='radio'] {
	vertical-align: middle;
}

.secWrap {
	padding: 15px;
}

.ifrmDiv {
	width: 600px;
	display: inline;
	border: 1px solid #ededed;
}

.ifrmDiv tr.header {
	color: #4e6374 !important;
	/*background:url(../images/ifrmHdrBg.png) repeat-x;*/
	background: url(../images/subSecHeaderBg_Type1.png) repeat-x;
	font-weight: bold;
}

.desc {
	display: none;
}

.container {
	width: 540px;
}

.treeView {
	width: 350px;
	border: 1px solid #ededed;
	padding: 10px;
	margin-bottom: 10px;
}

.srchBox li {
	padding: 10px 0;
}

.srchBox li img {
	vertical-align: middle;
	padding-left: 5px;
}

.brdr {
	
}
/*InnerPage style ends*/
#banner {
	background: url(../images/scansee-banner-bg.png) no-repeat;
	height: 290px;
	position: relative;
}
/* rotator in-page placement */
.rotator {
	position: absolute;
	top: 26px;
	left: 562px;
	display: none;
}
/* rotator css */
div.rotator ul li {
	float: left;
	position: absolute;
	list-style: none;
}
/* rotator image style */
div.rotator ul li img {
	background: #FFF;
}

div.rotator ul li.show {
	z-index: 500
}

.btnCntrl {
	display: block;
	padding: 8px 0;
}

#content {
	padding: 0 21px 21px 21px;
}
/*#content h2 {
	color:#00569C;
}*/
#ourpartners_info {
	background: url(../images/top-shadow-bg.png) repeat-x top;
	padding: 16px 23px;
}

.shdwBg {
	background: url(../images/top-shadow-bg.png) repeat-x top;
}

#partners_section,.leftPanel {
	width: 650px;
}

#followus_section,.rightPanel {
	width: 300px;
}

#followus_section img {
	margin-left: 26px;
}

#partners_section img {
	margin-left: 26px;
}

.section_title {
	margin-bottom: 10px;
	font-size: 16px;
	color: #383a3c;
}

#news_section {
	background: url(../images/newBtmShadow.png) no-repeat bottom center;
	margin-bottom: 15px;
	height: 40px;
}

#news_section span {
	font-size: 11px;
}

.loginBtn {
	cursor: pointer;
}

.linkMore a {
	color: #1c9ed4;
}

.linkMore a:hover {
	color: #00569c;
}

.blocks {
	width: 300px;
	background: url(../images/blockBG.png) no-repeat right bottom;
	display: block;
}

.info {
	height: 35px;
	overflow: hidden;
}

.block_cont .links,.block_cont .links a {
	color: #2da5c4;
}

.block_cont .links a:hover {
	color: #00569c;
}

.srchBtn {
	background: url(../images/searchBtn.png) no-repeat;
	height: 24px;
	width: 24px;
	border: 1px solid #d4d4d4;
	border-width: 1px 1px 1px 0;
	cursor: pointer;
}
/*#tabdContSec {
	height:250px;
	overflow:hidden;
}*/
#tabdPanel {
	width: 790px;
	margin-right: 12px;
	/*background:url(../images/tabdBg.png) repeat-x bottom;*/
	border: 1px solid #dedede;
	overflow: hidden;
	padding: 5px;
	background-color: #FFFFFF;
}

#tabdPanelDesc {
	width: 140px;
}

.shadowImg {
	background: url(../images/newBtmShadow.png) no-repeat center bottom;
	padding-bottom: 15px;
}
/*TabdCont styles starts*/
/*.tabsCont  {
	clear:both;
	float:none;
	padding-top:300px;
	*padding-top:150px;
	border:1px solid #dedede;
	overflow:hidden;
	padding:5px;
	background-color:#FFFFFF;
}*/
.tabsCont ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tabs li {
	line-height: 26px;
	float: left;
	margin-right: 5px;
}

ul.tabs li a {
	display: inline-block;
	padding: 0 15px;
	color: #fff;
	background: url(../images/tabDrakGrad.png) repeat-x 0 0;
	text-decoration: none;
	border: 1px solid #dedede;
	border-bottom: none;
}

ul.tabs li a.tabActive {
	background: url(../images/tabGrad.png) repeat-x 0 0;
	color: #333;
	position: relative;
	bottom: -1px;
}

ul.tabs li a:hover {
	text-decoration: none;
}

.tabBanner {
	
}

.jqDocked {
	height: 100px;
}

.tabsPanel {
	padding: 10px;
	background: url(../images/smallShadowBg.png) repeat-x 0 0;
	display: none;
	border-top: 1px solid #d3d3d3;
	margin-top: 20px;
	position: relative;
}

.tabsPanel h3 {
	color: #1c8bc0;
}

.tabsPanel h3 span {
	padding-left: 10px;
	color: #4c566c;
	font-size: 12px;
	font-weight: normal;
}

#menu {
	padding-left: 10px;
	display: none;
}

#menu img {
	cursor: pointer;
}

#iphoneMenu {
	display: none;
}
/*.secBG {
	background:url(../images/SecBG.png) no-repeat top center;
	padding:20px;
}*/
/*TabdCont styles ends*/
#nextNav {
	margin-top: 20px;
	text-align: center;
}

#nextNav span {
	display: block;
	font-size: 12px;
	font-weight: bold;
}

#nextNav a span {
	color: #4c566c;
}

#nextNav a:hover span {
	color: #1c8bc0;
}

.brdrBlue {
	border-bottom: 4px solid #1877bd;
}

/*vertical navigation*/
#VertNav {
	width: 224px;
	background: url(../images/btmImgNav.png) no-repeat bottom left;
	padding-bottom: 77px;
}

#VertNav ul {
	background: url(../images/leftNavBg.jpg) repeat-y;
	padding-top: 10px;
}

#VertNav ul li {
	line-height: 34px;
	background: url(../images/NavBrdr.png) repeat-x bottom left;
	width: 211px;
}

#VertNav ul li a {
	display: block;
	padding-left: 15px;
	color: #4c566c;
}

#VertNav ul li a:hover,#VertNav ul li.active,#VertNav ul li a.active {
	background: url(../images/NavHover.png) no-repeat;
	height: 34px;
	color: #fff;
	font-weight: bold; /*	width:100%;*/
}

#VertNav ul li a.active {
	background: url(../images/NavActv.png) no-repeat;
	width: 100%;
}

#contSec {
	padding: 12px 0 0 10px;
	width: 720px;
}

#contSec img {
	padding-right: 20px;
}

#contSec p {
	font-size: 11px;
}

#contSec h1 {
	color: #2fb2db;
	font-size: 18px;
	font-weight: normal;
}

#contSec ul li img {
	float: left;
	display: inline-block;
}

#contSec ul li {
	font-size: 13px;
	color: #2fb2db;
	font-weight: bold;
	background: url(../images/dottedBrdr.png) repeat-x bottom left;
	padding: 15px 0;
}

#contSec ul li a {
	color: #00569c;
}

#contSec ul li a:hover {
	color: #2fb2db;
}

#contSec ul li span {
	display: block;
	padding: 5px 0 0 76px;
	font-size: 11px;
	font-weight: normal;
	color: #4c566c;
	line-height: 16px;
}

#contSec h1 span {
	color: #064b7f;
}
/*vertical navigation ends*/
/*Grid Section*/
.Label {
	background: #f9f9f9; /*color:#151516!important;*/
}

.splitPnl {
	border: 1px solid #dadada;
	border-width: 1px 1px 1px 1px;
}

.grdTbl input[type='radio'] {
	vertical-align: middle;
	margin-right: 5px;
}

.grdTbl td span {
	font-style: italic;
	color: #001f60;
	line-height: 16px;
	display: block;
}

.grdTbl td img,.tranTbl td img,.tranTbl td input[type='radio'] {
	vertical-align: middle;
}

.tranTbl tr.subheader td {
	color: #fff;
	background: #074b7a;
	font-size: 15px;
	font-weight: bold;
}

.dashbrdSec {
	margin: 10px 0;
}

.dashbrdSec h2 {
	color: #fff;
	background: #074b7a;
	font-size: 15px;
	font-weight: bold;
}

.dashbrdSec h3 {
	padding-left: 10px;
	font-weight: bold;
}

.cstmTbl tr td {
	padding: 6px 8px;
	border-right: 0 !important;
	color: #214a97;
}

.cstmTbl tr.header {
	line-height: 20px;
	background: #f5f5f5;
	font-weight: bold;
}

.cstmTbl tr.dottedLine td {
	border-bottom: 1px dotted #214a97 !important;
}

.highlightCol {
	background: #fafafa;
}
/*.actnLst li {
	float:left;
	margin-right:25px;
}
.actnLst li a {
	color:#2ca4c1;
}
.actnLst li a:hover {
	color:#0d4069;
}
.actnLst li img {
	vertical-align:middle;
	padding-right:5px;
}*/
.navTabSec {
	margin: 10px 0;
}

.RtMrgn {
	margin-right: 10px;
}

.searchGrd h1 {
	background: url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height: 22px;
	border-bottom: 1px solid #ebedef;
	font-size: 12px;
	color: #092a45;
	font-weight: bold;
	padding: 4px 8px;
	cursor: pointer;
}

.searchGrd h1.searchHeaderExpand,.searchGrd h1.searchHeaderCollaspe {
	
}

.searchGrd h1.searchHeaderExpand a,.searchGrd h1.searchHeaderCollaspe a
	{
	/*display:inline-block;*/
	width: 18px;
	height: 17px;
	margin: 2px 0px 0px 0px;
	background: url(../images/expandCollapse.png) no-repeat 0 0;
	text-decoration: none;
}

.searchGrd h1.searchHeaderCollaspe a {
	background-position: bottom;
}

.searchGrd table {
	border: 1px solid #c1e4f0;
	border-width: 1px 1px 0 1px;
}

.searchGrd table tr td {
	border-bottom: 1px solid #c1e4f0;
	padding: 6px 8px;
}

.searchGrd table tr.header {
	background: #40a8ca;
	color: #FFFFFF;
	font-weight: bold;
}

.searchGrd h3,.rightPanel h3 {
	line-height: 14px;
	font-size: 14px;
	color: #092a45;
	font-weight: normal;
	padding: 8px;
}

.grdCont {
	padding: 8px 8px 14px 8px;
	background: url(../images/shadowBG.png) repeat-x bottom;
}

#scrlGrd {
	width: 956px;
	height: 460px;
	overflow-x: scroll;
	overflow-y: hidden;
}

#scrlGrd input[type='text'] {
	border: 1px solid #d4d4d4;
	border-width: 2px 1px 1px 2px;
	background: url(../images/inputBg.png) repeat-x;
	line-height: 24px;
	padding-left: 2px;
	height: 22px;
	width: 90px;
}

#batchGrid {
	width: 810px;
	height: 460px;
	overflow: auto;
}

#batchGrid input[type='text'] {
	min-width: 120px;
	width: 90%;
}

/*Grid ends*/
/*about scansee*/
.block {
	width: 300px;
	margin-right: 22px;
}

.block h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 28px;
	font-weight: bold;
	color: #5a636a;
	background: url(../images/shopingCart-img.png) no-repeat top left;
	padding-left: 90px;
	margin-bottom: 15px;
}

.block h1 span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #8aa31f;
	font-weight: normal;
	display: block;
}

.block h1.atHome {
	background-image: url(../images/greenHouse-img.png);
	padding-left: 80px;
}

.block h1.anyWhere {
	background-image: url(../images/yellowHouse-img.png);
	padding-left: 80px;
}

.block h2 {
	font-size: 14px;
	color: #383a3c;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
}

.block h2 span {
	display: block;
	font-size: 13px;
	color: #a9c435;
	font-weight: normal;
}

.blocks {
	width: 300px;
	background: url(../images/blockBG.png) no-repeat right bottom;
	display: block;
}

.blocks h3 {
	color: #01579c;
	font-size: 14px;
}

.block_cont,.findIcon,.shoppingList,.myCoupons,.scanNow,.preferences,.fieldAgent,.surpriseMe,.hotDeals,.wishList
	{
	padding: 10px 10px 10px 0;
	font-size: 11px;
	color: #4c566c;
	line-height: 17px;
	background: url(../images/ThisLocation_icon.png) no-repeat left 10px;
	padding-left: 50px;
	height: 50px;
}

.findIcon {
	background-image: url(../images/Find_Icon.png);
}

.shoppingList {
	background-image: url(../images/ShoppingList_icon.png);
}

.myCoupons {
	background-image: url(../images/MyCoupons_icon.png);
}

.scanNow {
	background-image: url(../images/ScanNow_icon.png);
}

.preferences {
	background-image: url(../images/Preferences_icon.png);
}

.fieldAgent {
	background-image: url(../images/FieldAgent_icon.png);
}

.surpriseMe {
	background-image: url(../images/SurpriseMe_icon.png);
}

.hotDeals {
	background-image: url(../images/HotDeals_icon.png);
}

.wishList {
	background-image: url(../images/WishList_icon.png);
}

.info {
	height: 35px;
	overflow: hidden;
}

.block_cont .links,.block_cont .links a {
	color: #2da5c4;
}

.block_cont .links a:hover {
	color: #00569c;
}

.editLink a {
	color: #348e63;
}

.subsecTitle {
	color: #348e63;
}

.editLink a:hover {
	color: #348e63;
	text-decoration: underline;
}

.mailtxt,.mailtxt a,.mailtxt a:hover {
	color: #64b218;
	font-weight: bold;
}

.noBg {
	background: none !important;
}

.splitL {
	width: 700px;
	float: left;
}

.splitR {
	width: 240px;
	float: right;
}

table input[type='radio'] {
	vertical-align: middle;
}

#usrAcces {
	height: 63px;
	color: #2f2f2f;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-right: 20px;
}

#usrAcces div {
	float: left;
}

.ltCrv {
	background: url(../images/leftcrv_usrAcs.png) no-repeat;
	width: 15px;
	height: 63px;
}

.rtCrv {
	background: url(../images/rtcrv_usrAcs.png) no-repeat;
	width: 15px;
	height: 63px;
}

.bg {
	background: url(../images/bg_usrAcs.png) repeat-x;
	height: 63px;
	display: block;
}

.cmnRws ul {
	margin: 0 auto;
}

.cmnRws span {
	display: block;
	padding-top: 10px;
}

.cmnRws li {
	float: left;
	background: url(../images/dtdSprtr.png) no-repeat right 2px;
	padding: 2px 20px;
	width: 120px;
	text-align: center;
	display: block;
}

.cmnRws li img {
	vertical-align: middle;
}

.cmnRws li.zpcode {
	padding-top: 6px;
}

.cmnRws li i {
	color: #2da5cb;
	font-style: normal;
}

.cmnRws li.bgLnk {
	width: 176px;
}

.cmnRws li a {
	color: #2f2f2f;
}

.cmnRws li a:hover {
	color: #56a5dc;
}

.cmnRws li.last {
	background: none;
}

.secRw li {
	background: none !important;
	padding: 0px;
	width: auto;
}

.leftPdng {
	padding-left: 10px !important;
}

.leftPdng select {
	width: 155px;
	margin: 0 4px;
}

.srchBox {
	width: 125px;
}

table tr.highlightRow {
	background: #00c600;
}

.instTxt {
	color: #50940d !important;
}

.notification {
	color: #0D2067;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
}

ul.lstInfo li {
	padding: 6px 10px;
	font-weight: bold;
	color: #092a45;
}

ul.lstInfoNrml li {
	padding: 6px 10px;
	font-weight: normal;
	color: #092a45;
}

ul.lstInfoMain li {
	padding: 6px 10px;
	font-weight: normal;
	color: #00569c;
	font-weight: bold;
}
/*about scansee ends*/
/* animate progress bar*/
#filledGlass {
	height: 112px;
	margin: 0px auto;
	text-align: center;
	margin-top: 50px;
}

/* animate progress bar ends*/
/*login styles*/
#loginSec {
	width: 372px;
	margin: 0 auto;
	background: url(../images/loginBdyBg.png) repeat-y;
	/*	margin-top:40px;*/
}

#loginSec ul {
	padding: 16px 24px;
}

#loginSec li {
	padding: 5px 0;
}

#loginSec li i.errIcon {
	width: auto;
	display: inline-block;
	margin-left: 90px;
}

#loginSec ul li span {
	font-size: 12px;
}

#loginSec ul li img {
	margin-right: 20px;
}

#loginSec ul li span.smlTxt {
	font-size: 11px;
	color: #00569c;
}

.loginBtm {
	background: url(../images/loginbtmBg.png) no-repeat;
	line-height: 54px;
}

#loginSec h1 {
	background: url(../images/loginTopBg.png) no-repeat 0 0;
	line-height: 47px;
}

#loginSec h1.relogin {
	background: url(../images/reloginTopBg.png) no-repeat 0 0;
	line-height: 47px;
}

#loginSec h1.frgtPswd {
	background: url(../images/frgtPswdTopBg.png) no-repeat 0 0;
	line-height: 47px;
}

/*Login styles ends*/
ul.descLst li {
	line-height: 16px;
	padding-bottom: 10px;
}

ul.descLst li span {
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding: 2px 0;
}

ul.descLst li a {
	color: #177dbe;
}

ul.descLst li a:hover {
	color: #50940d;
}

ul.descLst li img,ul.descLst li input {
	vertical-align: middle;
}
/*em {
	padding:6px;
	font-style:normal;
	color:#50940d;
}*/
/*--------------------------------------Global Styles---------------------------------*/
.clear {
	line-height: 0 !important;
	float: none !important;
	clear: both !important;
	display: block !important;
	font-size: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 0 !important;
}

.clearBoth {
	clear: both !important;
}

.floatL {
	float: left !important;
}

.floatR {
	float: right !important;
}

a img {
	border: 0;
}

a {
	outline-width: 0px;
	text-decoration: none;
	color: #0e6a9e;
}

ul,li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.topPadding {
	padding-top: 10px;
}

.btmMrgn {
	margin-bottom: 15px;
}

.RtPdng {
	padding-right: 10px !important;
}

.topMrgn {
	margin-top: 20px;
}

.zeroMrgn {
	margin: 0px !important;
}
/*Global Styles*/
.mrgnRt {
	margin-right: 10px !important;
}

a img {
	border: 0;
}

.topMorePadding {
	padding-top: 15px;
}

.btmPadding {
	padding-bottom: 10px;
}

.zeroPadding {
	padding: 0px !important;
}

.zeroMargin {
	margin: 0px !important;
}

.brdrTop {
	border-top: 1px solid #c9d0d3;
}

.brdRt {
	border-right: 1px solid #dadada !important;
}

.moreRtMrgn {
	margin-right: 40px;
}

.RtMrgn {
	margin-right: 10px;
}

.LtMrgn {
	margin-left: 10px !important;
}

.MrgnTop {
	margin-top: 10px;
}

.zeroBrdr {
	border: 0px !important;
}

.MrgnBtm {
	margin-bottom: 15px;
}

.tblBg {
	background-color: #ececec;
}

.mobBtn {
	border: 1px solid #282828;
	background: url(../images/mobBtnBg.png) repeat-x 0 0;
	color: #ffffff;
	padding: 2px 15px;
	cursor: pointer;
	overflow: visible; /*Fix for button width*/
	font-size: 12px !important;
	font-weight: bold;
	margin: 0 2px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn {
	border: 1px solid #cacfcf;
	background: url(../images/btnBG.png) repeat-x 0 0;
	height: 24px;
	line-height: 24px;
	color: #4e5458;
	padding: 0 15px;
	cursor: pointer;
	overflow: visible; /*Fix for button width*/
	font-size: 12px !important;
	font-weight: bold;
	margin: 0 2px;
	font-family: Arial, Helvetica, sans-serif;
}

.Bluebtn {
	border: 1px solid #9cd4e3;
	background: url(../images/blueBtnBg.png) repeat-x 0 0;
	height: 24px;
	line-height: 24px;
	color: #2b3133;
	padding: 0 15px;
	cursor: pointer;
	overflow: visible; /*Fix for button width*/
	font-size: 12px !important;
	font-weight: bold;
	margin: 0 2px;
	font-family: Arial, Helvetica, sans-serif;
}

.noBg {
	background-image: none !important;
}

.lftBrdr {
	border-left: 1px solid #dadada;
}
/*-------------------------------Input fields Style Starts ---------------------------*/
input[type='text'],input[type='password'],select {
	border: 1px solid #d4d4d4;
	background: url(../images/inputBg.png) repeat-x;
	line-height: 24px;
	padding-left: 2px;
	height: 22px;
	width: 230px;
	color: #465259;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

select {
	width: 235px;
}

.slctSmall {
	width: 40px !important;
	font-size: 11px;
	line-height: 18px;
	height: 18px;
}

.textboxBig,.textboxMedium,.textboxLog,.textboxSmall,.textboxSmaller,.textboxDate,.txtAreaBig,.txtAreaSmall,.txtAreaIphone,.txtAreaLarge,.txtAreaSmaller,.textemail,.textboxSrch,.textboxGenSrch,textarea,file,.textboxPrice
	{
	width: 200px;
	border: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #c7cfd1;
	background: url(../images/textboxBg.png) repeat-x;
	background-position: top;
	height: 22px;
	line-height: 20px;
	color: #465259;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.textboxPrice {
	width: 60px !important;
}

.txtAreaIphone {
	width: 290px;
	height: 40px;
	padding: 2px;
	font-weight: bold;
	background: none;
	border: none;
}

.textboxLog {
	width: 200px !important;
}

.txtAreaSmaller {
	width: 360px;
	height: 20px;
}

.txtAreaBig {
	width: 380px;
	height: 50px;
}

.textboxSmall {
	width: 144px !important;
}

.textboxDate {
	width: 100px !important;
}

#acptTrms {
	padding: 10px;
	color: #14568d;
	font-size: 11px;
}

.textboxSmaller {
	width: 80px !important;
}

.textboxSrch {
	width: 120px !important;
}

.txtAreaLarge {
	width: 600px;
	height: 50px;
}

.textBigger {
	width: 470px;
	margin-top: 2px;
}

.textboxSmall {
	width: 100px;
}

.textboxGenSrch {
	width: 130px !important;
}

.textboxMedium {
	width: 170px;
	margin: 0 5px;
}

.txtAreaSmall {
	width: 230px;
	height: 50px;
}

.txtAreaBox {
	width: 200px;
	height: 120px;
}

.selctBox {
	width: 200px;
	line-height: 30px;
	padding: 2px;
}

fieldset {
	border: 1px solid #DADADA;
}

legend {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #114E89;
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
	padding: 0 5px;
}

.contWrap {
	border: 1px solid #DADADA;
	margin: 10px;
}
/*-------------------------------Input fields Style Ends ---------------------------*/
/* This styles for IFrame popup */
.ifrmPopupPannel {
	position: absolute;
	z-index: 999999;
	overflow: hidden;
	background-color: #f7f7f7;
	border: 3px solid #bdbdbd;
	left: 50%;
	top: 50%;
}

.ifrmPopupPannel div.headerIframe {
	background: transparent url(../images/tableHeaderBG.png) repeat-x 0 0;
	font-size: 12px;
	line-height: 24px;
	text-indent: 10px;
	font-weight: bold;
	margin-left: -1px;
	border-bottom: 1px solid #bdbdbd;
	height: 24px;
	color: #e8edf1;
}

.ifrmPopupPannel div.headerIframe img.closeIframe {
	cursor: pointer;
	float: right;
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 3px;
}

.ifrmPopupPannel div.headerIframe span.fltRt {
	display: inline-block;
	margin-right: 20px;
	font-style: normal;
	font-weight: normal;
}

.ifrmPopupPannel div.headerIframe span.fltRt img.cursorPointer {
	margin-left: 10px;
}

.ifrmPopupPannel div.headerIframe span.fltRt label {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
/* IFrame popup style ends here */
/*search page*/
.detailPnl {
	width: 580px;
}

.miscPnl {
	width: 365px;
	padding-left: 2px;
}

.subTitle,.mainTitle {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}

.mainTitle {
	font-size: 16px;
}

tr.subTitle span {
	padding-left: 10px;
	font-size: 16px;
}

.addDel li {
	float: left;
	padding-right: 7px;
	padding-top: 5px;
}

.separator {
	background: url(../images/Hrzseparator.png) repeat-y;
}
/*Attribute */
tr.hilite td {
	background: #eaeaea;
}

.attributesGrd {
	height: 110px;
	overflow: scroll;
	overflow-x: hidden;
}

.tglDsply {
	display: none;
}

.Rtbrdr {
	border-right: 1px solid #dadada;
}
/*shopper module styles*/
.mobLink {
	width: 220px;
	border-right: 1px solid #dadada;
}

.mobDsply,.newmobDsply {
	width: 730px;
}

.newmobDsply {
	height: 448px;
}

.mobCont {
	border: 1px solid #dadada;
	overflow: hidden;
	background: url(../images/mobDsplySplitBg.png) repeat-y;
}

.navBar {
	background: url(../images/navBarBg.png) repeat-x;
	height: 44px;
}

.tabBar {
	background: url(../images/tabBarBg.png) repeat-x;
	height: 50px;
}

#mainMenu li {
	height: 50px;
	display: block;
	background: url(../images/mainMenuBg.png) repeat-x;
}

#mainMenu li:hover {
	background: url(../images/mainMenuBgHvr.png) repeat-x;
	line-height: 50px;
	height: 50px;
	display: block;
}

#mainMenu li a {
	font-size: 15px;
	font-weight: bold;
	color: #3a3d3f;
	text-align: left;
	padding-left: 60px;
	line-height: 50px;
	display: block;
}

#mainMenu li a:hover {
	color: #26282a;
	line-height: 50px;
	height: 50px;
	display: block;
}

#mainMenu li a.tl {
	background: url(../images/MM_ThisLocation_Icon.png) no-repeat 8px 5px;
}

#mainMenu li a.find {
	background: url(../images/MM_FNB_FindIcon.png) no-repeat 8px 5px;
}

#mainMenu li a.sn {
	background: url(../images/MM_ScanNow_Icon.png) no-repeat 8px 5px;
}

#mainMenu li a.sl {
	background: url(../images/MM_ShoppingList_Icon.png) no-repeat 8px 5px;
}

#mainMenu li a.hd {
	background: url(../images/MM_HotDeals_Icon.png) no-repeat 8px 5px;
}

#mainMenu li a.wl {
	background: url(../images/MM_WishList_icon.png) no-repeat 8px 5px;
}

#mainMenu li a.Glry {
	background: url(../images/MM_GalleryIcon.png) no-repeat 8px 5px;
}

#mainMenu li a.uprfl {
	background: url(../images/MM_MyAccountIcon.png) no-repeat 8px 5px;
}

#mainMenu li a.Pref {
	background: url(../images/MM_PreferencesIcon.png) no-repeat 8px 5px;
}

#mainMenu li a.ma {
	background: url(../images/MM_MyAccountIcon.png) no-repeat 8px 5px;
}

.navBar li {
	float: left;
	padding: 8px 0 0 8px;
	color: #FFFFFF;
	line-height: 20px;
}

.titletxt {
	text-align: center;
	width: 740px;
	font-size: 18px;
}

.optnPnl {
	width: 250px;
}

.mobDsply div {
	float: left;
}

.mobDsply .mailpopPnl div,.mobDsply div.actnCncl {
	float: none;
}

.splitDsply {
	width: 730px;
}

.dataView {
	width: 470px;
	overflow: scroll;
}

.detView span {
	display: block;
	color: #3389b6;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
}

.mobGrd {
	border-left: 1px solid #e1e1e1;
}

.mobGrd td {
	padding: 5px 4px;
	border: 1px solid #e1e1e1;
	border-width: 0 0 1px 0 !important;
}

.mobGrd tr {
	background: url(../images/mobRowBG.png) repeat-x left bottom;
}

.mobGrd tr.hvrEfct {
	background: url(../images/mobRowHvrBG.png) repeat-x left bottom;
}

#staticView tr.hvrEfct {
	cursor: default !important;
}

.mobGrd li {
	float: left;
	width: 50%;
	color: #FF0000;
	font-size: 11px;
}

.mobGrd li.stretch {
	width: 100%;
}

.mobGrd li span {
	color: #4c566c;
	font-size: 11px;
	display: inline;
	padding-right: 4px;
}

table.prodSummary {
	/*border:1px solid #afd2db;
	border-width:1px 1px 1px 0px;*/
	
}

.prodSummary tr td {
	padding: 8px 8px;
	border-right: 0 !important;
	border: 1px solid #e3e3e3;
	border-width: 1px 0 0 0 !important;
}
/*.evenRow {
	background-color:#f5fbfc;
}*/
.oddRow {
	/*background-color:#d7edf3;*/
	font-weight: bold;
	/*color:#3389b6;*/
}

.ImgRow {
	background-color: #FFFFFF;
}

.title {
	color: #334957;
	font-size: 14px;
	font-weight: bold;
}

.rating li {
	float: left;
	padding-right: 4px;
}

.valText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 20px;
	line-height: 22px;
	font-size: 16px;
	font-weight: bold;
	color: #646d73;
}

.rating li.clrRtng img {
	padding: 4px 0 0 10px;
}

.subBar {
	background: url(../images/subBarBg.png) repeat-x;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

.subBar td span,.reviewGrd td.subBar {
	padding-left: 10px;
}

.LRbrdr {
	border: 1px solid #dadada;
	border-width: 0 1px;
}

.reviewGrd td.subBar {
	background: url(../images/subBarBg.png) repeat-x !important;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

.reviewGrd tr td {
	padding: 4px;
	border-right: 0 !important;
	background: url(../images/reviewListBg.png) repeat-x left bottom;
	line-height: 18px;
	border-bottom: 1px solid #eaeaea;
}

.topSubBar {
	border: 1px solid #dadada;
	border-width: 0 0 1px 1px;
}

.topSubBar tr {
	background: url(../images/tabBg.png) repeat-x left bottom;
	height: 40px;
}

.topSubBar tr input,.topSubBar tr select {
	vertical-align: middle;
}

.fluidView,.fluidViewHD {
	width: 100%;
}

.note {
	background: url(../images/noteBg.png) repeat-y;
}

.fluidView div {
	float: left;
	width: 363px;
	border: 1px solid #dadada;
	border-width: 0 0 1px 1px;
	overflow: scroll;
}

.fluidViewHD div.cmnPnl {
	float: left;
	width: 363px;
	border: 1px solid #dadada;
	border-width: 0 0 1px 1px;
	overflow: scroll;
}

.fluidView div.stretch {
	width: 100% !important;
}

.fluidViewHD div.stretch {
	width: 100% !important;
}

.gnrlGrd td {
	padding: 0 6px;
	border: 1px solid #e1e1e1;
	border-width: 0 0 1px 0 !important;
	height: 46px;
}

.gnrlGrd th {
	padding: 6px 6px;
	background: url("../images/tabBg.png") repeat-x scroll left bottom
		transparent;
}

.gnrlGrd th img {
	vertical-align: middle;
}

.gnrlGrd td.wrpWord {
	word-wrap: break-word;
}

.brkwrd,.brkwrdSmall {
	word-wrap: break-word;
	width: 150px;
}

.brkwrdSmall {
	width: 80px;
}

.gnrlGrd td.mobSubTitle,.mobGrd td.mobSubTitle {
	height: 25px;
	background: url(../images/mobSubTitle.png) repeat-x;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0 0 0 10px !important;
	line-height: 25px;
}

#cpnAll td.mobSubTitle {
	background: url(../images/CPN_AllBarBg.png) repeat-x;
}

#cpnExprd td.mobSubTitle {
	background: url(../images/CPN_ExpiredBarBg.png) repeat-x;
}

#cpnUsed td.mobSubTitle {
	background: url(../images/CPN_UsedBarBg.png) repeat-x;
}

.gnrlGrd td.mobApi {
	height: 20px;
	background-color: #a9b4be;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0 0 0 10px !important;
	line-height: 20px;
}

.gnrlGrd tr {
	background: url(../images/mobRowBG.png) repeat-x left bottom;
}

.gnrlGrd tr.hvrEfct {
	background: url(../images/mobRowHvrBG.png) repeat-x left bottom;
}

#btnBar {
	height: 34px;
	line-height: 34px;
}

#btnBar li {
	background: url(../images/tabBg.png) repeat-x left bottom;
	display: block;
}

#btnBar li input {
	margin-left: 14px;
}

#btnBar li img {
	vertical-align: middle;
}

#sLTab {
	margin-left: 230px;
}

#sLTab li,#iphoneTab li {
	float: left;
	cursor: pointer;
}

.lstNm {
	color: #234084;
	/*font-weight:bold;*/
}

.preferencesLst tr.mainCtgry {
	color: #276aa8;
	font-weight: bold;
}

.mobGrd th {
	padding: 6px 6px;
	background: url("../images/tabBg.png") repeat-x scroll left bottom
		transparent;
}

.mobGrd td.grpdtxt {
	height: 20px;
	background-color: #a9b4be !important;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0 0 0 10px !important;
	line-height: 20px;
}

.infoPnl td {
	font-size: 12px;
	font-weight: bold;
}

.infoPnl li,.infoPnl li span {
	color: #5480c0;
	font-weight: normal;
	font-size: 12px;
	padding-top: 5px;
}

.newLnView {
	color: #363b41;
	font-size: 12px;
	font-weight: normal;
	margin-top: 5px;
	clear: both;
}

.newLnView span {
	font-weight: bold;
}

.tabdBtnTgl li {
	background: url(../images/tabdBtnsBg.png) repeat-x;
	border: 1px solid #86898d;
	float: left;
	width: 49.5%;
	color: #7f7f7f;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 6px;
}

.tabdBtnTgl li a {
	display: block;
}

.tabdBtnTgl li.noRtbrdr {
	border-right: 0px !important;
}

.tabdBtnTgl li.active {
	background: url(../images/tabdBtnsBgHover.png) repeat-x;
	color: #fff;
}
/*.fixedTableHeader {
	position:fixed;
	top:0;
	left:0;
	width:100%;
}*/
#findPnl td {
	color: #0E6A9E;
	font-weight: bold;
}

ul.infoView li {
	float: none;
	width: 100%;
	padding: 5px 0;
	color: #2382c4;
	font-size: 12px;
	line-height: 18px;
}

ul.infoView li span {
	font-size: 12px;
}

span.names {
	margin-top: 10px;
}

.imgBlk img {
	padding-top: 10px;
}

#edit li {
	line-height: 20px;
	background: url(../images/rowNoteBg2.png) repeat-y left top;
	height: 22px;
	padding: 0 10px 0 50px;
	word-wrap: break-word;
}

div.noteBg {
	background: url(../images/rowNoteBg2.png) repeat-y left top;
}

.myAccBg {
	background-color: #a8a0d8;
}

.whitetxt,.whiteTitle {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

.whiteTitle {
	font-size: 18px;
}

.errorMsg {
	font-weight: normal;
	color: #FF0000;
	font-size: 11px;
}

.rtpnlTitle {
	background: url(../images/rtPnlHdr_bg.png) repeat-x;
	line-height: 40px;
	padding: 0 8px;
}

.rtpnlTitle img {
	padding-right: 10px;
	vertical-align: middle;
}

.dotdLists li {
	border-bottom: 1px dotted #454545;
	line-height: 20px;
	padding: 6px 52px;
}

.dotdLists {
	margin-bottom: 10px;
}

.cntItems,.cntCart {
	font-size: 12px;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.htlt span a {
	color: #4c566c;
}

.algnMnt {
	padding-left: 225px;
	background: url(../images/topSecBg.png) repeat-x;
	border: 1px solid #E1E1E1;
	border-width: 0 1px 0 1px;
}

ul.clr {
	width: 14px;
}

.clr li {
	width: 14px;
	display: block;
}

.smlLinkstxt {
	color: #3c3c3c;
}

.subSearch {
	padding: 5px 0 5px 0;
	background: url(../images/topSecBg.png) repeat-x;
}

.subSearch input select {
	height: 40px;
	vertical-align: middle;
}

.subSearch select {
	vertical-align: middle;
}

.subSearch img {
	vertical-align: middle;
	padding-left: 5px;
}

#iphonePanel {
	background: url(../images/iphoneFrame.png) no-repeat;
	width: 359px;
	height: 611px;
	margin: 0 auto;
	padding-top: 159px;
	padding-left: 41px;
}

#iphonePanelHalf {
	background: url(../images/iphoneHalfFrame.png) no-repeat;
	width: 430px;
	height: 271px;
	padding-top: 159px;
	padding-left: 41px;
}

.viewArea,.viewFull,.viewAreaProduct,.viewAd,.viewTabBtm,.previewArea,.previewAreaScroll
	{
	width: 320px;
	height: 416px;
	overflow: scroll;
	overflow-x: hidden;
}

.previewArea,.previewAreaScroll {
	height: 366px;
	overflow: hidden;
}

.previewAreaScroll {
	overflow: scroll;
	overflow-x: hidden;
}

#TabBarIphone {
	background: url(../images/tabBarBg.png) repeat-x scroll 0 0 transparent;
	height: 50px;
	width: 320px;
}

.viewTabBtm {
	height: 366px;
}

.viewAd {
	height: 460px;
	overflow: hidden;
}

.viewAreaProduct {
	height: 410px;
	overflow: hidden;
}

#attributeInfo {
	height: 166px;
	overflow: scroll;
	overflow-x: hidden;
}

.viewFull {
	overflow: hidden;
}

.viewAreaHlf {
}

.viewAreaHlfExtnd {
}

ul.settings {
	background: url(../images/tabBg.png) repeat-x;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	border-top: 1px solid #c9d0d3;
}

ul.settings li input {
	vertical-align: middle;
	font-weight: bold;
}

ul.settings li {
	float: left;
	margin-right: 10px;
}

.requiredVal {
	background-color: #d0a6a6;
}

.demoGrd td {
	height: 54px;
	font-weight: bold;
}

.demoGrd td img {
	vertical-align: middle;
}

.description {
	font-weight: normal;
	font-size: 11px;
}

ul.lblValLst li {
	padding: 4px;
	font-weight: bold;
	display: block;
}

ul.lblValLst li span {
	padding-left: 10px;
}

.amountTxt {
	font-size: 14px;
	font-weight: bold;
	color: #AA0B21;
}

.nrmltxt {
	font-weight: normal;
}

ol li {
	list-style: decimal;
	margin-left: 16px;
	padding: 4px;
	text-align: left;
}

#loading-image {
	background: url(../images/transparency.png) repeat;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	color: #FFFFFF;
	top: 0;
	left: 0;
}

#loading-image img {
	position: relative;
	margin-top: 30%;
	margin-left: 45%;
	display: block;
}

#loading-image span {
	position: relative;
	margin-top: 33%;
	margin-left: 48%;
	font-weight: bold;
}

#prodInformation li {
	float: left;
}

#prodInformation li#ImgArea {
	width: 125px;
	height: 130px;
	padding: 4px;
}

#prodInformation li#ProdName {
	font-size: 14px;
	font-weight: bold;
	padding-top: 50px;
	width: 160px;
	display: block;
	word-wrap: break-word;
}

#descriptionArea {
	padding-left: 8px;
}

#mediaPanel {
	width: 320px;
	margin-top: 5px;
}

#mediaPanel ul {
	padding: 8px 0 0 12px;
}

#mediaPanel li {
	float: left;
	padding-right: 13px;
}

/* Styles specific to this particular page */
.scroll-pane,.scroll-pane-arrows {
	width: 100%;
	height: 200px;
	overflow: auto;
}

.horizontal-only {
	height: auto;
	max-height: 200px;
}

.genTitle {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	/*	line-height:44px;*/
}

.iphone {
	width: 320px;
}

.titleGrd {
	height: 44px;
}

.titleGrd td {
	height: 44px;
	border-right: none !important;
}

.titleGrd td img {
	vertical-align: middle;
	padding: 0 4px;
}

.scrolling {
	height: 120px;
	overflow: scroll;
	overflow-x: hidden;
}

.instScroll {
	height: 160px;
	overflow: scroll;
	overflow-x: hidden;
}

.PageNf {
	background-color: #d7d8d8;
	border: 1px solid #8c8c8c;
}

.iphoneTitle {
	color: #F82725;
	font-weight: 700;
}

#subnavTab {
	background: url("../images/tabBarBg.png") repeat-x scroll 0 0
		transparent;
	height: 50px;
}

#subnavTab li {
	float: left;
}

#actionSheet {
	background: url(../images/actionSheetBg.png) repeat-x;
	height: 226px;
	position: absolute;
	width: 320px;
	display: none;
	z-index: 99999;
	bottom: 0px;
	border: 1px solid #323336;
	border-width: 0 1px 0 1px;
}

.relatvDiv {
	position: relative;
}

ul.actnShtLst {
	width: 278px;
	margin: 0 auto;
}

.actnShtLst li a {
	background: url(../images/actionsheetBtns.png) no-repeat;
	width: 278px;
	height: 45px;
	line-height: 30px;
	display: block;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 6px 0;
	/*	text-shadow: 1px 1px 1px #cdcdd0;
	filter: dropshadow(color=#3d434a, offx=, offy=2); */
}

.actnShtLst li a:hover {
	color: #FFFFFF;
	background: url(../images/actionsheetBtnsHvr.png) no-repeat;
	/*	text-shadow: 1px 2px 1px #3d434a;
	filter: dropshadow(color=#3d434a, offx=, offy=-2); */
}

.actnCncl {
	padding: 8px 0 14px 0;
}

.mailpopPnl {
	background: url(../images/transparency.png) repeat;
	width: 100%;
	height: 100%;
	z-index: 9999;
	position: absolute;
	color: #FFFFFF;
	top: 0;
	left: 0;
}

.mailInfo {
	width: 290px;
	background: #fff;
	position: relative;
	border: 2px solid #ececec;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0 auto;
	margin-top: 20%;
}

.mailInfo  ul {
	padding: 10px;
}

.mailInfo li {
	padding: 10px 0;
}

.mailInfo li span {
	color: #000000;
	padding-right: 10px;
	font-weight: bold;
	display: inline-block;
}

.mailInfo li input[type="button"] {
	margin-left: 28px;
}

.actTitleBar {
	background: url(../images/actTitleBg.png) repeat-x;
	line-height: 24px;
	color: #000000;
	text-indent: 8px;
	overflow: hidden;
}

.actTitleBar img {
	position: relative;
	padding: 4px 4px 0 0;
	cursor: pointer;
}

.iphonePagn {
	border: 1px solid #e1e1e1;
	border-width: 0 0px 1px 1px;
	height: 36px;
}

.iphonePagn img {
	padding: 4px 6px 0 4px;
}

.iphonePagn li {
	background: url(../images/mobRowBG.png) repeat-x scroll left bottom;
	float: left;
	width: 50%;
	height: 36px;
}

.dsbldTxt {
	background: #cfcfcf !important;
}
/*.fluidView,.fluidViewHD,.dataView,.cmnPnl,.stretch,.splitDsply {
	min-height:408px;
	max-height:448px;
}*/
.tabdView {
	height: 250px;
}

.txtIndent {
	padding-left: 25px !important;
	color: #465259 !important;
	font-weight: normal !important;
}

.crdtCrd,.achBank {
	display: none;
}

.alignImg {
	vertical-align: middle;
}

.infoSec,.infoSecB {
	border: 1px solid #eaeaea;
	background: #fbfbfb url(../images/infiIconG.png) no-repeat 8px 10px;
	padding: 10px 5px 10px 64px;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
	min-height: 40px;
}

.infoSecB {
	background: #fbfbfb url(../images/infiIcon.png) no-repeat 8px 10px;
}

table.noBrdr tr td {
	border-right: 0 !important;
}

table.noBrdr tr td span {
	font-weight: normal;
}

.infoSlide {
	position: relative;
}

.overlaySec {
	position: absolute;
	padding-top: 4px;
}

.grdTbl .hdrTxt,.hdrTxt {
	color: #0E6A9E;
}

.scrolling {
	width: 956px;
	height: 200px;
	overflow-x: scroll;
}
/*Autocomplete*/
/* Autocomplete
----------------------------------*/
.ui-autocomplete {
	position: absolute;
	cursor: default;
}

.ui-autocomplete-loading {
	background: white url('images/ui-anim_basic_16x16.gif') right center
		no-repeat;
}

/* workarounds */
* html .ui-autocomplete {
	width: 1px;
} /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	background: #f3f3f3;
	border: 1px solid #d4d4d4;
	border-width: 0 1px 1px;
	border-radius: 0px 0px 6px 6px;
}

.ui-menu .ui-menu {
	margin-top: -3px;
}

.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	width: 100%;
}

.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: .2em .4em;
	line-height: 1.5;
	/*zoom:1;*/
	color: #393939;
}

.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active
	{
	/* margin: -1px;*/
	background-color: #FFFFFF;
	color: #468abe;
}

.inputNobg {
	background-image: none !important;
	border: 0px !important;
}

.hrzscroll {
	height: 400px;
	overflow-x: scroll;
	width: 939px;
}

.actnLst {
	width: 115px;
}

.qrImg li {
	width: 25%;
	float: left;
}

.qrImg li span {
	display: block;
}

.forgotPswd {
	display: none;
}

.highLtxt {
	color: #2496b2;
}

.notify {
	display: none;
}

tr.addBG td {
	background: url(../images/contblkBG.png) repeat-x;
	height: 74px;
	cursor: pointer;
	font-size: 13px;
	color: #2a2e2f;
	border-bottom: 1px dotted #ededed !important;
}

tr.addBG td.active {
	background: url(../images/contblkBGHvr.png) repeat-x;
}

tr.pageInfo td {
	padding: 4px 6px 12px !important;
	background: url(../images/trBg.png) repeat-x bottom;
	color: #5d7a8a;
	line-height: 16px;
	border-right: 1px dotted #b5b5b5 !important;
}
/*.imgarea,.txtarea{
	width:50%;
}*/
.imgarea {
	padding-right: 10px;
}

.txtarea {
	margin-top: 4%;
}

.txtareaRemoveMrgn {
	margin-top: 0px;
}

.longdesc {
	height: 180px;
	overflow-y: scroll;
}

.zeroBtmPdng td {
	padding-bottom: 0px !important;
}

.zeroBtmPdng td img {
	vertical-align: middle;
	margin-bottom: 5px;
}

.cstmBtn {
	background-color: red;
	line-height: 42px;
	text-align: center;
}

.cstmBtn a {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	display: block;
}

.cstmBtn a:hover {
}

.cstmBtn img {
	vertical-align: middle;
	padding: 0 4px;
}

.infoStrip {
	/*background:url(../images/stripBg.png) repeat-x;*/
	height: 56px;
	width: 304px;
	padding: 8px 8px;
}

.infoStrip li {
	float: left;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
}

#trgrUpld {
	display: none;
}

.wrpWord {
	word-wrap: break-word;
}

.prodDescLst li {
	line-height: 24px;
}

.prodDescLst li span {
	color: #007eb2;
	font-weight: bold;
}

.nonBlk {
	display: inline-block !important;
}

.iPhnTitle {
	
	height: 35px !important;
	line-height: 35px !important;
	font-size: 16px !important;
	color: #000000 !important;
	text-align: center !important;
	padding: 0px !important;
}

.iPhnCont span {
	line-height: normal !important;
	/*font-style:normal;
	font-size:16px; 
	font-weight:bold;
	color:#000000;
	text-align:center;*/
	padding: 0px !important;
	display: inline !important;
}
/* New Style iPhone Preview */
.viewAreaiPhn {
	background-color: #edebeb;
	

	margin: 0px auto;
}

.shrtDesc,.lngDesc,.rtlrTitle {
	word-wrap: break-word;
}

.iphoneLabels {
	font-weight: bold;
}

.iPhnContBtm {
	background: url(../images/iPhonePreviewbtmBg.png) no-repeat bottom;
	
	height: 9px;
	display: block;
}

.iPhnCont {
	
	padding:10px;
	
}

.hgltRow {
	border-bottom: 1px solid #000000 !important;
	padding: 0px !important;
	height: 50px !important;
}

.iPhoneBrdr {
	margin: 0 auto;
}

.viewAreaNew {
	
	
}

.dwnldApp {
	height: 28px !important;
}

.demoGrd td span {
	display: block;
	font-weight: normal;
}

tr.rtlrRbbnAd td {
	height: 50px;
	padding: 0px;
}

.cstmCursr {
	cursor: pointer;
	height: 50px;
}

.iphoneGrd tr {
	background: url(../images/mobRowBG.png) repeat-x left bottom;
}

.iphoneGrd td {
	padding: 0px 8px;
	border: 1px solid #e1e1e1;
	border-width: 0 0 1px !important;
	height: 54px;
	font-weight: bold;
}

.iphoneGrd td span {
	font-weight: normal;
	display: block;
}

.greyedOut {
	color: #b7b7b7 !important;
}

.dwnldAppStrip {
	position: relative;
}

.dwnldAppStrip img {
	position: absolute;
	right: -7px;
}
.iPhnTitle {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 1%, #eeeeee 38%, #cccccc 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff),
		color-stop(38%, #eeeeee), color-stop(100%, #cccccc));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%, #eeeeee 38%, #cccccc 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%, #eeeeee 38%, #cccccc 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%, #eeeeee 38%, #cccccc 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffff 1%, #eeeeee 38%, #cccccc 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#cccccc', GradientType=0); /* IE6-9 */
	height: 35px;
	font-size: 16px;
	line-height: 35px;
	text-align: center;
}

.iPhnTitle {
	background: linear-gradient(to bottom, #ffffff 1%, #eeeeee 38%, #cccccc 100%)
		repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #dedede;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	margin: 0;
	text-align: center;
}

.cont {
	border-image: none;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	border-color: 1px solid #dedede;
	border-width: 0 1px 1px;
	padding: 10px;
	background: #fff;
}

.loclbl {
    font-weight: bold;
    font-size: 14px;
}

.loclist {
    border: 1px solid #dedede;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.loclist li {
    border-bottom: 1px solid #dedede;
    overflow: hidden;
    padding: 4px;
}

.loclist img {
    float: left;
    margin: 2px 10px;
}

.loclist li span {
    display: block !important;
    font-size: 14px;
    font-weight: bold;
}
.downloadHdr > img {
    vertical-align: middle;
}


.downloadHdr a {
    background: none repeat scroll 0 0 #e2e2e2;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #494949;
    line-height: 48px !important;
    margin: 0 4px;
    padding: 4px 12px;
}

.splIPhnTitle {
    background: none repeat scroll 0 0 #bababa;
    border: 1px solid #dedede;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
    margin: 0;
    text-align: center;
    color: #ffffff !important;
}
.splCont {
	border-image: none;
	border-color: 1px solid #dedede;
	border-width: 0 1px 1px;
	background: #fff;
}
.splIPhnTitleHgt {
    height: 10px!important;
    font-size: 11px!important;
}
@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
}/*
body{
overflow:scroll;
overflow-x:hidden;	
}*/
html, body {
	background: url(../images/textureBg.jpg) repeat;
	color: #393d43;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}
input[type="text"], input[type="password"] {
	border: none;
}
.app-img-view {
    margin-bottom: 20px;
}
.app-content {
    box-sizing: padding-box;
    padding: 10px;
}
.app-content h2 {
    color: #000;
    font-size: 20px;
    margin-bottom: 16px;
}
.app-img-view img {
    width: 100%;
}

.app-info {
    list-style-type: none;
}
.app-info li {
    border: 1px solid;
    box-sizing: content-box;
    display: inline-block;
    min-width: 49%;
    width: auto;
}

.app-short-desc, .app-long-desc {
    font-size: 14px;
    text-align: left;
    word-wrap: break-word;
}
.app-split-view button {
    background: #a6a6a6 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-weight: bold;
    line-height: 36px;
    width: 96%;
}
.splitBtn {
    background: #a6a6a6;
    border: 0 none;
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    width: 98%;
}
.app-info {
    color: #a0a0a0;
}
.rt-algn button {
    float: right;
}
.row::after {
    clear: both;
    content: "";
    display: table;
}
.col {
	float:left;	
}
.col-6 {
    width: 50%;
}
.two-col button {
    border: 0 none;
    line-height: 36px;
}
.icon {
    display: inline-block;
    height: 26px;
    padding: 0 10px 0 0;
    width: 26px;
}
.icon > img {
    padding: 0 10px 0 0;
    vertical-align: middle;
    width: 26px;
}
.mrgn-btm {
	margin-bottom:16px;	
}
.icon > img {
    margin-bottom: 6px;
    padding: 0 10px 0 0;
    vertical-align: middle;
    width: 26px;
}

.app-list-view a {
    background: rgba(0, 0, 0, 0) url("../images/rtChevron.png") no-repeat scroll 96% center;
    border-bottom: 1px solid #cacaca;
    color: #000;
    display: block;
    padding: 14px;
    text-decoration: none;
}

.zero-pdng {
    padding: 0;
}

.modal-popup {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    margin: 18% auto 0;
    position: relative;
    width: 400px;
}
.modal-hdr {
    border-bottom: 1px solid #d4d4d4;
    padding: 10px 12px;
}
.modal-bdy {
    padding: 10px 14px 10px 12px;
}
.modal-ftr {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #dddddd;
    box-shadow: 0 1px 0 #ffffff inset;
    padding: 10px 12px;
}
.modal-close {
    color: #000000;
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #ffffff;
}
.modal-popupWrp {
    background: rgba(0, 0, 0, 0) url("../images/overLay.png") repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.modal-popup {
    display: none;
}

.highlite {
	background: linear-gradient(to bottom, #cccccc 1%, #cccccc 38%, #cccccc 100%)
		repeat scroll 0 0 rgba(0, 0, 0, 0);
	/* border: 1px solid #dedede; */
	/* border-top-left-radius: 6px;
	border-top-right-radius: 6px; */
	font-size: 16px;
	height: 35px;
	line-height: 35px;
	margin: 0;
	text-align: center;
}

.hilite {
	background: linear-gradient(to bottom, #cccccc 1%, #cccccc 38%, #cccccc 100%)
		repeat scroll 0 0 rgba(0, 0, 0, 0);
	/* border: 1px solid #dedede; */
	/* border-top-left-radius: 6px;
	border-top-right-radius: 6px; */
	font-size: 16px;
	height: 29px;
	line-height: 29px;
	margin: 0;
	text-align: center;
}

.iPhnNewsTitle {
    background: linear-gradient(to bottom, #ffffff 1%, #eeeeee 38%, #cccccc 100%)
 repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #dedede;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-size: 16px;
    /* height: 35px; */
    /* line-height: 35px; */
    margin: 0;
    text-align: center;
    padding: 10px 0!important;
    line-height: 23px;
}

