/* Ticker Styling */
#ticker-wrapper.has-js {
	margin: 10px 0px 0px 0px;
	display: block;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#ticker {
	width: 874px;
	height: 23px;
	display: block;
	position: relative;
	overflow: hidden;
}
#ticker-title {
	padding-top: 9px;
	color: #515355;
	font-weight: bold;
}
#ticker-content {
	margin: 0px;
	padding-top: 9px;
	position: absolute;
	color: #1e7fbd;
	background-color: #ffffff;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
	left:90px!important;
}
#ticker-content:focus {
	
}
#ticker-content a {
	text-decoration: none;	
	color: #1e7fbd;
}
#ticker-content a:hover {

	color: #00569c;
}
#ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-color: #ffffff;
	display: block;
	width: 800px;
	height: 23px; 
}
#ticker-swipe span {
	margin-left: 1px;
	background-color: #ffffff;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
#ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
}
#ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
#ticker-controls li#play-pause {
	background-image: url('../images/controls2.png');
	background-position: 32px 16px;
}
#ticker-controls li#play-pause.over {
	background-position: 32px 32px;
}
#ticker-controls li#play-pause.down {
	background-position: 32px 0px;
}
#ticker-controls li#play-pause.paused {
	background-image: url('../images/controls2.png');	
	background-position: 48px 16px;
}
#ticker-controls li#play-pause.paused.over {
	background-position: 48px 32px;
}
#ticker-controls li#play-pause.paused.down {
	background-position: 48px 0px;
}
#ticker-controls li#prev {
	background-image: url('../images/controls2.png');
	background-position: 0px 16px;		
}
#ticker-controls li#prev.over {
	background-position: 0px 32px;		
}
#ticker-controls li#prev.down {
	background-position: 0px 0px;		
}
#ticker-controls li#next {
	background-image: url('../images/controls2.png');	
	background-position: 16px 16px;	
}
#ticker-controls li#next.over {
	background-position: 16px 32px;	
}
#ticker-controls li#next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
#no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left #ticker-swipe {
	left: 80px;
}
.left #ticker-controls, .left #ticker-content, .left #ticker-title, .left #ticker {
    float: left;
}
.left #ticker-controls {
    padding-left: 6px;
}
.right #ticker-swipe {
	right: 80px;
}
.right #ticker-controls, .right #ticker-content, .right #ticker-title, .right #ticker {
    float: right;
}
.right #ticker-controls {
    padding-right: 6px;
}