@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #cdcdcd;
	color: #4c566c;
}

#wrapper,#loginWrpr {
	width: 1000px;
	margin: 0 auto;
	background: #FFFFFF;
}

#header {
	height: 96px;
	background: #ffffff url(../images/header_bg.png) repeat-x;
}

#header_logo {
	padding: 14px 0 0 20px;
	display: inline;
}

#header_link {
	margin: 5px 20px 0 0;
	color: #404449;
	display: inline;
	/* width: 220px; */
}

#header_link li {
	float: left;
	margin-right: 10px;
}

#header_link a {
	color: #404449;
}

#header_link a:hover {
	color: #00569c;
}

.highLightTxt {
	color: #2DA5CB !important;
}

#loginSec {
	width: 372px;
	margin: 0 auto;
	background: url(../images/loginBdyBg.png) repeat-y;
	margin-top: 100px;
}

#loginSec ul {
	padding: 20px 24px;
}

#loginSec li {
	padding: 10px 0;
	line-height: 25px;
}

#loginSec li i.errIcon {
	width: auto;
	display: inline-block;
	margin-left: 90px;
}

#loginSec ul li span {
	font-size: 12px;
}

#loginSec ul li img {
	margin-right: 20px;
}

#loginSec ul li span.smlTxt {
	font-size: 11px;
	color: #00569c;
}

.loginBtm {
	background: url(../images/loginbtmBg.png) no-repeat;
	line-height: 54px;
}

#loginSec h1 {
	background: url(../images/loginTopBg.png) no-repeat 0 0;
	line-height: 47px;
}

input[type='text'],input[type='password'] {
	border: 1px solid #d4d4d4;
	background: url(../images/inputBg.png) repeat-x;
	line-height: 24px;
	padding-left: 2px;
	height: 22px;
	width: 230px;
}

#content {
	padding: 0 21px 21px;
}

.textboxBig,.textboxMedium,.textboxSmall,.textboxSmaller,.textboxDate,.txtAreaBig,.txtAreaSmall,.txtAreaLarge,.txtAreaSmaller,.textemail,.textboxSrch,.txtAreaBigFit,.txtAreaFit,.textboxBigFit,textarea,file,select
	{
	width: 200px;
	border: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #c7cfd1;
	background: url(../images/textboxBg.png) repeat-x;
	background-position: top;
	height: 22px;
	line-height: 20px;
	color: #465259;
}

.textboxSmaller {
	width: 80px !important;
}

.textboxSrch {
	width: 120px !important;
}

.textboxDate {
	width: 100px !important;
}

.txtAreaLarge {
	width: 600px;
	height: 50px;
}

.textBigger {
	width: 470px;
	margin-top: 2px;
}

.textboxSmall {
	width: 100px;
}

.textboxMedium {
	width: 170px !important;
	margin: 0 5px;
}

.txtAreaBig {
	width: 380px;
	height: 50px;
}

.txtAreaSmall {
	width: 160px;
	height: 50px;
}

.txtAreaBox {
	width: 200px;
	height: 120px;
}

.txtAreaSmaller {
	width: 360px;
	height: 20px;
}

.selectMultiDrop {
	height: 66px;
	width: 230px;
	border: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #c7cfd1;
	background: url(../images/textboxBg.png) repeat-x;
}

.loginBtn {
	cursor: pointer;
}

.grdCont,.contBlock {
	padding: 0px 0px 14px 0px;
	background: url(../images/shadowBG.png) repeat-x bottom;
}

#scrlGrd {
	height: 336px;
	overflow: auto;
	padding: 8px 0 0;
	max-width: 764px;
}

#scrlGrd input[type='text'] {
	border: 1px solid #d4d4d4;
	border-width: 2px 1px 1px 2px;
	background: url(../images/inputBg.png) repeat-x;
	line-height: 24px;
	padding-left: 2px;
	height: 22px;
	width: 90px;
}

.searchGrd h1 {
	background: url(../images/grdHeaderBg.png) repeat-x 0 0;
	line-height: 22px;
	border-bottom: 1px solid #ebedef;
	font-size: 12px;
	color: #092a45;
	font-weight: bold;
	padding: 4px 8px;
	cursor: pointer;
}

.searchGrd table {
	border: 1px solid #c1e4f0;
	border-width: 1px 1px 0 1px;
}

.searchGrd table tr td {
	border-bottom: 1px solid #c1e4f0;
	padding: 6px 3px;
		/* commented for pain/unpaid alignment issue fix changed padding(from 8px to 3px) old:padding: 6px 8px;*/
}

.searchGrd table tr.header {
	background: #40a8ca;
	color: #FFFFFF;
	font-weight: bold;
}

.searchGrd table tr.header a {
	color: #FFFFFF;
}

.searchGrd table tr.header td {
	color: #FFFFFF;
}

.hvrEfct {
	background-color: #f5fbfc;
}

.contBlock {
	
}

fieldset {
	border: 1px solid #dadada;
}

.contWrap {
	border: 1px solid #dadada;
	margin: 10px;
}

legend {
	font-size: 15px;
	color: #114e89;
	font-weight: bold;
	margin-left: 10px;
	background: #fff;
	padding: 0 5px;
}

.grdTbl input[type='radio'] {
	vertical-align: middle;
	margin-right: 5px;
}

.grdTbl td {
	padding: 6px 8px;
	border-bottom: 1px solid #dadada;
	color: #465259;
	font-size: 12px;
}

.grdTbl td span {
	font-style: italic;
	color: #001f60;
	line-height: 16px;
	display: block;
}

.grdTbl td img,.tranTbl td img,.tranTbl td input[type='radio'] {
	vertical-align: middle;
}

.tranTbl tr.subheader td {
	color: #fff;
	background: #074b7a;
	font-size: 15px;
	font-weight: bold;
}

.grdTbl td.header,.tranTbl td.header {
	background: url("../images/grdHeaderBg.png") repeat-x scroll 0 0
		transparent;
	border-bottom: 1px solid #EBEDEF;
	color: #092A45;
	font-weight: bold;
	line-height: 22px;
	padding: 4px 8px;
}

.navTabSec {
	margin: 10px 0;
}

.mrgnRt {
	margin-right: 10px !important;
}

.mrgnBtm {
	margin: 15px 0 0 0;
}

.mrgnTop {
	margin-top: 10px !important;
}

.btn,.hltBtn {
	border: 1px solid #cacfcf;
	background: url(../images/btnBG.png) repeat-x 0 0;
	height: 24px;
	line-height: 24px;
	color: #4e5458;
	padding: 0 15px;
	cursor: pointer;
	overflow: visible; /*Fix for button width*/
	font-size: 12px !important;
	font-weight: bold;
	margin: 0 2px;
	font-family: Arial, Helvetica, sans-serif;
}

.hltBtn {
	background: url(../images/htltbtnBG.png) repeat-x 0 0;
	border: 1px solid #e4dd71;
}

#footer_nav {
	background: url("../images/footer-nav-bg.png") no-repeat scroll center
		top #1A1A1A;
}

#footer_info {
	color: #8E8E8E;
	font-size: 11px;
	padding: 10px 0;
	text-align: center;
}

.pagination {
	background: url(../images/paginationBg.png) repeat-x;
	padding: 5px;
	border: 1px solid #c1e4f0;
	border-width: 0 1px;
}

.pagination p {
	text-align: left;
}

.pagination p a {
	padding: 1px 3px;
}

.pagination p label.paginationText {
	padding-left: 3px;
}

#backWard,#previous,#forWard,#nxt {
	background-image: url(../images/paginationImg.gif);
	background-repeat: no-repeat;
	display: inline-block;
	height: 8px;
}

.disImg {
	opacity: 0.4;
}

#backWard {
	background-position: 0px 0px;
	width: 5px;
}

#previous {
	background-position: -5px 0px;
	width: 4px;
}

#forWard {
	background-position: right top;
	width: 5px;
}

#nxt {
	background-position: -9px 0px;
	width: 4px;
}

.sortOprtn {
	padding: 0 2px;
}

.dscntType { /*display:none;*/
	
}

#subnav {
	border-bottom: 1px solid #b3b3b3;
	background: #FFFFFF;
	display: block;
	overflow: hidden;
	padding: 10px 0 0 0;
}

#subnav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	min-width: 923px;
	padding-left: 10px;
}

#subnav li {
	float: left;
	margin-right: 3px;
}

#subnav ul li a,#subnav ul li a span {
	color: #333;
	text-decoration: none;
	height: 24px;
	line-height: 24px;
	padding: 0 0 0 12px;
	display: block;
	background: url(../images/tabsBg.png) no-repeat left top;
	cursor: pointer;
}

#subnav ul li a span {
	padding: 0 12px 0 0;
	background: url(../images/tabsBg.png) no-repeat right top;
	white-space: nowrap;
}

#subnav ul li a:hover,#subnav ul li a:hover span {
	background: url(../images/tabsActBg.png) no-repeat left top;
	color: #15428b;
}

#subnav ul li a:hover span {
	background-position: right top;
	color: #fff;
}

#subnav ul li a.active,#subnav ul li a.active span {
	background: url(../images/tabsActBg.png) no-repeat left top;
	color: #15428b;
}

#subnav ul li a.active span {
	background-position: right top;
	width: auto;
	color: #fff;
}

#subnav span a {
	padding-right: 15px;
	color: #20a0c9;
	text-decoration: none;
}
/* This styles for IFrame popup */
.ifrmPopupPannel {
	position: absolute;
	z-index: 999999;
	overflow: hidden;
	background-color: #f7f7f7;
	border: 3px solid #bdbdbd;
	left: 50%;
	top: 50%;
}

.ifrmPopupPannel div.headerIframe {
	background: transparent url(../images/tableHeaderBG.png) repeat-x 0 0;
	font-size: 12px;
	line-height: 24px;
	text-indent: 10px;
	font-weight: bold;
	margin-left: -1px;
	border-bottom: 1px solid #bdbdbd;
	height: 24px;
	color: #e8edf1;
}

.ifrmPopupPannel div.headerIframe img.closeIframe {
	cursor: pointer;
	float: right;
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 3px;
}

.ifrmPopupPannel div.headerIframe span.fltRt {
	display: inline-block;
	margin-right: 20px;
	font-style: normal;
	font-weight: normal;
}

.ifrmPopupPannel div.headerIframe span.fltRt img.cursorPointer {
	margin-left: 10px;
}

.ifrmPopupPannel div.headerIframe span.fltRt label {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.min-margin-left {
	margin: 0 5px 0 25px;
}

.bigDropdownBox {
	width: 230px;
}
/***********Gowtham CSS Starts here******************/
#vNav {
	background: url("../images/Verticaltabs_Bg.png") repeat-y scroll 0 0
		transparent;
	margin-top: 15px;
	width: 176px;
}

#vNav li.mainTab,#vNav li.mainTabActive {
	background: url(../images/VerticaltabBg.png) no-repeat;
	line-height: 25px;
	text-indent: 8px;
	margin-bottom: 8px;
}

#vNav li.mainTabActive,#vNav li.mainTab  a:hover,#vNav li.mainTab.active
	{
	background: url(../images/VerticaltabBgDark.png) no-repeat;
}

#vNav li.mainTabActive a {
	color: #FFFFFF;
}

#vNav li.mainTab a {
	color: #FFFFFF;
	font-weight: bold;
	display: block;
}

#vNav li.subTab a {
	display: block;
}

#vNav li a sup { /*vertical-align:top\9;/*ie 8 fix*/
	line-height: 2px;
}
/*#vNav li.subTab {
	display:none;
}*/
/*#vNav ul {
	width:172px;
	margin:0 auto;
}*/
#vNav ul li {
	position: relative;
	background: url(../images/verticaltabgreyBg.png) repeat-x;
	line-height: 28px;
	height: 28px;
}

#vNav li.subTab {
	width: 172px;
	margin: 0 auto;
	border: 1px solid #dad9d9;
	border-width: 0 0 1px 0;
	font-size: 11px;
}
#vNav li.grpTab {
	background:#175584;
	font-weight:bold;
	font-size:12px;
	text-indent:10px;
	border:1px solid #AFB6BC;
	
	color:#fff;
}
#vNav li.subTab a {
	/*background:url(../images/chkrdBullets.png) no-repeat 6px 11px;*/
	text-indent: 20px;
	color: #414346;
	display: block;
}

#vNav li.subTab a:hover,#vNav li.subTab.active a {
	color: #0e6a9e;
}

#vNav li.subTab.active {
	background: url(../images/activeIndctr.png) no-repeat right;
}

#vNav li.subTabLast {
	border-bottom: none;
	background: url(../images/verticaltabgreyBglast.png) repeat-x;
}

.vNavtopBg {
	background: url("../images/Verticaltabs_topBg.png") no-repeat scroll 0 0
		transparent;
	height: 9px;
	width: 176px;
}

.vNavbtmBg {
	background: url("../images/VerticaltabsBtmBg.png") no-repeat scroll 0 0
		transparent;
	height: 23px;
	width: 176px;
}

.rtContPnl {
	margin-top: 15px;
	/*background:#fff url(../images/rtContPnl_bg.png) repeat-x;
	border:1px solid #d2d2d2;
	border-radius:5px 5px 0 0;*/
	width: 766px;
}

.multiSelDropDown {
	height: 100px;
	width: 230px;
}

.selectRadiBtn {
	display: inline !important;
	font-style: normal !important;
	vertical-align: top;
}

input[type="checkbox"] {
	margin: 5px 2px 0;
}
/***********Gowtham CSS ends here******************/

/* IFrame popup style ends here */
.whiteBG {
	background: #fff;
}

.col{
	display:inline-block;
	float:left;	
}
.img-row {
    display: block;
    overflow: hidden;
    width: 300px;
}
.img-row img {
	margin-right:10px;	
}

/* Global Styles */
.clear-fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}

.clear {
	line-height: 0 !important;
	float: none !important;
	clear: both !important;
	display: block !important;
	font-size: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 0 !important;
}

.clearBoth {
	clear: both !important;
}

.floatL {
	float: left !important;
}

.floatR {
	float: right !important;
}

a img {
	border: 0;
}

a {
	outline-width: 0px;
	text-decoration: none;
	color: #465259;
}

ul,li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.removeBtmBrdr {
	border-bottom: 0px !important;
}

.highLightErr {
	color: #FF0000 !important;
}

.errDisp {
	color: red;
	font-weight: normal;
	display: none;
}

.errIcon {
	background: transparent url(/ScanSeeAdmin/images/err_icon1.png)
		no-repeat 2px center;
	display: block;
	text-indent: 10px;
	margin: 1px 0;
	width: 90%;
	padding: 1px 0;
}

.mandTxt {
	background: transparent url(/ScanSeeAdmin/images/mand2.png) no-repeat
		right 2px;
	padding-right: 10px;
}
/* Global Style Ends */
.selReleaseSec {
	margin-top: 5px;
	border-top: 1px solid #dadada;
}

.table-border-none tr td {
	border: none;
	padding: 0;
}

.minHt {
	min-height: 456px;
}

td.zeroPdng {
	padding: 0px !important;
}

.tdPdng {
	padding: 8px 8px 4px 8px;
}

.textboxBigFit {
	width: 230px !important;
}

.txtAreaBigFit {
	width: 230px;
	height: 100px;
}

.txtAreaFit {
	width: 230px;
	height: 50px;
}

.brdrTop {
	border-top: 1px solid #DADADA
}

/*HubCiti manage postal code changes start*/
.grdTbl td.remove-rt-brdr {
	border-right: 0px !important;
}

.grdTbl td.zeroPdng {
	padding: 0px !important;
}

.searchGrd tr.header td {
	color: #fff !important;
}

#clone-th {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
}

.relative {
	position: relative;
}

.infoTxt {
	font-size: 11px;
	color: #999999;
	height: 20px;
	line-height: 20px;
}

.infoTxt input {
	vertical-align: text-bottom;
}

.list-view li {
	clear: left;
	display: block;
	border-bottom: 1px solid #C1E4F0;
	overflow: hidden;
}

.list-view li span {
	display: inline-block;
	float: left;
	font-style: normal;
	color: #465259;
	line-height: 20px;
}

.list-view li span.col1 {
	width: 34%;
	margin-right: 2%;
	text-indent: 7px;
}

.list-view li span.col2 {
	width: 60%;
	padding: 1% 1.5%;
	border-left: 1px solid #C1E4F0;
	word-break: break-all;
}
/*HubCiti manage postal code changes end*/

/*Manage event category style starts */
.ctgryassoci {
	display: none;
	background: none repeat scroll 0 0 #FFEDED;
	border: 1px solid #FF8282;
	color: #FF0000;
	display: none;
	font-size: 11px;
	font-style: normal;
	margin-top: 10px;
	padding: 10px 4px;
}
/*alerts style starts*/
.alertBx {
	background: url(../images/alertsBG.png) no-repeat;
	width: 330px;
	height: 37px;
	line-height: 37px;
	vertical-align: text-top;
	margin: 0 0 10px 0;
	position: relative;
}

.alertBx span.actn-close {
	position: absolute;
	right: 4px;
	top: 4px;
	background: url(../images/icon-close.png) no-repeat center;
	display: inline-block;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.alertBx span.actn-close:hover {
	background-color: #dedede;
}

.success .msgBx,.failure .msgBx,.warning .msgBx {
	background: url(../images/icon-success.png) no-repeat 10px center;
	padding-left: 50px;
	height: 37px;
	color: #4f9828;
}

.emptyctgry,.emptysearh,.emptycitiexp,.evtdupctgry,.emptycatimg {
	display: none;
	color: #FF0000;
	font-size: 12px;
	font-style: normal;
}

.dupctgry {
	display: none;
	color: red;
	font-size: 12px;
}

.alertInfo {
	background: none repeat scroll 0 0 #A5DEFF;
	color: #1A7F00 !important;
	height: 17px;
	padding: 4px;
	position: relative;
	width: 99%;
}

.alertErr {
	background: none repeat scroll 0 0 #FFBEBE;
	color: #FF0000 !important;
	display: none;
	height: 17px;
	padding: 4px;
	position: relative;
	width: 99%;
}

.alrtClose {
	background: none repeat scroll 0 0 #000;
	color: #FFFFFF;
	display: inline-block;
	font-stretch: normal;
	font-weight: bold;
	height: 16px;
	line-height: 15px;
	position: absolute;
	right: 6px;
	text-align: center;
	width: 16px;
}

.evtMrgnRt {
	margin-right: 50px !important;
}

.cntrAlgn {
	margin: 15px auto !important;
}
/*horizontal scroll for table*/
.HrzScrl {
	overflow-x: scroll !important;
	width: 766px;
}

.row-edit,.row-edit-band,.row-save,.row-save-band {
	width: 60px !important;
}

.row-save,.row-save-band {
	display: none;
}

.HrzScrl input[type="text"] {
	border-width: 1px !important;
	width: 100% !important;
}

tr.curRow {
	background: #C8EBF6;
}

.highLightMsg {
	color: #1C9E45 !important;
}

tr.hilite td {
	background: #eaeaea;
}

.requiredVal {
	background-color: #C93232;
}

.HrzScrl input[type="text"] {
	border-width: 1px !important;
	width: 100% !important;
}

.labelInfoTxt {
	color: #999999;
	font-size: 9px;
}

.overlay {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.2;
	display: none;
}

.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 1px solid #ff0000;
	padding: 0px 12px 8px;
	/*margin: 16px;*/
}

.roleRtContPnl {
	margin-top: 15px;
	width: 100%;
}

.roleScrlGrd {
	height: 336px;
	overflow: auto;
	padding: 8px 0 0;
	max-width: 956px;
}

.roleHrzScrl {
	overflow-x: scroll !important;
	width: 956px;
}

.alertCatErr {
	background: none repeat scroll 0 0 #FFBEBE;
	color: #FF0000 !important;
	height: 17px;
	padding: 4px;
	position: relative;
	width: 99%;
}

.topPadding {
	padding-top: 10px;
}

.ie8 .topPadding,.chrome .topPadding {
	position: relative;
}

.ie8 .topPadding  #trgrUpld,.ie8 .topPadding  #trgrUpldCrtdPage,.ie8 .topPadding  #trgrUpldSplPage,.chrome .topPadding  #trgrUpld,.chrome .topPadding  #trgrUpldCrtdPage,.chrome .topPadding  #trgrUpldSplPage
	{
	top: 12px;
	width: 70px !important;
	left: 2px !important;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity =                               0);
	z-index: 44;
}

span.forceBlock {
	display: block !important;
}

#trgrUpld,#trgrUpldCrtdPage,#trgrUpldSplPage {
	position: absolute;
	top: -1000px;
	/* Netscape */
	-moz-opacity: 0;
	/* Safari 1.x */
	-khtml-opacity: 0;
	/* Good browsers */
	opacity: 0;
	cursor: pointer;
}

.imgInfoSplit li {
	float: left;
	width: 30%;
}

.ifrmPopupPannelImage {
	position: absolute;
	z-index: 999999;
	width: 99.5%;
	overflow: hidden;
	background-color: #f7f7f7;
	border: 3px solid #bdbdbd;
	left: 0 !important;
	top: 0 !important;
}

.ifrmPopupPannel,.ifrmPopupPannelImage,.ifrmPopupPannel2,div.headerIframe {
	background: transparent url(/ScanSeeAdmin/images/tableHeaderBG.png)
		repeat-x 0 0;
	font-size: 12px;
	line-height: 24px;
	/*text-indent: 10px; */
	font-weight: bold;
	margin-left: -1px;
	border-bottom: 1px solid #bdbdbd;
	height: 24px;
	color: #e8edf1;
}

.ifrmPopupPannelImage {
	cursor: pointer;
	float: right;
	vertical-align: middle;
	display: inline-block;
}

.ifrmPopupPannel,.ifrmPopupPannelImage,.ifrmPopupPannel2,div.headerIframe span.fltRt {
	display: inline-block;
	margin-right: 20px;
	font-style: normal;
	font-weight: normal;
}

.txt-nowrp {
	white-space: nowrap;
}

.closeIframe {
	float: right;
	margin-right: 3px;
	margin-top: 3px;
}

.cateImageErr {
	color: red;
	font-style: 45;
	display:block;
}

#couponImg {
    border-radius: 50%;
}

.cstmbtn {
	border: 1px solid #cacfcf;
	background: url(../images/btnBG.png) repeat-x 0 0;
	height: 24px;
	line-height: 24px;
	color: #4e5458;
	padding: 0 15px;
	cursor: pointer;
	overflow: visible; /*Fix for button width*/
	font-size: 12px !important;
	font-weight: bold;
	margin: 0 2px;
	font-family: Arial, Helvetica, sans-serif;
	width: 110px
}
.img-row {
    display: block;
    overflow: hidden;
    width: 300px;
}
.img-row img {
	margin-right:10px;	
}

.col{
	display:inline-block;
	float:left;	
}

.mrgnTopSmall {
    margin-top: 3px;
}

.cntrls {
	float:left;	
}

.slct-cntrls {
	width:30px;
	height:98px;
	border:1px solid #dedede;	
}

.slct-cntrls a:hover {
	background-color:#efefef;
}

.slct-cntrl-add,.slct-cntrl-edit,.slct-cntrl-del {
	border-bottom:1px solid #dedede;
	display:block;
	height:32px;
	width:30px;
}

.slct-cntrl-add {
	background:url(../images/add_icon.png) no-repeat center;	
}

.slct-cntrl-edit{
	background:url(../images/edt_icon.png) no-repeat center;	
}

.slct-cntrl-del {
	background:url(../images/delete_icon.png) no-repeat center;	
}

.fltrValue .btn {
	margin:0;	
}

.fltrValue {
	display:none;	
}

.fltrValueRow {
	display:none;	
}

.dynamicList .info {
    clear: left;
    display: block;
    font-size: 11px;
    width: 100%;
}

.msg {
    color: red;
    float: left;
    margin: 30px 10px;
    text-align: center;
    width: 50%;
}

.error {
color:red;
}

.success {
color:#00559c;
}

/*----------- Export Changes Start-------------*/

.form-list li span {
    display: inline-block;
    font-style: normal;
}

.form-list > li {
    padding: 0 0 10px;
}

.form-list li input[type="radio"] {
    vertical-align: text-top;
}

.form-list li input[type="checkbox"] {
	vertical-align:text-bottom;
	margin-right:5px;	
}

/*----------- Export Changes End-------------*/

/*----------- Nationwide Changes Starts-------------*/

#nationwide {
	display:none;	
}

.cstm-hdr {
    background: #eeeeee;
}

.nw-list li {
    float: left;
    padding: 4px 0;
    width: 50%;
}

.multipleInputs input[type="radio"] {
	 vertical-align: text-top;
}

.multipleInputs label{
	margin-right:10px;	
}

.multiSelDropDown {
	height: 100px;
	width: 230px;
	padding: 2px;
	font-size: 11px;
}

.modal-popup {
	background: #fff;
	border: 3px solid #bdbdbd;	
	width: 400px;
	position: relative;
	margin: 18% auto 0;

}
.modal-hdr {
	background: #020B13 url("../images/tableHeaderBG.png") left top;
    border-bottom: 1px solid #bdbdbd;
    color: #e8edf1;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 28px;
    margin-left: -1px;
    text-indent: 10px;
	position:relative;
}

.modal-bdy {
	padding: 10px 14px 10px 12px;
}

.modal-ftr {
	padding: 10px 12px;
	border-top: 1px solid #DDDDDD;
	box-shadow: 0 1px 0 #FFFFFF inset;
	background: #F0F0F0;
	background-color: #F5F5F5;
	border-radius: 0 0 6px 6px;
}

.modal-close {
    color: #000000;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    position: absolute;
    right: 4px;
    text-shadow: 0 1px 0 #ffffff;
	top: 6px;
}

.modal-popupWrp {
	position: absolute;
	display: none;
	z-index: 9999;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/overLay.png) repeat;
}

.modal-popup {
	display: none;
}

.zerobrdrTbl td {
	padding: 0 4px;
}

.modal-cont {
	border: 1px solid #dadada;
	margin: 0;
}



/* Modal popup styles */
.cmnList li.actn a {
	color: #06C;
}
.cmnList li.actn {
	border-bottom: 0px!important;
}
.infoList {
	padding: 10px;
	border: 1px solid #dedede;
	height: 200px;
	overflow: scroll;
	overflow-x: hidden;
}
.infoList li {
	line-height: 20px;
	padding: 4px 0;
	border-bottom: 1px dotted #dedede;
}
.infoList li span.cell {
	display: block;
	overflow: hidden;
	/*white-space:nowrap;*/
	width: 100%;
}
.infoList li span.cell:first-child {
	font-weight: bold;
}
.infoList li span.cell:last-child {
	margin-left: 25px;
	color: #7f838f;
	width: 92%;/*white-space:pre-line;*/
}
.infoList li span input {
	vertical-align: text-top;
	margin-right: 10px;
}
.infoList li span input {
    vertical-align: text-bottom;
    margin-right: 10px;
}
.infoList li li{
	margin-left:28px;
	border-bottom:0;
}
.sub-ctgry{
	display:none;	
}
.sub-ctgry li input {
	vertical-align:middle;
}
.sub-ctgry li label{
	margin-left:4px;
}
.menuLst li span {
	color: #393D43;
	padding: 2px 0;
}
.input-actn{
    color: #fff;
    background: #3A85AF;
    padding: 4px 11px;
    border-radius: 3px 3px 0 0;
}
/* Modal popup styles */

/*filter changes */

.ifrmPopupPannel2 {
	position: absolute;
	z-index: 999999;
	overflow: hidden;
	background-color: #f7f7f7;
	border: 3px solid #bdbdbd;
	left: 50%;
	top: 50%;
}
.ifrmPopupPannel2 div.headerIframe {
	background: transparent url(../images/tableHeaderBG.png) repeat-x 0 0;
	font-size: 12px;
	line-height: 24px;
	text-indent: 10px;
	font-weight: bold;
	margin-left: -1px;
	border-bottom: 1px solid #bdbdbd;
	height: 24px;
	color: #e8edf1;
}
.ifrmPopupPannel2 div.headerIframe img.closeIframe {
	cursor: pointer;
	float: right;
	vertical-align: middle;
	margin-top: 3px;
	margin-right: 3px;
}

.ifrmPopupPannel2 div.headerIframe span.fltRt {
	display: inline-block;
	margin-right: 20px;
	font-style: normal;
	font-weight: normal;
}

.ifrmPopupPannel2 div.headerIframe span.fltRt img.cursorPointer {
	margin-left: 10px;
}

.ifrmPopupPannel2 div.headerIframe span.fltRt label {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.tabularPnl {
    overflow: hidden;
    padding: 1%;
}
.tabularPnl .row .col {
    margin: 1%;
    width: 47.78%;
}
.row.single .col {
    width: 97.5%;
}
.treeview li.subCtgry {
    text-indent: 24px;
}
.tabularPnl {
    background: #f6f6f6 none repeat scroll 0 0;
    min-height: 560px;
}
.tabularPnl li.subCtgry {
    display: none;
}
.tabularPnl .row {
    margin-bottom: 16px;
    overflow: hidden;
}
.tabularPnl .col {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d1d1d1;
    box-shadow: 1px 1px 2px 0 rgba(50, 50, 50, 0.15);
   /* display: none;*/
}
.treeview {
    height: 202px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.treeview li {
    border-bottom: 1px solid #f1f1f1;
    padding: 8px 0;
    text-indent: 8px;
}
.pnlHdr {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom: 2px solid #5893ce;
    font-size: 16px;
    padding: 4px;
    text-indent: 4px;
}
.mainCtgry > label, .subCtgry > label {
    vertical-align: top;
}
.subCtgry > label {
    color: #778197;
}
.mainCtgry {
    font-weight: bold;
}
.info li {
    border-bottom: 1px solid #e5e5e5;
    padding: 4px;
}
.highlight-text {
    color: red;
    font-size: 1.4em;
    margin-top: 4px;
}
.sub-title {
    background: rgba(0, 0, 0, 0) url("../images/grdHeaderBg.png") repeat-x scroll 0 0;
    border-bottom: 1px solid #ebedef;
    color: #434343;
    font-weight: bold;
    line-height: 22px;
    padding: 4px 8px;
}
.sub-actn {
    display: inline-block;
    margin-left: 77%;
    position: relative;
}
.info:not(first-child) {
    color: red;
}


.overlayBg {
    background: url("../images/overLay.png") repeat;
    height: 100vh;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
.valign > a {
    color: #b3b3b3;
    display: block;
}
.valign > a img {
    vertical-align: middle;
}
.mainCtgry > label, .subCtgry > label {
    
}
.tabularPnl input[type="checkbox"] {
    margin: 0 4px;
}
.cntrlPnl {
    padding: 4px;
    text-align: center;
}
p.highLightMsg,#message{
display:none;
}